@font-face {
	font-family: 'OSP_Levit';
	src: url('http://localhost:8080/fonts/osp_le-patin-helvete-webfont.eot');
	src: url('http://localhost:8080/fonts/osp_le-patin-helvete-webfont.eot?#iefix') format('embedded-opentype'),
		url('http://localhost:8080/fonts/osp_le-patin-helvete-webfont.woff') format('woff'),
		url('http://localhost:8080/fonts/osp_le-patin-helvete-webfont.svg') format('svg');
}