@charset "UTF-8";
@import url("http://localhost:8080/webfonts/OSP_Levit/stylesheet.css");
.body_img  {
	right: 0px;
	padding-left: 876px;
}
.body_img_delivery  {
	right: 0px;
	padding-right: 50px;
}
.details {
	font-family: "OSP_Levit";
	text-align: right;
	padding-right: 70px;
}
.date {
	font-family: "OSP_Levit";
	/* [disabled]float: none; */
	padding-left: 10px;
}
.title {
	font-family: "OSP_Levit";
	text-align: center;
	font-size: xx-large;
}
.delivery_nm {
	font-family: "OSP_Levit";
	text-align: left;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 11px;
	color: rgba(161,0,0,1.00);
}
.table_title_cn {
	font-family: "OSP_Levit";
	font-weight: normal;
	word-spacing: normal;
	/* [disabled]float: none; */
	padding-left: 50px;
	margin-top: 50px;
	font-size: medium;
}
.table_titile_description {
	font-family: "OSP_Levit";
	font-weight: bold;
	padding-left: 200px;
	/* [disabled]float: right; */
	text-align: right;
	margin-top: 50px;
}
.delivery_table_title {
	font-family: "OSP_Levit";
	font-weight: normal;
	/* [disabled]float: right; */
	text-align: right;
	font-size: 12px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.delivery_table {
	font-family: "OSP_Levit";
	font-weight: normal;
	/* [disabled]float: right; */
	text-align: right;
	margin-top: -15px;
	font-size: 12px;
}
.table_nm {
	font-family: "OSP_Levit";
	padding-left: 10px;
	padding-right: 100px;
	line-height: 10px;
}
.table_cn {
	font-family: "OSP_Levit";
	padding-left: 50px;
	line-height: 10px;
}
.table_description {
	font-family: "OSP_Levit";
	line-height: 10px;
}
.products_table {
}
.table_sum {
	font-family: "OSP_Levit";
	font-weight: bold;
	text-align: right;
	margin-right: 700px;
}
.table_sum_nm {
	font-family: "OSP_Levit";
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}
.row_hight {
	height: 50px;
}
.payment {
	/* [disabled]float: none; */
	font-family: "OSP_Levit";
	font-weight: bold;
	margin-top: 500px;
	padding-right: 70px;
}
.footer {
	text-align: right;
	font-family: "OSP_Levit";
	font-size: small;
	padding-left: 100px;
	/* [disabled]float: right; */
	padding-top: 100px;
	padding-right: 10px;
}
.footer_left {
	text-align: left;
	font-family: "OSP_Levit";
	font-size: small;
	padding-top: 100px;
}
.delivery_name {
	font-family: "OSP_Levit";
	font-size: 16px;
	padding-right: 50px;
}
.delivery_paragraph {
	font-family: "OSP_Levit";
	font-size: 12px;
	padding-right: 50px;
}
.delivery_footer {
	font-family: "OSP_Levit";
	font-size: 10px;
	color: rgba(136,136,136,1.00);
    page-break-after: always;
}
