<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Clearance failed</title>
    <style>
    tab { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }

</style>
</head>
<body>


<div th:include="TopMenu" />
<h1>התשלום לא התקבל</h1>

<td><input type="button" id ="btn" th:onclick="'location.href = \'' + @{/admin/customers/orders} +'\';'" onmouseover="" style="cursor: pointer;" value="חזרה לעמוד הקודם"/></td>

</body>
</html>