<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Clear orders</title>
</head>
<body style="margin:0px;">
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">הזמנת לקוחות - גביה</p>
            </td>
            <td width="500px"></td>
            <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/customers/orders} + '\';'" value="חזרה"/></td>
            <td>
                <div id="loader" class="loader" style="display:block;"></div>
            </td>
        </tr>
    </table>
</div>

<div class="customer_order_details">
    <table>
        <tr>
            <th>
                <p>מספר הזמנות לגביה:</p>
            </th>
            <th>
                <p th:text= "${column['numberOfOrders']}" />
            </th>
            <th>
                <p>תאריך משלוח:</p>
            </th>
            <th>
                <p th:text= "${column['deliveryDate']}" />
            </th>
        </tr>
    </table>
</div>

<div class="report_results">
    <iframe id="mainIframe" th:src="'/admin/customers/orders/clearAll?date=' + ${column['deliveryDate']}" style="width:100%; height:400px;" onload="checkDone();"></iframe>
</div>

<script>
    function showLoader(){
            document.getElementById('loader').style.display = "block";
    }

    function checkDone () {
        document.getElementById('loader').style.display = "none";
    }

</script>

</body>
</html>