<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
</head>
<body>

<div class="report_results_iframe">
    <table width="800px">
        <thead>
        <tr>
            <th colspan="6">חיובים שנכשלו</th>
        </tr>
        <tr>
            <td>מספר הזמנה</td>
            <td>שם לקוח</td>
            <td>סכום</td>
            <td>מספר כרטיס</td>
            <td>תאריך תפוגה</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${order['extra']} == 'נכשל'" th:each="order : ${ordersFailed}" >
            <td th:text="${order['id']}" />
            <td th:text="${order['firstName']} + ' ' + ${order['lastName']}"/>
            <td th:text="${order['sum']}"/>
            <td th:text= "'XXXX-XXXX-XXXX-' +${order['clearingFourDigits']}" />
            <td th:text="${order['clearingMonth']} + '/' + ${order['clearingYear']}"/>
        </tr>
        </tbody>
    </table>

    <br />

    <table width="800px">
        <thead>
        <tr>
            <th colspan="6">חיובים שהצליחו</th>
        </tr>
        <tr>
            <td>מספר הזמנה</td>
            <td>שם לקוח</td>
            <td>סכום</td>
            <td>מספר כרטיס</td>
            <td>תאריך תפוגה</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${order['extra']} == 'בוצע'" th:each="order : ${ordersDone}" >
            <td th:text="${order['id']}" />
            <td th:text="${order['firstName']} + ' ' + ${order['lastName']}"/>
            <td th:text="${order['sum']}"/>
            <td th:text= "'XXXX-XXXX-XXXX-' +${order['clearingFourDigits']}" />
            <td th:text="${order['clearingMonth']} + '/' + ${order['clearingYear']}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script th:inline="javascript">
/*<![CDATA[*/
    var done = [[${done}]];
    if (!done) {
        location.reload();
    }
/*]]>*/
</script>
</html>