<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Coupon notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
</head>
<body>

</body>
<div>
    <a href="https://www.shookbook.co.il"><img src="http://www.shookbook.co.il/email/new_logo_small.png" alt=""  class="couponMailLogo"/></a>
</div>
<div id="couponEmailText">
    <p class="couponMailDefaultParagraph" th:text="${column['firstName']} + ' שלום,'"></p>
    <p class="couponMailSection2" th:text="'אנו שמחים לבשר לך שקניותך בשוקבוק בשנה החולפת השתלמו והפכת ללקוח '"></p>
    <p class="couponMailSection2Inline" th:text="${column['status']} + ' במועדון הלקוחות שלנו.'"/>
    <p class="couponMailSection2Inline" th:text="' החל מהיום ולאורך כל השנה יזקפו לחשבונך ההטבות של לקוח '" />
    <p class="couponMailSection2Inline" th:text="${column['status']}" />
    <p class="couponMailSection2Inline" th:text="', הכוללות בין היתר:'" />
    <p class="couponMailListParagraph"> - דמי משלוח נמוכים בסך 18 שקלים ללא תלות בעלות המשלוח.</p>
    <p class="couponMailListParagraph"> - צבירת נקודות מואצת.</p>
    <p class="couponMailListParagraph"> - הטבות נוספות שישלחו במהלך השנה.</p>
    <p class="couponMailDefaultParagraph"></p>
    <p class="couponMailDefaultParagraph">תודה ולהתראות,</p>
    <p class="couponMailSignature">צוות שוקבוק</p>
    <p class="couponMailSignature">שוקבוק - מגדלים בשבילך</p>
</div>
</html>