<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Coupon Details</title>
</head>
<body style="margin: 0px;">
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">ניהול קופונים - פרטי קופון</p>
            </td>
            <td width="500px"></td>
            <td>
                <button class="button" th:onclick="'location.href = \'' + @{/admin/coupons/csv/usage} + '?couponId=' + ${column['id']} + '\';'">שמור קובץ</button>
            </td>
            <td>
                <button class="button"> <a th:href="'mailto:customer_support@shook-book.com?bcc=' + ${column['bccList']}" style="color:#ffffff; text-decoration:none;">שלח מייל</a></button>
            </td>
        </tr>
    </table>
</div>


<div class="coupon_details">
    <table>
        <tr>
            <td><b>מספר קופון</b></td>
            <td>
                <p><strong th:text="${column['title']}" /></p>
            </td>
            <td>
                <p><strong>תאריך הנפקה</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['createdDate']}" /></p>
            </td>
            <td>
                <b>תאור</b>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>

<div>
    <table class="collapsable_coupons">
        <thead>
        <tr>
            <th colspan="6"><p th:text="'משתמשים: ' + ${column['usage']}"/></th>
        </tr>
        </thead>
        <tbody class="collapsable_coupons_label">
        <tr>
            <th width="10px">
                <label for="customer_coupons">
                    <a class="arrow">
                        <img class="arrow_img rotate270" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
                    </a>
                </label>
                <input type="checkbox" name="customer_coupons" id="customer_coupons" data-toggle="toggle" />
            </th>
            <th width="200px">שם לקוח</th>
            <th>כתובת מייל</th>
            <th>מספר הזמנה</th>
        </tr>
        </tbody>
        <tbody class="hide">
        <tr th:each="order : ${orders}" >
            <td></td>
            <td>
                <p th:text="${order['fullName']}"/>
            </td>
            <td>
                <p th:text="${order['email']}"/>
            </td>
            <td>
                <p th:text="${order['OrderId']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} +'?id=' + ${order['OrderId']} + '\';'"/>
            </td>
        </tr>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
	   $('[data-toggle="toggle"]').change(function(){
		  $(this).parents().next('.hide').toggle();
	   });
    });

    $('.arrow').on("click", function (event) {
       $('.arrow_img').toggleClass('rotate270');
       $('.arrow_img').toggleClass('rotate0');
    });
    </script>
</div>
</body>
</html>