<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Customer coupon</title>
</head>

<body style="margin: 0px;">
<form th:action="@{/admin/customers/coupon/submit}" method="post">

    <div th:include="Header" />

    <div id="page_title">
        <table>
            <tr>
                <td colspan="3">
                    <p style="display:inline;">קופונים - יצירת קופון</p>
                </td>
                <td width="175px"></td>
                <td>
                    <input type="hidden" name="customerId" th:value="${column['customerId']}" />
                    <input type="hidden" name="orderId" th:value="0" />
                    <input type="hidden" name="couponLeadCustomerEmail" th:value="0" />
                    <button class="button" type="submit">שמור</button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table class="customer_details">
            <tr>
                <th colspan="2"><b>הפקת קופון ללקוח מספר:</b></th>
                <th colspan="3">
                    <p><strong th:text="${column['barcode']}" /></p>
                </th>
            </tr>
            <tr>
                <td> <p>שם:</p> </td>
                <td> <p th:text="${column['fullName']}" /> </td>
                <td> <p>מייל:</p> </td>
                <td colspan="2"> <p th:text="${column['email']}" /> </td>
                <td> <p>נקודות בצבירה:</p> </td>
                <td> <p th:text="${column['creditPoints']}" /> </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="customer_details">
            <tr>
                <td>סוג קופון:</td>
                <td>
                    <select name="couponType" id="couponType">
                        <optgroup>
                            <option value="5">סכום הנחה</option>
                            <option value="7">אחוזי הנחה</option>
                            <option value="9">מימוש נקודות</option>
                        </optgroup>
                    </select>
                </td>
                <td>סיבה:</td>
                <td>
                    <select name="couponCause" id="couponCause">
                        <optgroup>
                            <option value="0">מוצר פגום</option>
                            <option value="6">אריזה</option>
                            <option value="1">משלוח</option>
                            <option value="2">פיצוי</option>
                            <option value="3">כללי</option>
                        </optgroup>
                    </select>
                </td>
                <td>סכום קופון:</td>
                <td>
                    <input type="text" name="couponAmount" />
                </td>
                <td>הערות:</td>
                <td>
                    <input type="text" name="couponDetails" />
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>