<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Coupon notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
</head>
<body>

</body>
<div>
    <a href="https://www.shookbook.co.il"><img src="http://www.shookbook.co.il/email/new_logo_small.png" alt=""  class="couponMailLogo"/></a>
</div>
<div id="couponEmailText">
    <p class="couponMailDefaultParagraph" th:text="${column['firstName']} + ' שלום,'"></p>
    <p class="couponMailSection2" th:text="' בהמשך לפניתך לשרות לקוחות, מצורף קוד קופון על סך ' + ${column['couponAmount']} + ' שקלים, '"></p>
    <p class="couponMailSection2Inline" th:if="${column['couponType']} == 'DISCOUNT'" th:text="'עבור מוצרים באיכות לא מספקת.'" />
    <p class="couponMailSection2Inline" th:if="${column['couponType']} == 'COMBINED'" th:text="'לקניה הבאה באתר שוקבוק.'" />
    <p class="couponMailSection2Inline" th:if="${column['couponType']} == 'POINTS'" th:text="'עבור מימוש נקודות.'" />
    <p class="couponMailDefaultParagraph">את הקוד יש לטעון, כמו שמופיע, בדף עגלת הקניות, לפני סיום ביצוע ההזמנה.</p>
    <p id="couponEmailCouponTitle" th:text="${column['couponTitle']}" />
    <p class="couponMailDefaultParagraph">תודה ולהתראות,</p>
    <p class="couponMailSignature">צוות שוקבוק</p>
    <p class="couponMailSignature">שוקבוק - מגדלים בשבילך</p>
    <p th:if="${column['DisplayQRcode']} == 1" class="copounQRcode" id="copounQRcode"> </p>
</div>

<script th:if="${column['DisplayQRcode']} == 1" th:inline="javascript">
    jQuery('#copounQRcode').qrcode({width: 100, height: 100, text: [[${column['couponTitle']}]]});
</script>

</html>