
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Customer Coupons</title>
</head>
<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">ניהול קופונים</p>
            </td>
            <td>
                <select class="filter" id="filter" th:onchange="'location.href = \'' + @{/admin/coupons} + '?filter=\' + filter.value;'">
                    <optgroup>
                        <option th:text="${filter}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">הכל</option>
                        <option value="1">שנה</option>
                        <option value="2">3 חודשים</option>
                        <option value="3">הנחה קבוצתית</option>
                        <option value="4">קבוצות</option>
                        <option value="5">מוצר פגום</option>
                        <option value="9">אריזה</option>
                        <option value="6">משלוח</option>
                        <option value="7">פיצוי</option>
                        <option value="8">כללי</option>
                        <option value="10">מותג</option>
                    </optgroup>
                </select>
            </td>
            <td width="560px"></td>
            <td>
                <input class="button" type="button" value="יצירת קופון" th:onclick = "'location.href = \'' + @{/admin/coupons/create/} + '\';'"/>
            </td>
            <td th:if="(${customer_support} OR ${admin})">
                <input class="button" type="button" value="קופון מותג" th:onclick = "'location.href = \'' + @{/admin/coupons/brand/create/} + '\';'"/>
            </td>
            <td>
                <input class="button" type="button" value="שמור קבוצות" th:onclick = "'location.href = \'' + @{/admin/coupons/csv/exportGroups/} + '\';'"/>
            </td>
        </tr>
    </table>
</div>
<br />
<div class = "coupons">
<table>
    <tr>
        <th>מספר קופון</th>
        <th>סכום</th>
        <th>סוג</th>
        <th>סיבה</th>
        <th>תאריך הפקה</th>
        <th>שם לקוח</th>
        <th>דואר אלקטרוני</th>
        <th>הזמנה מקושרת</th>
        <th>תאור</th>
        <th>קוד קבוצה</th>
        <th>שימושים</th>
    </tr>
    <tr th:each="column : ${columns}" >
        <td th:text="${column['couponTitle']}" th:onclick="'location.href = \'' + @{/admin/coupons/coupon} + '?id=' + ${column['couponId']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:text="${column['couponAmount']}"/>
        <td th:text="${column['couponTypeHeb']}"/>
        <td th:text="${column['couponCauseHeb']}"/>
        <td th:text="${column['couponDate']}"/>
        <td th:text="${column['customerName']}" th:onclick="'location.href = \'' + @{/admin/customers/customer} + '?id=' + ${column['customerId']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:text="${column['customerMailAddress']}"/>
        <td th:text="${column['couponOrder']}"/>
        <td th:text="${column['couponDetails']}"/>
        <td th:text="${column['couponGroup']}"/>
        <td th:text="${column['couponUsage']}"/>
    </tr>
</table>
</div>

</body>
</html>