<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Coupon notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
</head>
<body>

</body>
<div>
    <a href="https://www.shookbook.co.il"><img src="http://www.shookbook.co.il/email/logo_small.png" alt=""  style="width:100px; height:auto; padding-right:20px; padding-top:20px; padding-bottom:20px;"/></a>
</div>
<div id="couponEmailText">
    <table>
        <tr>
            <td style="text-align:center;">
                <p style="font-size:30px; color: #a10000; padding-right:150px;" th:text="${column['couponDetails']}" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <p style="font-size:30px; color: #a10000; padding-right:150px;" th:text="${column['couponTitle']}" />
            </td>
        </tr>
    </table>
    <br />
    <p style="padding-right:50px;"></p>
    <a href="https://www.shookbook.co.il/wp-content/uploads/2017/10/group.jpg" rel="attachment wp-att-24702"><img style="float:left; text-align:left; vertical-align:center; width:400px; height:auto;" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/group.jpg" alt="group" /></a>
    <p style="padding-right:50px;">אנחנו בשוקבוק מבינים שאתם אוהבים להמליץ לחברים ולבני משפחה על השירות והמוצרים הטריים שחקלאי שוקבוק מספקים לכם עד הבית מידי שבוע.</p>
    <p style="padding-right:50px;">מהיום אתם לא רק מספרים להם אלא גם מוסיפים אותם לקבוצה שלכם ומצ'פרים אותם בהטבות ייחודיות לחברי הקבוצה מדי חודש. המבצע פתוח לכל אחת ואחד מכם ואינו מוגבל בכמות החברים שאתם יכולים להוסיף לקבוצה.</p>
    <p style="padding-right:50px;">אז איך רושמים חברים לקבוצה? פשוט מאוד, אתם כבר רשומים. כל מי שרוצה להצטרף קבוצה שלכם פשוט צריך להזין במהלך אחת הקניות שלו בשוקבוק את הקוד שמופיע בכותרת. ברגע הזנת הקוד החבר או החברה הצטרף באופן מיידי לקבוצה שלכם.</p>
    <p style="padding-right:50px;">המלצה שלנו, בקשו מהחברים שהוספתם לקבוצה להמשיך להפיץ את הקוד שלכם על מנת להמשיך ולהגדיל את הקבוצה. את הקוד ניתן לשתף בכל דרך והוא פתוח לכל אחד. ניתן להשתמש בקוד ללא הגבלת חברים אבל כל חבר יכול להירשם לקבוצה פעם אחת בלבד.</p>
    <p style="padding-right:50px;">מידי חודש נשלח לכם ולכל חברי הקבוצה הטבה* יחודית למימוש באתר.</p>
    <p style="padding-right:50px;">כיצד עוקבים אחרי הקבוצות שלי? פשוט נכנסים לאתר שוקבוק, ולוחצים על האיזור הפרטי (בחלק העליון של העמוד). בעמוד האישי שלכם, תחת הקבוצות שלי, תוכלו לראות לאיזה קבוצות אתם שייכים וכמה חברים יש בכל קבוצה.</p>
    <p style="padding-right:50px;">לכמה קבוצות אפשר להצטרף? המספר אינו מוגבל. ניתן ליזום קבוצה או להצטרף לקבוצה קיימת, אך בכל הטבה שתישלח ניתן להשתמש פעם אחת ולא ניתן להשתמש בשתי הטבות שונות באותה הזמנה.</p>
    <br />
    <p style="padding-right:50px; line-height:5px; color: #a10000;">צוות שוקבוק</p>
    <p style="padding-right:50px; line-height:5px; color: #a10000;">שוקבוק - מגדלים בשבילך</p>
    <br />
    <p th:if="${column['DisplayQRcode']} == 1" class="copounQRcode" id="copounQRcode"> </p>
    <p style="padding-right:50px;">*אופי ההטבה ותנאיה עשויים להשתנות מעת לעת.</p>
</div>

<script th:if="${column['DisplayQRcode']} == 1" th:inline="javascript">
    jQuery('#copounQRcode').qrcode({width: 100, height: 100, text: [[${column['couponTitle']}]]});
</script>

</html>