<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Credit notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
</head>
<body>

</body>
<div>
    <a href="https://www.shookbook.co.il"><img src="http://www.shookbook.co.il/email/new_logo_small.png" alt=""  class="couponMailLogo"/></a>
</div>
<div id="couponEmailText">
    <p class="couponMailDefaultParagraph" th:text="${column['firstName']} + ' שלום,'"></p>
    <p class="couponMailDefaultParagraph" style = "margin: 0;" th:text="'תודה עבור הזמנתך מספר ' + ${column['orderId']} + ' אשר סיפקנו לך בתאריך ' + ${column['deliveryDate']} + '.'"></p>
    <p class="couponMailDefaultParagraph" style = "margin: 0;" >לידיעתך, לא הצלחנו לגבות תשלום עבור הזמנה זו בכרטיס האשראי שסיפקת לתשלום בעת ביצוע ההזמנה.</p>
    <p class="couponMailDefaultParagraph" style = "margin: 0;" >אנו ננסה לגבות שוב את התשלום עבור ההזמנה מאותו כרטיס אשראי.</p>
    <p class="couponMailDefaultParagraph" style = "margin: 0;" >לעדכון פרטי כרטיס האשראי יש לפנות לשירות הלקוחות בטלפון 1-700-555704.</p>
    <p class="couponMailDefaultParagraph">תודה ולהתראות,</p>
    <p class="couponMailSignature">צוות שוקבוק</p>
    <p class="couponMailSignature">שוקבוק - מגדלים בשבילך</p>
</div>

</html>

