<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Customer Administration</title>
</head>
<body style="margin:0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">ניהול לקוחות</p>
            </td>
            <td>
                <select class="filter" id="filter" th:onchange="'location.href = \'' + @{/admin/customers} + '?filter=\' + filter.value;'">
                    <optgroup>
                        <option th:text="${filter}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">הכל</option>
                        <option value="1">שנה</option>
                        <option value="2">3 חודשים</option>
                        <option value="3">הזמינו ב 3 חודשים האחרונים</option>
                        <option value="4">הזמינו בחודש האחרון</option>
                        <option value="5">הזמינו יותר מפעם אחת</option>
                        <option value="6">הזמינו יותר 5 פעמים</option>
                        <option value="7">הזמינו יותר 10 פעמים</option>
                        <option value="8">אריזה ירוקה</option>
                    </optgroup>
                </select>
            </td>
            <td th:if="${globals['modules_enable_coupons']} == 1" width="395px"></td>
            <td>
                <input th:if="${globals['modules_enable_coupons']} == 1" class="button" type="button" value="יצירת קופון" th:onclick = "'location.href = \'' + @{/admin/coupons/create/} + '\';'"/>
            </td>
            <td><input th:if="${admin}" class="button" type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/customers/status} + '\';'" onmouseover="" style="cursor: pointer;" value="עדכון סטטוס"/></td>
        </tr>
    </table>
</div>

<div id="page_container">
<div class = "customers">
<table>
    <tr>
        <th colspan="2">שם לקוח</th>
        <th>מספר לקוח</th>
        <th>טלפון</th>
        <th>כתובת מייל</th>
        <th>תאריך הצטרפות</th>
        <th>הזמנות</th>
        <th>הזמנה אחרונה</th>
        <th colspan = "2">סוג לקוח</th>
    </tr>
    <tr th:each="column : ${columns}" th:style="${column['attentionFlag']} ? 'color:#a10000' : 'color:#000000'" >
        <td th:text="${column['customerName']}" th:onclick="'location.href = \'' + @{/admin/customers/customer} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:if="${column['green']} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/leaf_green.png" style="width: auto; height: 20px;"/>
        </td>
        <td th:if="${column['green']} == 0"></td>
        <td th:text="${column['customerNumber']}"/>
        <td th:text="${column['customerPhoneNumber']}"/>
        <td th:text="${column['customerMailAddress']}"/>
        <td th:text="${column['joinDate']}"/>
        <td th:text="${column['ordersNumber']}"/>
        <td th:text="${column['lastOrderDate']}"/>
        <td>
            <form th:action="@{/admin/customers/submit/customeType}" method="post">
                <input type="hidden" name="customerId" id="customerId" th:value="${column['customerId']}" />
                <select class="filter_short" name="customerType" id="customerType" onchange="this.form.submit()">
                    <optgroup>
                        <option th:value="${column['typeId']}" th:text="${column['customerType']}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">כסף</option>
                        <option value="1">זהב</option>
                        <option value="2">פלטינה</option>

                    </optgroup>
                </select>
            </form>
        </td>
        <td th:if="${admin}"><input class="button_short" type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/customers/removeCustomer} + '?id=' + ${column['customerId']} + '\';'" onmouseover="" style="cursor: pointer;" value="הסר"/></td>
    </tr>
</table>
</div>
</div>
</body>
</html>
