<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Clearance Details</title>
    <style>
    tab { padding-right: 4em; }
</style>
</head>
<body>
<div th:include="TopMenu" />
<table>
    <tr/>
    <tr/>
    <tr/>
    <tr>
    <tr/>
    <td><b>פרטי הזמנה</b></td>
    <td/>
    <td/>
    <td><input type="button" onmouseover="" style="cursor: pointer;" value="הדפס חשבונית"/></td>
    <td><input type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/printEnvelope} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס מעטפה"/></td>
    <td><input type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/printQRcodeCustomers} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס ברקוד"/></td>
    <td>
        <form th:action="@{/admin/customers/orders/submit/status}" method="post">
            <input type="hidden" name="orderId" id="orderId" th:value="${orderId}" />
            <select name="orderStatus" id="orderStatus" onchange="this.form.submit()">
                <optgroup>
                    <option th:value="${statusId}" th:text="${statusHeb}" selected="selected" />
                </optgroup>
                <optgroup>
                    <option value="0">סגורה</option>
                    <option value="1">פתוחה</option>
                    <option value="2">בטיפול</option>
                    <option value="3">נשלחה</option>
                    <option value="4">בוטלה</option>
                </optgroup>
            </select>
        </form>
    </td>

    </tr>
    <tr/>
    <tr/>
    <tr/>
    <tr/>
    <tr/>
    <tr/>
    <tr>
        <td>מספר הזמנה:</td>
        <td th:text= "${column['orderNumber']}"/>
        <td/>
        <td>תאריך הזמנה:</td>
        <td th:text= "${column['orderCreatedDate']}"/>
    </tr>
    <tr/>
    <tr>
        <td>שם המזמין:</td>
        <td th:text= "${column['clientName']}"/>
        <td/>
        <td>כרטיס חבר:</td>
        <td th:text= "${column['memberId']}"/>
    </tr>
    <tr/>
    <tr>
        <td>כתובת למשלוח:</td>
        <td th:text= "${column['shipmentAddress']}"/>
        <td/>
        <td>שולם בכרטיס:</td>
        <td th:text= "${column['creditCardNumber']}"/>
    </tr><tr/><tr/><tr/><tr/><tr/><tr/><tr/>

</table>
<table>
    <tr>
        <td><b>מוצרים</b></td>

    <tr/><tr/> <tr/> <tr/> <tr/>


    <tr th:each="element : ${elements}">
        <td th:text="${element['itemBarcode']} "/>
        <td th:text ="${element['productName']}"/>
        <td th:text ="${element['quantity']}"/>
        <td>יחידות</td>
        <td th:text ="${element['unitPrice']}"/>
    </tr>



    <tr/> <tr/> <tr/> <tr/> <tr/> <tr/> <tr/>

    <tr><td/><td/><td/>
        <td>סה״כ : </td>
        <td th:text= "${column['orderAmount']}" text="ש״ח"/>
        <td>ש״ח</td>
    </tr>
    <tr><td/><td/><td/>
        <td>הנחה : </td>
        <td> 0 % </td>
    </tr>
    <tr><td/><td/><td/>
        <td>מע״מ : </td>
        <td th:text= "${vat}" text="ש״ח"/>
    </tr>
    <tr><td/><td/><td/>
        <td>סה״כ לתשלום : </td>
        <td th:text= "${column['orderAmount']}" text="ש״ח"/>
    </tr>

    </tr><tr/><tr/><tr/>

    <tr>
        <td><b>ארגזים</b></td>

    </tr>
    <tr>

        <td th:text= "${column['boxes']}" />
    </tr>

    <table>


    </table>




</table>
</body>
</html>