<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Customer Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">ניהול לקוחות - פרטי לקוח</p>
            </td>
            <td width="257px"></td>
            <td>
                <input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/customers/customer/edit} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="עריכה"/>
            </td>
            <td>
                <form method="post" th:action="@{/admin/customers/submit/hideCard}">
                    <input type="hidden" th:value="${column['id']}" name="customerId"/>
                    <button class="button" type="submit" th:text="${column['creditCardHide']}" />
                </form>
            </td>
            <td>
                <input th:if="${globals['modules_enable_coupons']} == 1" class="button" type="button" value="יצירת קופון" th:onclick = "'location.href = \'' + @{/admin/customers/coupon/} + '?customerId=' + ${column['id']} + '\';'"/>
            </td>
            <td>
                <input class="button" type="button" value="סמס" th:onclick="'openSmsDialog(\'' + ${column['id']} + '\');'"/>
            </td>
            <td>
                <input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/customers/customer/makeGreen} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" th:value="${column['makeGreen']}"/>
            </td>
        </tr>
    </table>
</div>

<div class="customer_details">
    <table th:if="!${column['attentionFlag']}">
        <tr>
            <td><b>מספר לקוח</b></td>
            <td>
                <p><strong th:text="${column['barcode']}" /></p>
            </td>
            <td>
                <p><strong>תאריך הצטרפות</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['createdDate']}" /></p>
            </td>
            <td>
                <p><strong>קבוצות</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['groups']}" /></p>
            </td>
        </tr>
    </table>

    <table th:if="${column['attentionFlag']}">
        <tr style="color:#a10000;">
            <td><b>מספר לקוח</b></td>
            <td>
                <p><strong th:text="${column['barcode']}" /></p>
            </td>
            <td>
                <p><strong>תאריך הצטרפות</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['createdDate']}" /></p>
            </td>
            <td>
                <p><strong>קבוצות</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['groups']}" /></p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td> <p>שם:</p> </td>
            <td> <p th:text="${column['fullName']}" /> </td>
            <td> <p>מייל:</p> </td>
            <td>
                <p><a th:href="${column['emailto']}" th:text= "${column['email']}" style="text-decoration:none"/> </p>
            </td>
            <td><p>מין:</p></td>
            <td>
                <form th:action="@{/admin/customers/submit/gender}" method="post">
                    <input type="hidden" name="customerId" id="customerId" th:value="${column['id']}" />
                    <select class="filter_short" name="customerGender" id="customerGender" onchange="this.form.submit()">
                        <optgroup>
                            <option th:value="${column['gender']}" th:text="${column['genderStr']}" selected="selected" />
                        </optgroup>
                        <optgroup>
                            <option value="0">נקבה</option>
                            <option value="1">זכר</option>
                        </optgroup>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td> <p>טלפון:</p> </td>
            <td> <p th:text="${column['phone']}" /> </td>
            <td> <p>טלפון נוסף:</p> </td>
            <td> <p th:text="${column['phone2']}" /> </td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="6"> <p><b>פרטי אשראי</b></p> </td>
        </tr>
        <tr>
            <td> <p>בעל כרטיס:</p> </td>
            <td> <p th:text="${column['creditCardOwner']}" /> </td>
            <td colspan="4"> <p></p> </td>
        </tr>
        <tr>
            <td> <p>סוג כרטיס:</p> </td>
            <td> <p th:text="${column['creditCardType']}" /> </td>
            <td> <p>מספר:</p> </td>
            <td> <p th:text="'XXXX-XXXX-XXXX-' + ${column['creditCardNo']}" /> </td>
            <td> <p>תוקף:</p> </td>
            <td> <p th:text="${column['creditCardValidity']}" /> </td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan="6"> <p><b>כתובת</b></p> </td>
        </tr>
        <tr>
            <td> <p>רחוב:</p> </td>
            <td colspan="3">
                <p><a th:href="${column['googleMap']}" th:text= "${column['street']} + ' ' + ${column['streetNo']}" target="_blank" style="text-decoration:none"/> </p>
            </td>
            <td> <p>ישוב:</p> </td>
            <td> <p th:text="${column['city']}" /> </td>
            <td> <p>אזור חלוקה:</p> </td>
            <td> <p th:text="${column['cityGroup']}" /> </td>
        </tr>
        <tr>
            <td> <p>דירה:</p> </td>
            <td> <p th:text="${column['apartment']}" /> </td>
            <td> <p>קומה:</p> </td>
            <td> <p th:text="${column['floor']}" /> </td>
            <td> <p>קוד כניסה:</p> </td>
            <td> <p th:text="${column['entryCode']}" /> </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <p>הערות לקוח:</p>
            </td>
            <td colspan="5">
                <p th:text="${column['remarks']}" />
            </td>
        </tr>
        <tr>
            <td>
                <p>נקודות לקוח:</p>
            </td>
            <td colspan="5">
                <p th:text="${column['nekoshook']}" />
            </td>
        </tr>
    </table>
</div>

<div>
    <table class="collapsable_coupons">
        <thead>
        <tr>
            <th colspan="6"><p th:text="'קופונים: ' + ${#lists.size(coupons)}"></p></th>
        </tr>
        </thead>
        <tbody class="collapsable_coupons_label">
        <tr>
            <th width="10px">
                <label for="customer_coupons">
                    <a class="arrow">
                        <img class="arrow_img rotate270" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
                    </a>
                </label>
                <input type="checkbox" name="customer_coupons" id="customer_coupons" data-toggle="toggle" />
            </th>
            <th width="200px">מספר קופון</th>
            <th>סכום</th>
            <th>סוג</th>
            <th>סיבה</th>
            <th>תאריך הפקה</th>
            <th>הזמנה מקושרת</th>
        </tr>
        </tbody>
        <tbody class="hide">
        <tr th:each="coupon : ${coupons}" >
            <td></td>
            <td>
                <p th:text="${coupon['title']}"/>
            </td>
            <td>
                <p th:text="${coupon['amount']}"/>
            </td>
            <td>
                <p th:text="${coupon['type'].heb}"/>
            </td>
            <td>
                <p th:text="${coupon['cause'].heb}"/>
            </td>
            <td>
                <p th:text="${#dates.format(coupon['createdDate'], 'dd/MM/yyyy')}"/>
            </td>
            <td>
                <p th:text="${coupon['orderId'] == 0 ? '' : coupon['orderId']}"/>
            </td>
        </tr>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
	   $('[data-toggle="toggle"]').change(function(){
		  $(this).parents().next('.hide').toggle();
	   });
    });

    $('.arrow').on("click", function (event) {
       $('.arrow_img').toggleClass('rotate270');
       $('.arrow_img').toggleClass('rotate0');
    });
    </script>
</div>

<div>
    <table class="customer_details_orders">
        <thead>
        <tr>
            <th><p th:text="'הזמנות: ' + ${#lists.size(orders)}"></p></th>
        </tr>
        <tr>
            <td> <p>מספר הזמנה</p> </td>
            <td> <p>מספר קדמי</p> </td>
            <td> <p>מספר דהל</p> </td>
            <td> <p>תאריך הזמנה</p> </td>
            <td> <p>תאריך אריזה</p> </td>
            <td> </td>
            <td> <p>תאריך משלוח</p> </td>
            <td> <p>ארגזים</p> </td>
            <td> <p>סכום</p> </td>
            <td> <p>סטטוס</p> </td>
            <td> <p>סטטוס סליקה</p> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <p th:text="${order['id']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} +'?id=' + ${order['id']} + '\';'"/>
            </td>
            <td>
                <p th:text="${order['wpId']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} +'?id=' + ${order['id']} + '\';'"/>
            </td>
            <td>
                <p th:text="${order['dhlPackageNumber']}" />
            </td>
            <td>
                <p th:text="${order['createdDate']}" />
            </td>
            <td>
                <p th:text="${order['lastPackingTimestamp']}" />
            </td>
            <td th:if="${order['deliveryWindow']} == 1">
                <img src="https://www.shookbook.co.il/backoffice/images/moon.png" style="width: auto; height: 20px;"/>
            </td>
            <td th:if="${order['deliveryWindow']} == 0"></td>
            <td>
                <p th:text="${order['deliveryDate']}" />
            </td>
            <td>
                <p th:text="${order['boxes']}" />
            </td>
            <td>
                <p th:text="${order['sum']}" />
            </td>
            <td>
                <p th:text="${order['status']}" />
            </td>
            <td th:if="!(${customer_support} OR ${admin})">
                <p th:text="${order['clearingStatus']}" />
            </td>
            <td th:if="${customer_support} OR ${admin}">
                <form th:action="@{/admin/customers/orders/submit/clearingStatus}" method="post">
                    <input type="hidden" name="orderId" id="orderId" th:value="${order['id']}" />
                    <select class="filter_short" name="orderClearingStatus" id="orderClearingStatus" onchange="this.form.submit()">
                        <optgroup>
                            <option th:value="${clearingStatusId}" th:text="${order['clearingStatus']}" selected="selected" />
                        </optgroup>
                        <optgroup>
                            <option value="0">לא נסלק</option>
                            <option value="1">הצליח</option>
                            <option value="2">נכשל</option>
                            <option value="3">נגבה ידנית</option>
                            <option value="6">בבדיקה</option>
                            <option value="4">בוטל</option>
                            <option value="7">לא לגביה</option>
                        </optgroup>
                    </select>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
        function openSmsDialog(customerId) {
            document.getElementById("smsCustomerId").value = customerId;
            $( function() {
                $( "#smsDialog" ).dialog();
            } );
        }
</script>

<div id="smsDialog" title="שליחת סמס" class="orderDialog" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/customers/sendSmsToCustomer}">
            <input type="hidden" name="smsCustomerId" id="smsCustomerId" />
            <input type="text" placeholder="הןדעה" name="msg"/>
            <button>בצע</button>
        </form>
    </div>
</div>

</body>
</html>