<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <title>לקוח חדש</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}"/>
</head>

<body>
<div th:include="TopMenu" />
<h1>לקוח חדש</h1>
<hr/>
<form th:action="@{/admin/customers/add/submit}" method="post">
    <table>
        <tr>
            <td>שם פרטי:</td>
            <td><input type="text" id="firstName" name="firstName" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>שם משפחה:</td>
            <td><input type="text" id="lastName" name="lastName" /></td>
        </tr>
        <tr>
            <td>טלפון:</td>
            <td><input type="text" id="phone" name="phone" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>טלפון נוסף:</td>
            <td><input type="text" id="phone2" name="phone2" /></td>
        </tr>
        <tr>
            <td>רחוב:</td>
            <td><input type="text" id="street" name="street" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מס׳ בית:</td>
            <td><input type="text" id="no" name="no" /></td>
        </tr>
        <tr>
            <td>יישוב:</td>
            <td><input type="text" id="city" name="city" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מיקוד:</td>
            <td><input type="text" id="zip" name="zip" /></td>
        </tr>

        <tr>
            <td>מייל:</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>
    </table>

    <input type="submit" onmouseover="" style="cursor: pointer;"/>
    <hr/>
</form>
</body>
</html>