<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Customers orders</title>
</head>
<body style="margin:0px;">
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">הזמנת לקוחות</p>
            </td>
            <td>
                <select class="filter" id="filter" th:onchange="'location.href = \'' + @{/admin/customers/orders} + '?filter=\' + filter.value;'">
                    <optgroup>
                        <option th:text="${filter}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">הכל</option>
                        <option value="1">שנה</option>
                        <option value="2">3 חודשים</option>
                        <option value="3">חודש</option>
                        <option value="4">פתוחות</option>
                        <option value="5">בקטיף</option>
                        <option value="6">בטיפול</option>
                        <option value="7">נשלחו</option>
                        <option value="8">בוטלו</option>
                        <option value="9">בגבייה</option>
                        <option value="10">בעית גבייה</option>
                        <option value="12">בדיקה לפני גבייה</option>
                        <option value="11">הזמנות במעקב</option>
                    </optgroup>
                </select>
            </td>
            <td th:if="${globals['modules_enable_invoice']} == 0 and ${globals['modules_enable_logistics']} == 1" width="360px"></td>
            <td th:if="${globals['modules_enable_invoice']} == 1 and ${globals['modules_enable_logistics']} == 0" width="460px"></td>
            <td th:if="${globals['modules_enable_invoice']} == 0 and ${globals['modules_enable_logistics']} == 0" width="560px"></td>
            <td th:if="${globals['modules_enable_invoice']} == 1 and ${globals['modules_enable_logistics']} == 1" width="227px"></td>
            <td><input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/printPendingOrdersQRCodes/} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס ברקוד הזמנות בטיפול"/></td>
            <td><input class="button" type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/customers/orders/certificates} + '\';'" onmouseover="" style="cursor: pointer;" value="תעודות משלוח"/></td>
            <td th:if="${globals['modules_enable_invoice']} == 1"><input class="button" type="button" onclick="openDialog();" value="סלוק פתוחות" /></td>
        </tr>
    </table>
</div>

<div id="page_subtitle">
    <table>
        <tr>
            <td rowspan="2">
                <p th:text="'מספר רשומות: ' + ${title3}" style="display:inline;"/>
            </td>
            <td rowspan="2">פתוחות</td>
            <td style="text-align: right;">
                <p th:text="${title4}" style="display:inline; font-size: 22px;"/>
            </td>
            <td rowspan="2">
                <p th:if="${duplicateOrders} == 1" th:text="'הזמנות כפולות !!!'" class="orders_title_red" style="display:inline; font-color=#a10000;"/>
            </td>
            <td rowspan="2">
                <p th:if="${attention} == 1" th:text="'הזמנות במעקב !!!'" class="orders_title_red" style="display:inline; font-color=#a10000;"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <p th:text="${title1}" style="display:inline; font-size: 22px;"/>
            </td>
        </tr>
        <tr>
            <td>
                <p th:text="'סכום כולל: ' + ${ordersSum}" style="display:inline;"/>
            </td>
            <td colspan="3">
                <p th:text="${title2}" style="display:inline;"/>
            </td>
        </tr>
    </table>
</div>

<div class="customer_orders">

<table>
    <thead>
    <tr >
        <th>מספר הזמנה</th>
        <th>מספר קדמי</th>
        <th></th>
        <th>שם לקוח</th>
        <th>סכום הזמנה</th>
        <th>תאריך יצירה</th>
        <th>תאריך אריזה</th>
        <th>תאריך איסוף</th>
        <th></th>
        <th th:if="${sortOrder} != 'asc'" th:onclick="'location.href = \'' + @{/admin/customers/orders} + '?sortBy=deliveryDate&amp;sortOrder=asc&amp;filter=' + ${filterValue} + '\';'" onmouseover="" style="cursor: pointer;">תאריך משלוח</th>
        <th th:if="${sortOrder} == 'asc'" th:onclick="'location.href = \'' + @{/admin/customers/orders} + '?sortBy=deliveryDate&amp;sortOrder=desc&amp;filter=' + ${filterValue} + '\';'" onmouseover="" style="cursor: pointer;">תאריך משלוח</th>
        <th>מצב הזמנה</th>
        <th>מספר DHL</th>
        <th />
        <th />
    </tr>
    </thead>
    <tbody>
    <tr th:each="column : ${columns}" th:style="'color: ' + ${column['fontColor']}">
        <td th:text="${column['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:text="${column['orderNumberWP']}"/>
        <td th:if="${column['gotLocation']} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/geo-icon.png" style="width: auto; height: 20px;"/>
        </td>
        <td th:if="${column['geoGroup']} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/geo-fixed.png" style="width: auto; height: 20px;"/>
        </td>
        <td th:if="${column['gotLocation']} == 0 and ${column['geoGroup']} == 0"></td>
        <td width="150px" th:text="${column['customerName']}" th:onclick="'location.href = \'' + @{/admin/customers/customer} + '?id=' + ${column['customerId']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:text="${column['orderAmount']}"/>
        <td th:text="${column['orderCreateDate']}"/>
        <td th:text="${column['orderShipmentDate']}"/>
        <td th:text="${column['orderHarvestDate']}"/>
        <td th:if="${column['deliveryWindow']} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/moon.png" style="width: auto; height: 20px;"/>
        </td>
        <td th:if="${column['deliveryWindow']} == 0"></td>
        <td th:text="${column['orderDeliveryDate']}"/>
        <td>
            <form th:action="@{/admin/customers/orders/submit/status}" method="post">
                <input type="hidden" name="orderId" th:value="${column['id']}" />
                <input type="hidden" name="returnToOrders" th:value="'true'" />

                <select class="filter_short" name="orderStatus" onchange="this.form.submit()">
                    <optgroup>
                        <option th:value="${column['statusId']}" th:text="${column['status']}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">סגורה</option>
                        <option value="1">פתוחה</option>
                        <option value="5">בקטיף</option>
                        <option value="2">בטיפול</option>
                        <option value="3">נשלחה</option>
                        <option value="6">אוחדה</option>
                        <option value="4">בוטלה</option>
                    </optgroup>
                </select>
            </form>
        </td>
        <td th:text="${column['dhl_shipping_number']}"/>
        <td th:if = "${customer_support} != 1"><input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/printQRcodeCustomers} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס ברקוד"/></td>
        <td th:if = "${customer_support} == 1 OR ${admin} == 1"><input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/logistics/setOrderDelivered} + '?orderId=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הזמנה נמסרה" th:disabled="${column['statusId'] != 3}"/></td>
        <td><input class="button_short" type="button" id ="btn" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/customers/orders/customerClearanceDetails} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="בצע סליקה" th:disabled="${!column['enableClearing']}"/></td>
    </tr>
    </tbody>
</table>
</div>
<div id="dialog" title="בחר תאריך" style="width: 800px; display: none;">
    <form th:action="@{/admin/customers/orders/clearOrders}" method="post">
        <input type="text" id="datepicker" name="date" />
        <input type="submit" value="סלוק פתוחות" />
    </form>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        function openDialog(orderId) {
            $( function() {
                $( "#dialog" ).dialog();
            } );
        }
    </script>
</div>
</body>
</html>
