<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Customer Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<form th:action="@{/admin/customers/customer/submitEdit}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td colspan="3">
                    <p style="display:inline;">ניהול לקוחות - פרטי לקוח - עריכה</p>
                </td>
                <td width="175px"></td>
                <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/customers/customer} + '?id=' + ${column['id']} + '\';'" value="ביטול"/></td>
                <td><input class="button" type="submit"  value="שמור שינויים"/></td>
            </tr>
        </table>
    </div>

    <div class="customer_details">
        <table>
            <tr>
                <th>מספר לקוח:</th>
                <th th:text="${column['barcode']}"></th>
                <th>שם לקוח:</th>
                <th th:text="${column['firstName']} + ' ' + ${column['lastName']}"></th>
                <th>מייל:</th>
                <th th:text="${column['email']}"></th>
                <td>
                    <input type="hidden" th:value="${column['id']}" name="id"/>
                    <input type="hidden" th:value="${column['firstName']}" name="firstName"/>
                    <input type="hidden" th:value="${column['lastName']}" name="lastName"/>
                    <input type="hidden" th:value="${column['email']}" name="email"/>
                </td>
            </tr>
            <tr>
                <td>טלפון:</td>
                <td>
                    <input class="input_field_short" type="text" id="phone" name="phone" th:value="${column['phone']}" />
                </td>
                <td>טלפון נוסף:</td>
                <td>
                    <input class="input_field_short" type="text" id="phone2" name="phone2" th:value="${column['phone2']}" />
                </td>
            </tr>
            <tr>
                <th>כתובת משלוח</th>
            </tr>
            <tr>
                <td>רחוב:</td>
                <td><input class="input_field_short" type="text" id="street" th:value= "${column['street']}" name="street" /></td>
                <td>מספר:</td>
                <td><input class="input_field_short" type="text" id="streetNo" th:value= "${column['streetNo']}" name="streetNo" /></td>
                <td>ישוב:</td>
                <td><input class="input_field_short" type="text" id="city" th:value= "${column['city']}" name="city" /></td>
            </tr>
            <tr>
                <td>דירה:</td>
                <td><input class="input_field_short" type="text" id="apartment" th:value= "${column['apartment']}" name="apartment" /></td>
                <td>קומה:</td>
                <td><input class="input_field_short" type="text" id="floorNo" th:value= "${column['floor']}" name="floorNo" /></td>
                <td>קוד כניסה:</td>
                <td><input class="input_field_short" type="text" id="entryCode" th:value= "${column['entryCode']}" name="entryCode" /></td>
            </tr>
            <tr>
                <td>הערות לקוח:</td>
                <td colspan="3">
                    <input style="width:364px" class="input_field_short" type="text" id="remarks" name="remarks" th:value="${column['remarks']}"/>
                </td>
                <td>נקודות לקוח:</td>
                <td>
                    <input class="input_field_short" type="text" id="nekoshook" name="nekoshook" th:value="${column['nekoshook']}"/>
                </td>
            </tr>
            <tr>
                <td>עקוב אחרי:</td>
                <td>
                    <select th:if="${column['attentionFlag']} == '0'" name="attentionFlag" id="attentionFlag" class="filter_short">
                        <option value="0" selected="selected">ללא</option>
                        <option value="1">משלוח</option>
                        <option value="2">אריזה</option>
                        <option value="3">מעקב</option>
                    </select>
                   <select th:if="${column['attentionFlag']} == '1'" name="attentionFlag" id="attentionFlag" class="filter_short">
                       <option value="0">ללא</option>
                       <option value="1" selected="selected">משלוח</option>
                       <option value="2">אריזה</option>
                       <option value="3">מעקב</option>
                   </select>
                   <select th:if="${column['attentionFlag']} == '2'" name="attentionFlag" id="attentionFlag" class="filter_short">
                       <option value="0">ללא</option>
                       <option value="1">משלוח</option>
                       <option value="2" selected="selected">אריזה</option>
                       <option value="3">מעקב</option>
                   </select>
                    <select th:if="${column['attentionFlag']} == '3'" name="attentionFlag" id="attentionFlag" class="filter_short">
                        <option value="0">ללא</option>
                        <option value="1">משלוח</option>
                        <option value="2">אריזה</option>
                        <option value="3" selected="selected">מעקב</option>
                    </select>
                </td>
                <td>סיבה:</td>
                <td colspan="3">
                    <input style="width:374px" class="input_field_short" type="text" id="attentionCause" name="attentionCause" th:value="${column['attentionCause']}"/>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>