<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <title>Error</title>

</head>
<body>
<div th:include="TopMenu" />
<h2>שגיאה</h2>

<p>
    <b>
        ישנה טעות בהזנת התאריכים
    </b>
</p>

<p>
    בדוק כי תאריך התחלה הוא לפני תאריך הסיום.
</p>


<!--<p><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportSupplierForWeight}  + '\';'" value="חזור"/></p>-->
</body>
</html>