<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title" dir="rtl">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">מנהל - משתני מערכת</p>
            </td>
        </tr>
    </table>
</div>

<div id="globals_container">

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Product variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 1">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 1">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 1">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 1">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(' + ${column['key']} + ');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Orders variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 2">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 2">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 2">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 2">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Customer variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 3">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 3">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 3">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 3">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Suppliers variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 4">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 4">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 4">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 4">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Packing facility variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 5">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 5">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 5">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 5">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Miscellaneous variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 0">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 0">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 0">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 0">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <table class="globals_table" dir = "ltr">
        <tr>
            <th colspan="4">Functionality variables</th>
        </tr>
        <tr th:each ="column : ${columns}">
            <td th:if="${column['category']} == 9">
                <p th:text= "${column['key']}" />
            </td>
            <td th:if="${column['category']} == 9">
                <p th:text= "${column['value']}" />
            </td>
            <td th:if="${column['category']} == 9">
                <p th:text= "${column['details']}" />
            </td>
            <td th:if="${column['category']} == 9">
                <button class="button_short" type="button" th:onclick="'openChangeValueDialog(\'' + ${column['key']} + '\');'">Edit</button>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

</div>

<script>
    function openChangeValueDialog(globalKey) {
        document.getElementById("globalKey").value = globalKey;
        $( function() {
            $( "#changeGlobalValue" ).dialog();
        } );
    }
</script>

<div id="changeGlobalValue" title="Edit value" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/manager/globals/submit/globalValue}">
            <input type="hidden" name="globalKey" id="globalKey" />
            <input type="text" name="newValue" id="newValue"/><br />
            <input type="submit" />
        </form>
    </div>
</div>


</body>

</html>