<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#datepicker" ).datepicker();
    });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>


</head>
<body>

<div th:include="TopMenu" />

<h1>דו״ח מוצרים לפי מספר לקוח</h1>
<table>
    <td>מתאריך: <input type="text" id="datepicker" /></td>
    <td>עד תאריך : <input type="text" id="datepicker2" /></td>
</table>

<br/><br/>


<div id="graph" name="graph" style="width:800px; height:600px;">
    <script th:inline="javascript">
    /*<![CDATA[*/

        $.ajax({
            url: [[@{/graph/data}]],
            method: 'GET',
            dataType: 'json',
            success: function(datasets){
                $.plot($("#graph"), datasets, {
                    xaxis:
                    {
                        min:0, max: 12, tickSize: 1
                    },

                    //yaxis:
                    //{
                    //    min:0, max: 100, tickSize: 20
                    //}
                });
            }
        });
    /*]]>*/
    </script>


    </div>
</body>
</html>