<div class="top_menu_container">
    <div id="top_menu_logo">
        <table id="top_menu_logo_table">
            <tr>
                <th>
                    <a href="https://www.shookbook.co.il"><img style="width: 150px;" src="https://www.shookbook.co.il/email/new_logo_small.png" alt="שוקבוק - מגדלים בשבילך"/></a>
                </th>
                <td th:text="'שלום ' + ${globals['worker_name']}"> </td>
                <td><a href='/admin/export'>סנכרן</a></td>
                <td><a href='/admin/logout'>התנתק</a></td>
                <td width="200px"></td>
                <td><a style="color:#ffffff;" href='/admin/InventoryHub'><span>ניהול מלאי</span></a></td>
            </tr>
        </table>
    </div>
    <div id="top_menu">
        <ul>
            <li><a href='/admin/products'><span>מוצרים</span></a></li>
            <li><a href='/admin/customers/orders'><span>הזמנת לקוחות</span></a></li>
            <li><a href='/admin/customers'><span>ניהול לקוחות</span></a></li>
            <li><a href='/admin/logistics2'><span>משלוחים</span></a></li>
            <li><a href='/admin/suppliers/orders'><span>הזמנת ספקים</span></a></li>
            <li><a href='/admin/suppliers'><span>ניהול ספקים</span></a></li>
            <li th:if = "${globals['modules_enable_packing']} == 1"><a href='/admin/packingFactory'><span>בית אריזה</span></a></li>
            <li th:if = "${globals['modules_enable_coupons']} == 1"><a href='/admin/coupons'><span>קופונים</span></a></li>
            <li><a th:href="@{/admin/ReportsHub(primary=0, secondary=0)}">מרכז דוחות</a></li>
            <li th:if = "${admin}"><a href='/admin/manager'><span>מנהל</span></a></li>
        </ul>
    </div>
</div>

<div id="scroll_to_top">
    <img src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
</div>

<script>
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 2000) {
       document.getElementById('scroll_to_top').style.visibility = "visible";
        } else {
       document.getElementById('scroll_to_top').style.visibility = "hidden";
        }
    });

    // scroll body to 0px on click
    $('#scroll_to_top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>

<br/><br/>