<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Order Details</title>
</head>

<body style="margin: 0px;" onload="showFields();">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p id="stam" style="display:inline;">ניהול מלאי</p>
            </td>
            <td width="60px"></td>
            <td>
                <select class="filter" id="filter" th:onchange="'location.href = \'' + @{/admin/InventoryHub} + '?filter=\' + filter.value;'">
                    <optgroup>
                        <option th:text="${filter}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">הכל</option>
                        <option value="1">ירקות</option>
                        <option value="2">פירות</option>
                        <option value="3">עלים ותבלינים</option>
                        <option value="4">פטריות ונבטים</option>
                        <option value="5">פירות יבשים</option>
                        <option value="6">קטניות ותבלינים</option>
                        <option value="7">לחמים ומאפים</option>
                        <option value="8">מיוחדים</option>
                        <option value="9">לפי מוצר</option>
                        <option value="10">לפי ספק</option>
                    </optgroup>
                </select>
            </td>
            <td id="product_field" style="display:none;">
                <input class="input_field" type="text" id="product_id" name="product_id" placeholder="שם מוצר"/>
            </td>
            <td id="supplier_field" style="display:none;">
                <input class="input_field" type="text" id="supplier_id" name="supplier_id" placeholder="שם ספק"/>
            </td>
            <td>
                <input class="button" type="button" id="showFilter" value="הצג" onclick="showInventory()"></input>
            </td>
        </tr>
    </table>
</div>

<div id="inventory_container">

    <table class="inventory_header">
        <thead>
        <tr>
            <th width="12px"></th>
            <th width="308px">תאור מוצר</th>
            <th width="50px">מלאי</th>
            <th width="50px">מוזמן</th>
            <th width="50px">התקבל</th>
            <th width="50px">יצא</th>
            <th width="70px">סף מלאי</th>
            <th width="180px">עדכון אחרון</th>
        </tr>
        </thead>
    </table>
    <div class="inventory_product_container" th:each="column : ${columns}">
        <table class="inventory_product">
            <thead>
            <tr>
                <th width="12px">
                    <p th:onclick="'toggle_sup(\'sup_body' + ${column['id']} + '\')'">+</p>
                </th>
                <th width="308px" th:text="${column['product_name']}"></th>
                <th width="50px" th:text="${column['inventory']}"></th>
                <th width="50px" th:text="${column['ordered']}"></th>
                <th width="50px" th:text="${column['received']}"></th>
                <th width="50px" th:text="${column['delivered']}"></th>
                <th width="70px" th:text="${column['product_threshold']}"></th>
                <th width="180px" th:text="${column['last_update']}"></th>
            </tr>
            </thead>
        </table>
        <table class="inventory_product">
            <tbody th:id="'sup_body' + ${column['id']}" style="display:none;">
            <tr th:each="row : ${column['inventory_rows']}">
                <td width="30px"></td>
                <td width="110px" ><a th:href="@{/admin/inventory/item_history} + '?item_barcode=' + ${row['barcode']}" th:text="${row['barcode']}"></a></td>
                <td width="230px" th:text="${row['supplier']}"></td>
                <td width="50px" th:text="${row['ordered']}"></td>
                <td width="50px" th:text="${row['received']}"></td>
                <td width="50px" th:text="${row['delivered']}"></td>
                <td width="50px"></td>
                <td width="50px"></td>
                <td width="200px"><input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/inventory/itemEdit} + '?id=' + ${row['item_id']} + '&amp;filter=' + ${filter_index} + '\';'" onmouseover="" style="cursor: pointer;" value="עריכה"/></td>
                <td width="200px"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    function toggle_sup (tbody) {
       if (document.getElementById(tbody).style.display == "block") {
          document.getElementById(tbody).style.display = "none";
       } else {
          document.getElementById(tbody).style.display = "block";
       }
    }

    function openUpdateItemDialog(itemId, qty) {
        document.getElementById("updateItemId").value = itemId;
        $( function() {
            $( "#updateItemDialog" ).dialog();
        } );
    }

    function openSubDialog() {
        $( function() {
            $( "#subDialog" ).dialog();
        } );
    }

        function showFields() {
            primary = document.getElementById('filter');
            switch (primary.value) {
                case 'לפי מוצר' : document.getElementById('product_field').style.display = "block";
                                 document.getElementById('supplier_field').style.display = "none";
                                 document.getElementById('showFilter').style.display = "block";
                                 break;
                case 'לפי ספק' : document.getElementById('product_field').style.display = "none";
                                 document.getElementById('supplier_field').style.display = "block";
                                 document.getElementById('showFilter').style.display = "block";
                                 break;
                default : document.getElementById('product_field').style.display = "none";
                          document.getElementById('supplier_field').style.display = "none";
                          document.getElementById('showFilter').style.display = "none";
                          break;
            }
        }
            /*<![CDATA[*/

        function showInventory() {
           switch (primary.value) {
              case 7 : window.location.href = "/admin/InventoryHub?filter=" + positionInOptGroup;
                       break;

              case 'לפי מוצר' : window.location.href = "/admin/InventoryHub?filter=9" + "&product_id=" + document.getElementById('product_id').value;
                       break;

              case 'לפי ספק' : window.location.href = "/admin/InventoryHub?filter=10" + "&supplier_id=" + document.getElementById('supplier_id').value;
                       break;
           }
        }

        /*]]>*/
</script>

<div id="updateItemDialog" title="הוסף מוצר" class="orderDialog" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/inventory/submit/updateInventoryItem}">
            <input type="hidden" name="updateItemId" id="updateItemId" />
            <input type="text" placeholder="כמות" name="quantity">כמות שהתקבלה</input>
            <br />
            <button>בצע</button>
        </form>
    </div>
</div>

<div id="subDialog" title="הורד מוצר" class="orderDialog" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/inventory/submit/subtract}">
            <input type="text" name="productId" id="productId" />
            <input type="text" placeholder="כמות" name="quantity">כמות שהתקבלה</input>
            <br />
            <button>בצע</button>
        </form>
    </div>
</div>
</body>
</html>
