<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Order Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p id="stam" style="display:inline;">ניהול מלאי - מעקב פריט</p>
            </td>
            <td width="60px"></td>
        </tr>
    </table>
</div>

<div class="inventory_item_details">
    <table>
        <tr>
            <td>שם מוצר:</td>
            <td th:text="${product_name}"></td>
            <td>שם ספק:</td>
            <td th:text="${supplier}"></td>
        </tr>
    </table>
</div>

<div class="inventory_item_history">
    <table>
        <tr>
            <th>מספר הזמנה</th>
            <th>הוזמן</th>
            <th>התקבל</th>
            <th>סופק</th>
            <th>תאריך הזמנה</th>
        </tr>
        <tr th:each="column : ${columns}">
            <td th:text="${column['order_number']}"></td>
            <td th:text="${column['ordered']}"></td>
            <td th:text="${column['received']}"></td>
            <td th:text="${column['delivered']}"></td>
            <td th:text="${column['date']}"></td>
        </tr>
    </table>
</div>
</body>
</html>
