<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Item Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body style="margin:0px;">

<div th:include="Header" />

<form th:action="@{/admin/inventory/item/edit/submit}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td>
                    <p style="display:inline;">ניהול מלאי - ניהול פריטים - עריכה</p>
                </td>
                <td width="60px;"></td>
                <td>
                    <button class="button" type="submit">שמור</button>
                </td>
                <td>
                    <button class="button" type="button" th:onclick="'location.href = \'' + @{/admin/InventoryHub?filter=1} + '\';'">ביטול</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="item_container">
        <div class="product_title">
            <img th:src="${image_url}" alt=""/>
            <table style="width:370;">
                <tr>
                    <th colspan="3" th:text="${product_name}"></th>
                </tr>
                <tr>
                    <td th:text="'קטגוריה: ' + ${category}"></td>
                    <td th:text="'מספר קטלוגי: ' + ${barcode}"></td>
                </tr>
            </table>
        </div>


        <div class="product_edit">
            <table>
                <tr>
                    <td>
                        <input th:value="${id}" name="id" id="id" type="hidden" readonly="readonly"/>
                        <input th:value="${filter}" name="filter" id="filter" type="hidden" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>מלאי:</td>
                    <td>
                        <input th:value="${item_inventory}" name="item_inventory" id="item_inventory" type="text" class="validate" required="required"/>
                    </td>
                    <td>התקבל:</td>
                    <td>
                        <input th:value="${item_received}" name="item_received" id="item_received" type="text" class="validate" required="required"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
</html>