<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Item Add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body style="margin:0px;">

<div th:include="Header" />

<form th:action="@{/admin/items/toadd}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td>
                    <p style="display:inline;">ניהול מוצרים - פריט חדש</p>
                </td>
                <td width="60px;"></td>
                <td>
                    <button class="button" type="submit">שמור</button>
                </td>
                <td>
                    <button class="button" type="button" th:onclick="'location.href = \'' + @{/admin/products} + '\';'">ביטול</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="item_container">
        <div class="product_title">
            <img th:src="${image_url}" alt=""/>
            <table style="width:370;">
                <tr>
                    <th colspan="3" th:text="${product_name}"></th>
                </tr>
                <tr>
                    <td th:text="'קטגוריה: ' + ${category}"></td>
                </tr>
            </table>
        </div>


        <div class="product_edit">
            <table>
                <tr>
                    <td>
                        <input th:value="${id}" name="id" id="id" type="hidden" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>שם פריט:</td>
                    <td>
                        <input name="item_name" id="item_name" type="text" class="validate" required="required"/>
                    </td>
                    <td>שם ספק:</td>
                    <td>
                        <input type="text" id="supplier" th:placeholder="${supplier}" value="" data-value="" name="supplier" list="supplierList"/>
                        <datalist id="supplierList">
                            <option th:each="suppl : ${suppliers}" th:value="${suppl['id']}" th:text="${suppl['name']}" />
                        </datalist>
                    </td>
                    <td>יחידת קניה:</td>
                    <td>
                        <select name="order_unit" id="order_unit" class="filter_short">
                            <option value="0">יחידה</option>
                            <option value="1">ק"ג</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>עלות קניה:</td>
                    <td>
                        <input name="buying_cost" id="buying_cost" type="text" class="validate" required="required"/>
                    </td>
                    <td>משקל קניה:</td>
                    <td>
                        <input name="weight" id="weight" type="text" class="validate" required="required"/>
                    </td>
                    <td>שיעור רווח:</td>
                    <td>
                        <input name="gross_profit" id="gross_profit" type="text" class="validate" required="required"/>
                    </td>
                    <td>מלאי:</td>
                    <td>
                        <input name="inventory" id="inventory" type="text" class="validate" required="required"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        var supplier = document.getElementById('supplier');
        supplier.addEventListener('focus', function () {
            this.setAttribute('data-value', this.value);
            this.value = '';
        });

        supplier.addEventListener('blur', function () {
            if (this.value === '')
                this.value = this.getAttribute('data-value');
        });
    </script>
</form>
</body>
</html>