<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Delivery</title>
</head>

<body style="margin: 0px;">

<style>
    .mobile_submenu {
       font-size: 24px;
    }

    .mobile_submenu p {
       display: inline-block;
       padding-left: 30px;
       cursor: pointer;
    }

</style>
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">משלוחים</p>
            </td>
            <td width="200px;"></td>
            <td>
                <input th:if="${gotDate} == 0" class="input_field" type="text" id="datepicker" onchange="reloadPage();" placeholder="תאריך משלוח" />
                <input th:if="${gotDate} == 1" class="input_field" type="text" id="datepicker" onchange="reloadPage();" th:value="${deliveryDate}" />
                <script>
                $( function() {
                    $( "#datepicker" ).datepicker({
                                                   constrainInput: true,   // prevent letters in the input field
                                                   beforeShowDay: $.datepicker.noWeekends,     // Disable selection of weekends
                                                   firstDay: 0});
                } );
                </script>
            </td>
        </tr>
    </table>
</div>

<div class="mobile_submenu" style="position: relative; top: 200px; right: 22px;">
    <p id="sub1" onclick="show(1);" style="color: #a10000;">פרוט משלוחים בעבודה</p>
    <p id="sub2" onclick="show(2);">קוים בעבודה</p>
    <input type="hidden" th:value="${openRow}" name="openRowStr" id="openRowStr"></input>
    <input type="hidden" th:value="${deliveryDate}" name="deliveryDate" id="deliveryDate"></input>
</div>


<div id="assignments" class="customers" style="display: block;">
    <div th:each="route : ${routesColumns}">
       <table style="line-height: 22px; border-collapse: collapse;">
           <tr style="background-color: #ffffff; line-height: 0px;">
               <td style="width: 46px;">
                   <p th:onclick="'toggle_sup(\'sup_body' + ${route['routeNumber']} + '\')'">+</p>
               </td>
               <td style="width: 71px;" th:text="${route['prefix']}"/>
               <td style="width: 50px;" th:text="${route['driver']}"/>
               <td style="width: 30px;" th:text="${route['numberOfStops']}"/>
               <td style="width: 229px;" th:text="${route['numberOfRemainingPoints']}"/>
               <td/>
               <td th:text="${route['estimatedStart']}"/>
               <td style="width: 268px;" th:text="${route['actualStart']}"/>
               <td>
                   <input class="button_short" type="button" th:onclick="'openRoute(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="פתח מסלול" th:disabled="${route['open']} == 0"/>
               </td>
               <td>
                   <input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/logistics/showMap} + '?prefix=' + ${route['prefix']} + '&amp;deliveryDate=' + ${deliveryDate} + '\';'" onmouseover="" style="cursor: pointer;" value="הצג מסלול" th:disabled="${route['id']} == 0"/>
               </td>
               <td>
                   <input class="button_short" type="button" th:onclick="'closeRoute(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="סגור מסלול" th:disabled="${route['close']} == 0"/>
               </td>
               <td th:if="${route['direction']} == 1">
                   <input class="button_short" type="button" th:onclick="'changeDirection(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="&#x25B3;" th:disabled="${route['id']} == 0"/>
               </td>
               <td th:if="${route['direction']} == 0">
                   <input class="button_short" type="button" th:onclick="'changeDirection(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="&#x25BD;" th:disabled="${route['id']} == 0"/>
               </td>
               <td th:if="${route['visible']} == 0">
                   <input class="button_short" type="button" th:onclick="'changeVisibility(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="הצג לנהג" th:disabled="${route['id']} == 0"/>
               </td>
               <td th:if="${route['visible']} == 1">
                   <input class="button_short" type="button" th:onclick="'changeVisibility(' + ${route['id']} + ');'" onmouseover="" style="cursor: pointer;" value="הסתר מנהג" th:disabled="${route['id']} == 0"/>
               </td>
           </tr>
       </table>
       <table th:if="${route['openRow']} != 0" >
           <tbody th:id="'sup_body' + ${route['routeNumber']}" style="display:block;">
           <tr style="line-height: 20px;" th:each="row : ${route['routeStop']}">
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['orderId']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${row['orderId']} + '\';'" ></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['dhlNumber']}"></td>
               <td th:style="'width: 120px; background-color: #' + ${row['color']} + ';'" th:text="${row['customerName']}"></td>
               <td th:style="'width: 230px; background-color: #' + ${row['color']} + ';'" th:text="${row['address']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['estimatedTime']}"></td>
               <td th:style="'width: 40px; background-color: #' + ${row['color']} + ';'" th:text="${row['actualDelivery']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['customerPhoneNumber']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['customerPhoneNumber2']}"></td>
               <td th:style="'width: 300px; background-color: #' + ${row['color']} + ';'" th:text="${row['remarks']}"></td>
               <td style="background-color: #ffffff;">
                   <input class="button_short" type="button" th:onclick="'setOrderDelivered(' + ${row['orderId']} + ');'" onmouseover="" style="cursor: pointer;" value="הזמנה נמסרה" th:disabled="${row['status']} == 1"/>
               </td>
           </tr>
           </tbody>
       </table>
       <table th:if="${route['openRow']} == 0" >
           <tbody th:id="'sup_body' + ${route['routeNumber']}" style="display:none;">
           <tr style="line-height: 20px;" th:each="row : ${route['routeStop']}">
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['orderId']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${row['orderId']} + '\';'" ></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['dhlNumber']}"></td>
               <td th:style="'width: 120px; background-color: #' + ${row['color']} + ';'" th:text="${row['customerName']}"></td>
               <td th:style="'width: 230px; background-color: #' + ${row['color']} + ';'" th:text="${row['address']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['estimatedTime']}"></td>
               <td th:style="'width: 40px; background-color: #' + ${row['color']} + ';'" th:text="${row['actualDelivery']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['customerPhoneNumber']}"></td>
               <td th:style="'background-color: #' + ${row['color']} + ';'" th:text="${row['customerPhoneNumber2']}"></td>
               <td th:style="'width: 300px; background-color: #' + ${row['color']} + ';'" th:text="${row['remarks']}"></td>
               <td style="background-color: #ffffff;">
                   <input class="button_short" type="button" th:onclick="'setOrderDelivered(' + ${row['orderId']} + ');'" onmouseover="" style="cursor: pointer;" value="הזמנה נמסרה" th:disabled="${row['status']} == 1"/>
               </td>
           </tr>
          </tbody>
       </table>
    </div>
</div>

<div id="routes" class="customers" style="display: none;">
    <table style="line-height: 20px;">
        <tr>
            <th>קוד נתיב</th>
            <th>מספר משימות</th>
            <th>מספר משימות שהושלמו</th>
        </tr>

        <tr th:each="routeColumn : ${routesColumns}" >
        </tr>
    </table>
</div>

<script>
    /*<![CDATA[*/
    function changeDirection(id) {
       deliveryDate = document.getElementById('deliveryDate').value;
       openRowStr = document.getElementById('openRowStr').value;
       window.location = "/admin/logistics/chnageRouteDirction?routeId=" + id + "&deliveryDate=" +  deliveryDate + "&openRow=" + openRowStr;
    }

    function changeVisibility(id) {
       deliveryDate = document.getElementById('deliveryDate').value;
       openRowStr = document.getElementById('openRowStr').value;
       window.location = "/admin/logistics/chnageRouteVisibility?routeId=" + id + "&deliveryDate=" +  deliveryDate + "&openRow=" + openRowStr;
    }

    function openRoute(id) {
       deliveryDate = document.getElementById('deliveryDate').value;
       openRowStr = document.getElementById('openRowStr').value;
       window.location = "/admin/logistics/openRoute?routeId=" + id + "&deliveryDate=" +  deliveryDate + "&openRow=" + openRowStr;
    }

    function closeRoute(id) {
       deliveryDate = document.getElementById('deliveryDate').value;
       openRowStr = document.getElementById('openRowStr').value;
       window.location = "/admin/logistics/closeRoute?routeId=" + id + "&deliveryDate=" +  deliveryDate + "&openRow=" + openRowStr;
    }

    function setOrderDelivered(id) {
       deliveryDate = document.getElementById('deliveryDate').value;
       openRowStr = document.getElementById('openRowStr').value;
       window.location = "/admin/logistics/setOrderDelivered?orderId=" + id + "&deliveryDate=" +  deliveryDate + "&openRow=" + openRowStr;
    }
    /*]]>*/
</script>

<script>

    function reloadPage() {
       value = document.getElementById('datepicker').value;
       window.location = '/admin/logistics2?deliveryDate=' + value;
    }

    function show(id) {
       document.getElementById('assignments').style.display = "none";
       document.getElementById('routes').style.display = "none";
       document.getElementById('sub1').style.color = "#000000";
       document.getElementById('sub2').style.color = "#000000";
       switch(id) {
          case 1: document.getElementById('assignments').style.display = "block";
                  document.getElementById('sub1').style.color = "#a10000";
                  break;

          case 2: document.getElementById('routes').style.display = "block";
                  document.getElementById('sub2').style.color = "#a10000";
                  break;

          case 3: document.getElementById('mobile_notifications').style.display = "block";
                  document.getElementById('sub3').style.color = "#a10000";
                  break;
       }
    }

    function openNewTab(url) {
        window.open(url, '_blank');
    }

    function toggle_sup (tbody) {
       if (document.getElementById(tbody).style.display == "block") {
          document.getElementById(tbody).style.display = "none";
          openRowStr = document.getElementById('openRowStr').value;
          index = parseInt(tbody.substring(8))-1;
          openRowStr = openRowStr.substr(0, index) + "0" + openRowStr.substr(index + 1);
          document.getElementById('openRowStr').value = openRowStr;
       } else {
          document.getElementById(tbody).style.display = "block";
          openRowStr = document.getElementById('openRowStr').value;
          index = parseInt(tbody.substring(8))-1;
          openRowStr = openRowStr.substr(0, index) + "1" + openRowStr.substr(index + 1);
          document.getElementById('openRowStr').value = openRowStr;
       }
    }

</script>
</body>
</html>
