<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Mobile App control</title>
</head>

<body style="margin: 0px;">

<style>
    .mobile_submenu {
       font-size: 24px;
    }

    .mobile_submenu p {
       display: inline-block;
       padding-left: 30px;
       cursor: pointer;
    }

</style>
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">משלוחים</p>
            </td>
            <td width="400px;"></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>

<div class="mobile_submenu" style="position: relative; top: 200px; right: 22px;">
    <p id="sub1" onclick="show(1);" style="color: #a10000;">פרוט משלוחים בעבודה</p>
    <p id="sub2" onclick="show(2);">קוים בעבודה</p>
</div>

<div id="assignments" class="customers" style="display: block;">
    <table style="line-height: 22px; border-collapse: collapse;">
        <tr>
            <th>מספר הזמנה</th>
            <th>קוד הזמנה</th>
            <th>שם לקוח</th>
            <th>כתובת</th>
            <th>ארגזים</th>
            <th>זמן הגעה משוער</th>
            <th>זמן הגעה</th>
            <th>הערות</th>
            <th>טלפון</th>
            <th>טלפון נוסף</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="orderColumn : ${orderColumns}" >
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['id']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['id']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['dhlNumber']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['dhlNumber']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['customerName']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['customerName']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['address']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['address']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['boxes']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['boxes']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['estimatedTime']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['estimatedTime']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['deliveryTime']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['deliveryTime']}"/>
            <td th:if="${orderColumn['status']} == 1" style="width: 250px; background-color: #829a4f;" th:text="${orderColumn['remarks']}"/>
            <td th:if="${orderColumn['status']} != 1" style="width: 250px; background-color: #ffffff;" th:text="${orderColumn['remarks']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['customerPhoneNumber']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['customerPhoneNumber']}"/>
            <td th:if="${orderColumn['status']} == 1" style="background-color: #829a4f;" th:text="${orderColumn['customerPhoneNumber2']}"/>
            <td th:if="${orderColumn['status']} != 1" style="background-color: #ffffff;" th:text="${orderColumn['customerPhoneNumber2']}"/>
            <td style="background-color: #ffffff;">
               <input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/logistics/setOrderDelivered} + '?orderId=' + ${orderColumn['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הזמנה נמסרה" th:disabled="${orderColumn['status']} == 1"/>
            </td>
            <td style="background-color: #ffffff;">
               <input th:if="${orderColumn['lineNumber']} == 1" class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/logistics/openRoute} + '?orderId=' + ${orderColumn['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="פתח מסלול" th:disabled="${orderColumn['disableRoute']} == 0"/>
            </td>
            <td style="background-color: #ffffff;"/>
            <td style="background-color: #ffffff;">
                <input th:if="${orderColumn['lineNumber']} == 1" class="button_short" type="button" th:onclick="'openNewTab(\'' + @{/admin/logistics/showMap} + '?prefix=' + ${orderColumn['linePrefix']} + '\');'" onmouseover="" style="cursor: pointer;" value="הצג מסלול"/>
            </td>
        </tr>
    </table>
</div>

<div id="routes" class="customers" style="display: none;">
    <table style="line-height: 20px;">
        <tr>
            <th>קוד נתיב</th>
            <th>מספר משימות</th>
            <th>מספר משימות שהושלמו</th>
        </tr>

        <tr th:each="routeColumn : ${routesColumns}" >
            <td th:text="${routeColumn['dhlNumber']}"/>
            <td th:text="${routeColumn['assignments']}"/>
            <td th:text="${routeColumn['delivered']}"/>
        </tr>
    </table>
</div>

<script>
    function show(id) {
       document.getElementById('assignments').style.display = "none";
       document.getElementById('routes').style.display = "none";
       document.getElementById('sub1').style.color = "#000000";
       document.getElementById('sub2').style.color = "#000000";
       switch(id) {
          case 1: document.getElementById('assignments').style.display = "block";
                  document.getElementById('sub1').style.color = "#a10000";
                  break;

          case 2: document.getElementById('routes').style.display = "block";
                  document.getElementById('sub2').style.color = "#a10000";
                  break;

          case 3: document.getElementById('mobile_notifications').style.display = "block";
                  document.getElementById('sub3').style.color = "#a10000";
                  break;
       }
    }

    function openNewTab(url) {
        window.open(url, '_blank');
    }
</script>
</body>
</html>
