<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
</head>

<body>

<div id="login_logo">
    <a href="https://www.shookbook.co.il" class="logo"><img style="width:150px;" src="https://www.shookbook.co.il/email/new_logo_small.png"/></a>
</div>
<form th:action="@{/admin/login/submit}" method="post">
    <table id = "login_page">
        <tr>
            <td>שם משתמש:</td>
            <td><input type="text" name="username" id="username" /></td>
        </tr>
        <tr>
            <td>סיסמה:</td>
            <td><input type="password" name="password" id="password" /></td>
        </tr>
        <tfoot>
           <tr>
               <td></td>
               <td>
                   <button type="submit">התחבר</button>
               </td>
           </tr>
        </tfoot>
    </table>
    <br />
</form>

<div id="login_version" th:text="${version}"></div>


</body>
</html>