<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/js/image-picker.js}"></script>
    <script type="text/javascript" th:src="@{/js/image-picker.min.js}"></script>
</head>


<body style="margin: 0px;">

<div th:include="Header" />
<br />

<div id="manager_container">

<table id="top_buttons">
    <tr>
        <td th:if="${globals['modules_enable_logistics']} == 1" width="150">
            <div class="input_button">
                <span>טען קובץ דהל</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/order/uploadCsv" id="uploadCsv">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('uploadCsv').submit();" value="uploadCsv"/>
                </form>
            </div>
        </td>
        <td th:if="${globals['modules_enable_logistics']} == 1" width="150">
            <div class="input_button">
                <span>טען קובץ מפו</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/order/uploadMapoCsv" id="uploadMapoCsv">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('uploadMapoCsv').submit();" value="uploadMapoCsv"/>
                </form>
            </div>
        </td>
        <td width="150">
            <div class="input_button">
                <span>טען תמונות</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/fileUpload" id="FileUpload">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('FileUpload').submit();" value="fileUpload"/>
                </form>
            </div>
        </td>
        <td>
            <div class="input_button">
                <span>טען תאריכי משלוח</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/manager/uploadDeliveryDates" id="uploadDelivryDates">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('uploadDelivryDates').submit();" value="uploadDeliveryDates"/>
                </form>
            </div>
        </td>
        <td>
            <div class="input_button">
                <span>טען הזמנות חיצוניות</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/manager/uploadExternalOrders" id="uploadExternalOrders">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('uploadExternalOrders').submit();" value="uploadExternalOrders"/>
                </form>
            </div>
        </td>
        <td>
            <div class="button">
                <button class="button" type="button" th:onclick="'location.href = \'' + @{/admin/manager/downloadDeliveryDates} + '\';'">שמור תאריכי משלוח</button>
            </div>
        </td>
        <td>
            <div class="input_button">
                <span>עדכן אזורים</span>
                <form method="POST" enctype="multipart/form-data" action="/admin/manager/updateCityGroups" id="cityGroupsFile">
                    <input type="file" name="file" multiple="multiple" onchange="document.getElementById('cityGroupsFile').submit();" value="cityGroupsFile"/>
                </form>
            </div>
        </td>
    </tr>
</table>

<br /><br />
<table style="margin-left:auto; margin-right:auto; position:center;">
    <tr>
        <td if="${admin}" style="padding-right:20px; padding-left:20px;">
            <div><input class="button" type="button" th:onclick = "'location.href = \'' + @{/admin/manager/workers} +'\';'" onmouseover="" style="cursor: pointer;" value="ניהול משתמשים"/></div>
        </td>
        <td style="padding-right:20px; padding-left:20px;">
            <div><input class="button" type="button" th:onclick = "'location.href = \'' + @{/admin/manager/globals} +'\';'" onmouseover="" style="cursor: pointer;" value="משתני מערכת"/></div>
        </td>
    </tr>
</table>

    <div>
        <ul class="collection">

            <li th:each="file : ${files}" th:text="${file}" >
                <!--<input type="text" id="fileName" th:value="${file}" name="fileName" />-->

            </li>
        </ul>
    </div>
</div>
</body>

</html>