<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Mobile App control</title>
</head>

<body style="margin: 0px;">

<style>
    .mobile_submenu {
       font-size: 24px;
    }

    .mobile_submenu p {
       display: inline-block;
       padding-left: 30px;
       cursor: pointer;
    }

</style>
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">אפליקציה ניידת</p>
            </td>
            <td width="400px;"></td>
            <td>
                <input class="button" type="button" value="קבוצה חדשה" th:onclick = "'location.href = \'' + @{/admin/mobileApp/createGroup/} + '\';'"/>
            </td>
            <td>
                <input class="button" type="button" value="הודעה חדשה" th:onclick = "'location.href = \'' + @{/admin/mobileApp/createNotification/} + '\';'"/>
            </td>
        </tr>
    </table>
</div>

<div class="mobile_submenu" style="position: relative; top: 200px; right: 22px;">
    <p id="sub1" onclick="show(1);" style="color: #a10000;">לקוחות</p>
    <p id="sub2" onclick="show(2);">קבוצות</p>
    <p id="sub3" onclick="show(3);">הודעות</p>
</div>

<div id="customers" class="customers" style="display: block;">
    <table style="line-height: 20px;">
        <tr>
            <th>מספר לקוח</th>
            <th>מספר קדמי</th>
            <th>שם לקוח</th>
            <th>מספר סשן</th>
        </tr>

        <tr th:each="customerColumn : ${customerColumns}" >
            <td th:text="${customerColumn['customerId']}"/>
            <td th:text="${customerColumn['customerWpId']}"/>
            <td th:text="${customerColumn['customerName']}"/>
            <td th:text="${customerColumn['customerSession']}"/>
        </tr>
    </table>
</div>

<div id="mobile_groups" class="customers" style="display: none;">
    <table style="line-height: 20px;">
        <tr>
            <th>מספר קבוצה</th>
            <th>שם</th>
            <th>מספר מנויים</th>
        </tr>

        <tr th:each="groupColumn : ${groupColumns}" >
            <td th:text="${groupColumn['id']}"/>
            <td th:text="${groupColumn['name']}" th:onclick="'location.href = \'' + @{/admin/mobileApp/group} + '?id=' + ${groupColumn['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
            <td th:text="${groupColumn['numberOfUsers']}"/>
        </tr>
    </table>
</div>

<div id="mobile_notifications" class="customers" style="display: none;">
    <table style="line-height: 20px;">
        <tr>
            <th>מספר סידורי</th>
            <th>סוג</th>
            <th>קבוצה</th>
            <th>הודעה</th>
            <th></th>
        </tr>

        <tr th:each="column : ${notificationsColumns}" >
            <td th:text="${column['id']}"/>
            <td th:text="${column['type']}"/>
            <td th:text="${column['group']}"/>
            <td th:text="${column['text']}"/>
            <td><input class="button_short" type="button" id ="btn" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/mobileApp/sendNotification} + '?notificationId=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="שלח הודעה"/></td>
        </tr>
    </table>
</div>

<script>
    function show(id) {
       document.getElementById('customers').style.display = "none";
       document.getElementById('mobile_groups').style.display = "none";
       document.getElementById('mobile_notifications').style.display = "none";
       document.getElementById('sub1').style.color = "#000000";
       document.getElementById('sub2').style.color = "#000000";
       document.getElementById('sub3').style.color = "#000000";
       switch(id) {
          case 1: document.getElementById('customers').style.display = "block";
                  document.getElementById('sub1').style.color = "#a10000";
                  break;

          case 2: document.getElementById('mobile_groups').style.display = "block";
                  document.getElementById('sub2').style.color = "#a10000";
                  break;

          case 3: document.getElementById('mobile_notifications').style.display = "block";
                  document.getElementById('sub3').style.color = "#a10000";
                  break;
       }
    }
</script>
</body>
</html>
