<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Mobile group details</title>
</head>
<body style="margin: 0px;">
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">אפליקציה ניידת - פרטי קבוצה</p>
            </td>
            <td width="500px"></td>
            <td>
                <button class="button" th:onclick="'location.href = \'' + @{/admin/mobileApp/csv/group} + '?groupId=' + ${column['id']} + '\';'">שמור קובץ</button>
            </td>
        </tr>
    </table>
</div>


<div class="coupon_details">
    <table>
        <tr>
            <td><b>שם קבוצה</b></td>
            <td>
                <p><strong th:text="${column['name']}" /></p>
            </td>
            <td>
                <p><strong>מספר נמענים</strong></p>
            </td>
            <td>
                <p><strong th:text="${column['numberOfUsers']}" /></p>
            </td>
            <td width="200px"></td>
            <td><button class="button_short" type="button" th:onclick="'openAddUserDialog(' + ${column['id']} + ');'">הוסף</button></td>
        </tr>
    </table>
</div>

<div>
    <table class="collapsable_coupons">
        <tbody class="collapsable_coupons_label">
        <tr>
            <th width="10px">
                <label for="customer_group">
                    <a class="arrow">
                        <img class="arrow_img rotate270" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
                    </a>
                </label>
                <input type="checkbox" name="customer_group" id="customer_group" style="display: none;" data-toggle="toggle" />
            </th>
            <th width="200px">שם לקוח</th>
            <th>כתובת מייל</th>
            <th>מספר טלפון</th>
        </tr>
        </tbody>
        <tbody class="hide">
        <tr th:each="customer : ${customers}" >
            <td></td>
            <td>
                <p th:text="${customer['fullName']}"/>
            </td>
            <td>
                <p th:text="${customer['email']}"/>
            </td>
            <td>
                <p th:text="${customer['phone']}"/>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="addUserDialog" title="הוסף לקוח" class="orderDialog" style="display: none;">
        <div>
            <form method="post" th:action="@{/admin/mobileApp/group/submit/addUser}">
                <input type="hidden" name="groupId" id="groupId" />
                <input type="text" placeholder="כתובת מייל" name="customerId" list="customerList"/>
                <datalist id="customerList">
                    <option th:each="customer : ${listedCustomers}" th:value="${customer['id']}" th:text="${customer['email']}" />
                </datalist>
                <button>בצע</button>
            </form>
        </div>
    </div>

    <script>
    $(document).ready(function() {
	   $('[data-toggle="toggle"]').change(function(){
		  $(this).parents().next('.hide').toggle();
	   });
    });

    $('.arrow').on("click", function (event) {
       $('.arrow_img').toggleClass('rotate270');
       $('.arrow_img').toggleClass('rotate0');
    });

    function openAddUserDialog(groupId) {
       document.getElementById("groupId").value = groupId;
       $( function() {
          $("#addUserDialog").dialog();
       });
    }
    </script>
</div>
</body>
</html>