<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Global coupon</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />
<form th:action="@{/admin/mobileApp/notification/submit}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td colspan="3"><p>אפליקציה ניידת - יצירת הודעה</p></td>
                <td width="175px"></td>
                <td>
                    <button class="button" type="submit">שמור</button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table class="customer_details">
            <tr>
                <td>סוג קופון:</td>
                <td>
                    <select class="filter_short" name="notificationType" id="notificationType">
                        <optgroup>
                            <option value="0">תזכורת</option>
                            <option value="1">אריזה</option>
                            <option value="2">משלוח</option>
                            <option value="3">קבוצה</option>
                            <option value="4">מידע</option>
                            <option value="5">כללי</option>
                        </optgroup>
                    </select>
                </td>
                <td>שם קבוצה:</td>
                <td>
                    <input type="text" id="mobileGroup" th:placeholder="${group}" value="" data-value="" name="mobileGroup" list="groupList"/>
                    <datalist id="groupList">
                        <option th:each="grp : ${mobileGroups}" th:value="${grp['id']}" th:text="${grp['name']}" />
                    </datalist>
                </td>

                <td>הודעה:</td>
                <td>
                    <input class="input_field_short" type="text" name="notificationText" />
                </td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>