<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Order coupon</title>
</head>

<body style="margin: 0px;">

<form th:action="@{/admin/orders/coupon/submit}" name="orderCoupon" id="orderCoupon" method="post" onSubmit="return false">
    <div th:include="Header" />

    <div id="page_title">
        <table>
            <tr>
                <td colspan="3">
                    <p style="display:inline;">קופונים - יצירת קופון</p>
                </td>
                <td width="175px"></td>
                <td>
                    <input type="hidden" name="customerId" th:value="${column['customerId']}" />
                    <input type="hidden" name="orderId" th:value="${column['orderId']}" />
                    <input type="hidden" name="couponLeadCustomerEmail" th:value="0" />
                    <input class="button" type="button" onClick="document.orderCoupon.submit()" value="שמור"/>
                </td>
            </tr>
        </table>
    </div>
<p id="tmp">00000</p>
    <div>
        <table class="customer_details">
            <tr>
                <th colspan="2"><b>הפקת קופון ללקוח מספר:</b></th>
                <th colspan="3">
                    <p><strong th:text="${column['barcode']}" /></p>
                </th>
                <th><b>הזמנה מספר:</b></th>
                <th>
                    <p><strong th:text="${column['orderId']}" /></p>
                </th>
                <th width="100px"></th>
            </tr>
            <tr>
                <td> <p>שם:</p> </td>
                <td> <p th:text="${column['fullName']}" /> </td>
                <td> <p>מייל:</p> </td>
                <td colspan="2"> <p th:text="${column['email']}" /> </td>
                <td> <p>נקודות בצבירה:</p> </td>
                <td> <p th:text="${column['creditPoints']}" /> </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="customer_details" style="margin-top: 10px;">
            <tr>
                <td>סוג קופון:</td>
                <td>
                    <select name="couponType" id="couponType" onchange="changeCouponVisibility();">
                        <optgroup>
                            <option value="0">סכום הנחה</option>
                            <option value="8">קופון מאוחד</option>
                            <option value="1">אחוזי הנחה</option>
                            <option value="2">מימוש נקודות</option>
                        </optgroup>
                    </select>
                </td>
                <td id="singleCouponCause" style="visibility: visible;">סיבה:</td>
                <td id="singleCouponCauseInput" style="visibility: visible;">
                    <select name="couponCause" id="couponCause" th:onchange="'changeSingleCause();'">
                        <optgroup>
                            <option value="0">מוצר פגום</option>
                            <option value="6">אריזה</option>
                            <option value="1">משלוח</option>
                            <option value="2">פיצוי</option>
                            <option value="3">כללי</option>
                        </optgroup>
                    </select>
                </td>
                <td id="singleCouponAmountTitle" style="visibility: visible;">סכום קופון:</td>
                <td id="singleCouponAmountInput" style="display: none;">
                    <input type="text" id="couponAmount" name="couponAmount" value="0.00" onchange="updateSingleAmount();"/>
                </td>
                <td id="singleCouponAmountValue" name="singleCouponAmountValue" style="display: block; padding-top: 5px;">0.00</td>
                <td id="singleCouponAmountRemarks" style="visibility: visible;">הערות:</td>
                <td id="singleCouponAmountRemarksInput" style="visibility: visible;">
                    <input type="text" name="couponDetails" />
                </td>
            </tr>
        </table>
        <table class="customer_details" id="singleCoupon" style="margin-top: 10px;">
            <tr>
                <td th:id="refundSingleProductNameTd" style="width:180px; margin-top:5px;">
                    <input class="input_field_short_0" style="width:150px" id="refundSingleProductName" type="text" placeholder="בחר מוצר" name="refundSingleProductName" th:list="singleProductList" onchange="updateSingleAmount();"/>
                    <datalist th:id="singleProductList">
                        <option th:each="product : ${productList}"
                                th:value="${product['name']}" th:text="${product['name']}"></option>
                    </datalist>
                </td>
                <td>כמות מחוייבת:</td>
                <td id="singleQtyTd" name="singleQtyTd" style="width: 30px;">
                    <p id="singleQty" name="singleQty" style="display: inline-block;">0.0</p>
                </td>
                <td>כמות לזיכוי:</td>
                <td id="refundSingleQtyTd">
                    <input class="input_field_short_0" style="width:30px" id="refundSingleQty" type="text" name="refundSingleQty" value="" alt="" onchange="updateSingleAmount();"/>
                </td>
            </tr>
        </table>
    </div>

    <div class="customer_details" id="refunds_table" style="margin-top: -30px; display: none;">
        <table>
            <tr>
                <th>
                    <input id="refunds_in_coupon" name="refunds_in_coupon" type="hidden" value="1"/>
                    <input id="orderProductsData" name="orderProductsData" type="hidden" th:value="${orderProductsData}"/>
                    <input id="refunds_data" name="refunds_data" type="hidden" value="0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0"/>
                    <input id="singleCouponAmount" name="singleCouponAmount" type="hidden" value="0.00"/>
                </th>
                <th>סיבה</th>
                <th></th>
                <th>מוצר</th>
                <th>תאור</th>
                <th>כמות מחוייבת</th>
                <th>כמות לזיכוי</th>
                <th>סכום</th>
                <th><input type="button" class="button_short" onclick="addRefundLine()" value="+"/></th>
            </tr>
            <tr th:each="i: ${#numbers.sequence(0, 9)}" th:id="'refund_' + ${i}" style="display:none;">
                <td><p th:id="'refund_no_' + ${i}" th:text="${i}+1"></p></td>
                <td>
                    <select th:name="'refundCause_' + ${i}" th:id="'refundCause_' + ${i}" th:onchange="'changeCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="0">איכות</option>
                            <option value="1">אריזה</option>
                            <option value="2">משלוח</option>
                            <option value="3">פיצוי</option>
                            <option value="4">אחר</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <select style="display: block;" th:name="'refundQualityCause_' + ${i}" th:id="'refundQualityCause_' + ${i}" th:onchange="'changeRootCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="0">מוצר פגום</option>
                            <option value="7">בעיית משקל</option>
                        </optgroup>
                    </select>
                    <select style="display: none;" th:name="'refundHandlingCause_' + ${i}" th:id="'refundHandlingCause_' + ${i}" th:onchange="'changeRootCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="8">כמות שגויה/מוצר חסר</option>
                            <option value="9">התפזר/נפגע בארגז</option>
                            <option value="6">מוצר שגוי</option>
                        </optgroup>
                    </select>
                    <select style="display: none;" th:name="'refundDeliveryCause_' + ${i}" th:id="'refundDeliveryCause_' + ${i}" th:onchange="'changeRootCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="1">לא הגיע ליעד</option>
                            <option value="10">התנהגות שליח</option>
                            <option value="11">מצב הארגז</option>
                        </optgroup>
                    </select>
                    <select style="display: none;" th:name="'refundCompansationCause_' + ${i}" th:id="'refundCompansationCause_' + ${i}" th:onchange="'changeRootCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="2">פיצוי</option>
                        </optgroup>
                    </select>
                    <select style="display: none;" th:name="'refundMiscCause_' + ${i}" th:id="'refundMiscCause_' + ${i}" th:onchange="'changeRootCause(\'' + ${i} + '\');'">
                        <optgroup>
                            <option value="3">כללי</option>
                        </optgroup>
                    </select>
                    <input th:id="'refundRootCause_' + ${i}" name="'refundRootCause_' + ${i}" type="hidden" value="0"/>
                    <input th:id="'refundAmount_' + ${i}" name="'refundAmount_' + ${i}" type="hidden" value="0"/>
                </td>
                <td th:id="'refundProductNameTd_' + ${i}" style="width:150px; margin-top:5px; visibility: visible;">
                    <input class="input_field_short_0" style="width:130px" th:id="'refundProductName_' + ${i}" type="text" placeholder="בחר מוצר" th:name="'refundProductName_' + ${i}" th:list="productList" th:onchange="'changeProduct(\'' + ${i} + '\');'"/>
                    <datalist th:id="productList">
                        <option th:each="product : ${productList}"
                                th:value="${product['name']}" th:text="${product['name']}"></option>
                    </datalist>
                </td>
                <td th:id="'refundTextTd_' + ${i}" style="width:250px;">
                    <input class="input_field_short_0" style="width:210px" th:id="'refundText_' + ${i}" type="text" th:name="'refundText_' + ${i}" value="" th:alt="${i}" th:onchange="'insertToStr(\'' + ${i} + '\');'"/>
                </td>
                <td th:id="'qtyTd_' + ${i}" style="visibility:visible;">
                    <p th:id="'qty_' + ${i}" type="text" th:name="'qty_' + ${i}"></p>
                </td>
                <td th:id="'refundQtyTd_' + ${i}" style="visibility:visible;">
                    <input class="input_field_short_0" style="width:50px" th:id="'refundQty_' + ${i}" type="text" th:name="'refundQty_' + ${i}" value="" th:alt="${i}" th:onchange="'updateAmount(\'' + ${i} + '\');'"/>
                </td>
                <td th:id="'refundCalcAmountTd_' + ${i}" style="display:block; width:100px;">
                    <p th:id="'refundCalcAmount_' + ${i}" type="text" th:name="'refundCalcAmount_' + ${i}">0.00</p>
                </td>
                <td th:id="'refundInputAmountTd_' + ${i}" style="display:none; width:100px;">
                    <input class="input_field_short_0" style="width:50px; margin-top: 6px;" th:id="'refundInputAmount_' + ${i}" type="text" th:name="'refundInputAmount_' + ${i}" value="" th:alt="${i}" th:onchange="'updateAmount(\'' + ${i} + '\');'"/>
                </td>
            </tr>
        </table>
    </div>
</form>

<script>

    $("#orderCoupon").submit(function(e) {
       e.preventDefault();
    });

    /*<![CDATA[*/

    function changeCouponVisibility() {
       value = parseInt(document.getElementById('couponType').value);
       switch (value) {
          case 8:  document.getElementById('singleCouponCause').style.visibility = "hidden";
                   document.getElementById('singleCouponCauseInput').style.visibility = "hidden";
                   document.getElementById('singleCouponAmountTitle').style.visibility = "visible";
                   document.getElementById('singleCouponAmountInput').style.display = "none";
                   document.getElementById('singleCouponAmountValue').style.display = "block";
                   document.getElementById('singleCouponAmountRemarks').style.visibility = "visible";
                   document.getElementById('singleCouponAmountRemarksInput').style.visibility = "visible";
                   document.getElementById('singleCoupon').style.display = "none";
                   document.getElementById('refunds_table').style.display = "block";
                   document.getElementById('refund_0').style.display = "table-row";
                   break;
          case 7:  document.getElementById('singleCouponCause').style.visibility = "visible";
                   document.getElementById('singleCouponCauseInput').style.visibility = "visible";
                   document.getElementById('singleCouponAmountTitle').style.visibility = "visible";
                   document.getElementById('singleCouponAmountInput').style.display = "block";
                   document.getElementById('singleCouponAmountValue').style.display = "none";
                   document.getElementById('singleCouponAmountRemarks').style.visibility = "visible";
                   document.getElementById('singleCouponAmountRemarksInput').style.visibility = "visible";
                   document.getElementById('singleCoupon').style.display = "none";
                   document.getElementById('refunds_table').style.display = "none";
                   break;
          case 9:  document.getElementById('singleCouponCause').style.visibility = "visible";
                   document.getElementById('couponCause').value = 3;
                   document.getElementById('singleCouponCauseInput').style.visibility = "visible";
                   document.getElementById('singleCouponAmountTitle').style.visibility = "visible";
                   document.getElementById('singleCouponAmountInput').style.display = "block";
                   document.getElementById('singleCouponAmountValue').style.display = "none";
                   document.getElementById('singleCouponAmountRemarks').style.visibility = "visible";
                   document.getElementById('singleCouponAmountRemarksInput').style.visibility = "visible";
                   document.getElementById('singleCoupon').style.display = "none";
                   document.getElementById('refunds_table').style.display = "none";
                   break;
          default: document.getElementById('singleCouponCause').style.visibility = "visible";
                   document.getElementById('singleCouponCauseInput').style.visibility = "visible";
                   document.getElementById('singleCouponAmountTitle').style.visibility = "visible";
                   document.getElementById('singleCouponAmountInput').style.display = "block";
                   document.getElementById('singleCouponAmountValue').style.display = "none";
                   document.getElementById('singleCouponAmountRemarks').style.visibility = "visible";
                   document.getElementById('singleCouponAmountRemarksInput').style.visibility = "visible";
                   document.getElementById('singleCoupon').style.display = "block";
                   document.getElementById('refunds_table').style.display = "none";
                   break;
       }
    }

    function changeSingleCause() {
       if ((document.getElementById('couponCause').value == 0) || (document.getElementById('couponCause').value == 6)) {
          document.getElementById('singleCouponAmountValue').style.display = 'block';
          document.getElementById('singleCouponAmountInput').style.display = 'none';
          document.getElementById('singleCoupon').style.display = "block";
       } else {
          document.getElementById('singleCouponAmountValue').style.display = 'none';
          document.getElementById('singleCouponAmountInput').style.display = 'block';
          document.getElementById('singleCoupon').style.display = "none";
       }
    }

    function updateSingleAmount() {
       availableProducts = document.getElementById('orderProductsData').value;
       product = document.getElementById('refundSingleProductName').value;
       elements = availableProducts.split(";");
       place = elements.indexOf(product);
       price = elements[place+1];
       qty = elements[place+2];
       document.getElementById('singleQty').innerHTML = qty;
       refundQty = document.getElementById('refundSingleQty').value;
       amount = refundQty * price;
       if ((document.getElementById('couponCause').value == 0) || (document.getElementById('couponCause').value == 6)) {
          document.getElementById('singleCouponAmountValue').innerHTML = amount.toFixed(2);
       } else {
          document.getElementById('singleCouponAmountValue').innerHTML = document.getElementById('couponAmount').value;
       }

       document.getElementById('singleCouponAmount').value = parseFloat(document.getElementById('singleCouponAmountValue').innerHTML);
       insertToStr(0);
    }

    function addRefundLine() {
       refunds = parseInt(document.getElementById('refunds_in_coupon').value)
       refundsToAdd = 10;
       if (refundsToAdd > refunds) {
          document.getElementById('refund_' + refunds).style.display = "table-row";
          document.getElementById('refunds_in_coupon').value = refunds + 1;
       }
    }

    function updateAmount(index) {
       availableProducts = document.getElementById('orderProductsData').value;
       product = document.getElementById('refundProductName_' + index).value;
       elements = availableProducts.split(";");
       place = elements.indexOf(product);
       price = elements[place+1];
       refundQty = document.getElementById('refundQty_' + index).value;
       amount = 0;
       if ((document.getElementById('refundCause_' + index).value == 0) || (document.getElementById('refundCause_' + index).value == 1)) {
          amount = refundQty * price;
          document.getElementById('refundCalcAmount_' + index).innerHTML = amount;
       } else {
          amount = parseFloat(document.getElementById('refundInputAmount_' + index).value);
       }
       document.getElementById('refundAmount_' + index).value = amount.toFixed(2);
       for (i = 0; i < 10; i++) {
          if (i != index) {
             amount += parseFloat(document.getElementById('refundAmount_' + i).value);
          }
       }
       document.getElementById('singleCouponAmountValue').innerHTML = amount.toFixed(2);
       document.getElementById('singleCouponAmount').value = amount.toFixed(2);
       insertToStr(index);
    }

    function changeProduct(index) {
       availableProducts = document.getElementById('orderProductsData').value;
       product = document.getElementById('refundProductName_' + index).value;
       elements = availableProducts.split(";");
       place = elements.indexOf(product);
       price = elements[place+1];
       qty = elements[place+2];
       document.getElementById('qty_' + index).innerHTML = qty;
       refundQty = document.getElementById('refundQty_' + index).value;
       amount = refundQty * price;
       if ((document.getElementById('refundCause_' + index).value == 0) || (document.getElementById('refundCause_' + index).value == 1)) {
          document.getElementById('refundCalcAmount_' + index).innerHTML = amount.toFixed(2);
          document.getElementById('refundAmount_' + index).value = amount.toFixed(2);
       } else {
          document.getElementById('refundAmount_' + index).value = document.getElementById('refundInputAmount_' + index).value;
       }
       for (i = 0; i < 10; i++) {
          if (i != index) {
             amount += parseFloat(document.getElementById('refundAmount_' + i).value);
          }
       }
       document.getElementById('singleCouponAmountValue').innerHTML = amount.toFixed(2);
       document.getElementById('singleCouponAmount').value = amount.toFixed(2);
       insertToStr(index);
    }

    function changeCause(index) {
       cause = parseInt(document.getElementById('refundCause_' + index).value);
       switch (cause) {
          case 0: document.getElementById('refundQualityCause_' + index).style.display = 'block';
                  document.getElementById('refundHandlingCause_' + index).style.display = 'none';
                  document.getElementById('refundDeliveryCause_' + index).style.display = 'none';
                  document.getElementById('refundCompansationCause_' + index).style.display = 'none';
                  document.getElementById('refundMiscCause_' + index).style.display = 'none';
                  document.getElementById('refundRootCause_' + index).value = document.getElementById('refundQualityCause_' + index).value;
                  document.getElementById('refundProductNameTd_' + index).style.visibility = 'visible';
                  document.getElementById('qtyTd_' + index).style.visibility = 'visible';
                  document.getElementById('refundQtyTd_' + index).style.visibility = 'visible';
                  document.getElementById('refundCalcAmountTd_' + index).style.display = 'block';
                  document.getElementById('refundInputAmountTd_' + index).style.display = 'none';
                  break;
          case 1: document.getElementById('refundQualityCause_' + index).style.display = 'none';
                  document.getElementById('refundHandlingCause_' + index).style.display = 'block';
                  document.getElementById('refundDeliveryCause_' + index).style.display = 'none';
                  document.getElementById('refundCompansationCause_' + index).style.display = 'none';
                  document.getElementById('refundMiscCause_' + index).style.display = 'none';
                  document.getElementById('refundRootCause_' + index).value = document.getElementById('refundHandlingCause_' + index).value;
                  document.getElementById('refundProductNameTd_' + index).style.visibility = 'visible';
                  document.getElementById('qtyTd_' + index).style.visibility = 'visible';
                  document.getElementById('refundQtyTd_' + index).style.visibility = 'visible';
                  document.getElementById('refundCalcAmountTd_' + index).style.display = 'block';
                  document.getElementById('refundInputAmountTd_' + index).style.display = 'none';
                  break;
          case 2: document.getElementById('refundQualityCause_' + index).style.display = 'none';
                  document.getElementById('refundHandlingCause_' + index).style.display = 'none';
                  document.getElementById('refundDeliveryCause_' + index).style.display = 'block';
                  document.getElementById('refundCompansationCause_' + index).style.display = 'none';
                  document.getElementById('refundMiscCause_' + index).style.display = 'none';
                  document.getElementById('refundRootCause_' + index).value = document.getElementById('refundDeliveryCause_' + index).value;
                  document.getElementById('refundProductNameTd_' + index).style.visibility = 'hidden';
                  document.getElementById('qtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundQtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundCalcAmountTd_' + index).style.display = 'none';
                  document.getElementById('refundInputAmountTd_' + index).style.display = 'block';
                  break;
          case 3: document.getElementById('refundQualityCause_' + index).style.display = 'none';
                  document.getElementById('refundHandlingCause_' + index).style.display = 'none';
                  document.getElementById('refundDeliveryCause_' + index).style.display = 'none';
                  document.getElementById('refundCompansationCause_' + index).style.display = 'block';
                  document.getElementById('refundMiscCause_' + index).style.display = 'none';
                  document.getElementById('refundRootCause_' + index).value = document.getElementById('refundCompansationCause_' + index).value;
                  document.getElementById('refundProductNameTd_' + index).style.visibility = 'hidden';
                  document.getElementById('qtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundQtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundCalcAmountTd_' + index).style.display = 'none';
                  document.getElementById('refundInputAmountTd_' + index).style.display = 'block';
                  break;
          case 4: document.getElementById('refundQualityCause_' + index).style.display = 'none';
                  document.getElementById('refundHandlingCause_' + index).style.display = 'none';
                  document.getElementById('refundDeliveryCause_' + index).style.display = 'none';
                  document.getElementById('refundCompansationCause_' + index).style.display = 'none';
                  document.getElementById('refundMiscCause_' + index).style.display = 'block';
                  document.getElementById('refundRootCause_' + index).value = document.getElementById('refundMiscCause_' + index).value;
                  document.getElementById('refundProductNameTd_' + index).style.visibility = 'hidden';
                  document.getElementById('qtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundQtyTd_' + index).style.visibility = 'hidden';
                  document.getElementById('refundCalcAmountTd_' + index).style.display = 'none';
                  document.getElementById('refundInputAmountTd_' + index).style.display = 'block';
                  break;
          default: break;
       }
       insertToStr(index);
    }


    function changeRootCause(index) {
       cause = parseInt(document.getElementById('refundCause_' + index).value);
       switch (cause) {
          case 0: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundQualityCause_' + index).value; break;
          case 1: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundHandlingCause_' + index).value; break;
          case 2: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundDeliveryCause_' + index).value; break;
          case 3: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundQualityCause_' + index).value; break;
          case 4: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundCompansationCause_' + index).value; break;
          default: document.getElementById('refundRootCause_' + index).value = document.getElementById('refundMiscCause_' + index).value; break;
       }
       insertToStr(index);
    }

    function insertToStr(location) {
       type = parseInt(document.getElementById('couponType').value);
       if (type == 8) {
          rootCause = document.getElementById('refundRootCause_' + location).value;
          str = document.getElementById('refunds_data').value;
          elements = str.split(";");
          elements[4*location + 0] = rootCause;
          elements[4*location + 1] = document.getElementById('refundQty_' + location).value;
          elements[4*location + 2] = document.getElementById('refundAmount_' + location).value;
          if ((document.getElementById('refundCause_' + location).value == 0) || (document.getElementById('refundCause_' + location).value == 1)) {
             text = document.getElementById('refundText_' + location).value;
             if (text.length > 1) {
                elements[4*location + 3] = document.getElementById('refundProductName_' + location).value + " - " + document.getElementById('refundText_' + location).value;
             } else {
                elements[4*location + 3] = document.getElementById('refundProductName_' + location).value;
             }
          } else {
             elements[4*location + 3] = document.getElementById('refundText_' + location).value;
          }
       } else {
          elements = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
          elements[0] = document.getElementById('couponCause').value;
          elements[1] = document.getElementById('refundSingleQty').value;
          elements[2] = document.getElementById('singleCouponAmount').value;
          if ((document.getElementById('couponCause' ).value == 0) || (document.getElementById('couponCause').value == 6)) {
             elements[3] = document.getElementById('refundSingleProductName').value;
          } else {
             elements[3] = document.getElementById('couponDetails').value;
          }
       }
       str = elements.join(";");
       document.getElementById('refunds_data').value = str;
    }

    /*]]>*/
</script>
</body>
</html>