<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" type="text/css" media="print" href="https://www.shookbook.co.il/backoffice/backoffice_print_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Order Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">הזמנת לקוחות - פרטי הזמנה</p>
            </td>
            <td width="60px"></td>
            <td>
                <form method="post" th:action="@{/admin/customers/orders/order/edit}">
                    <input type="hidden" name="orderId" th:value="${orderId}" />
                    <button class="button" type="submit">עריכה</button>
                </form>
            </td>
            <td width="10px"></td>
            <td><input th:if="${orderType} &lt; 80" class="button" type="button" value="יצירת קופון" th:onclick = "'location.href = \'' + @{/admin/orders/coupon/(orderId=${column['id']},customerId=${column['customerId']})} + '\';'"/></td>
            <td><input th:if="${orderType} &lt; 80" class="button" type="button" th:onclick="'openApplyCouponDialog(' + ${orderId} + ');'" value="החל קופון"/></td>
            <td width="10px"></td>
            <td><input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/certificate} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס תעודת משלוח"/></td>
            <td>
                <form method="post" th:action="@{/admin/customers/orders/sendInvoice}">
                    <input type="hidden" name="orderId" th:value="${orderId}" />
                    <button class="button" type="submit">שליחת חשבונית</button>
                 </form>
            </td>
            <td><input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/printQRcodeCustomers} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הדפס ברקוד"/></td>
            <td><input th:if = "${previlige} == 1" class="button" type="button" th:onclick="'location.href = \'' + @{/admin/logistics/setOrderDelivered} + '?orderId=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הזמנה נמסרה" th:disabled="${statusId != 3}"/></td>
        </tr>
    </table>
</div>

<div class="customer_order_details">
<table>
    <tr>
        <th colspan="9"><b>פרטי הזמנה</b></th>
    </tr>
    <tr>
        <td>
            <p>מספר הזמנה:</p>
        </td>
        <td>
            <p th:text= "${column['orderNumber']}" />
        </td>
        <td>
            <p>מספר קדמי:</p>
        </td>
        <td>
            <p th:text= "${column['wpId']}" />
        </td>
        <td>
            <p>מספר דהל:</p>
        </td>
        <td>
            <p th:text= "${column['dhlPackageNumber']}" />
        </td>
        <td>
            <p>אורז:</p>
        </td>
        <td>
            <p th:text= "${column['workerId']}" />
        </td>
        <td>
            <p>סטטוס:</p>
        </td>
        <td>
            <form th:action="@{/admin/customers/orders/submit/status}" method="post">
                <input type="hidden" name="orderId" id="orderId" th:value="${orderId}" />
                <select class="filter_short" name="orderStatus" id="orderStatus" onchange="this.form.submit()">
                    <optgroup>
                        <option th:value="${statusId}" th:text="${statusHeb}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">סגורה</option>
                        <option value="1">פתוחה</option>
                        <option value="5">בקטיף</option>
                        <option value="2">בטיפול</option>
                        <option value="3">נשלחה</option>
                        <option value="6">אוחדה</option>
                        <option value="4">בוטלה</option>
                    </optgroup>
                </select>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <p>שם המזמין:</p>
        </td>
        <td>
            <p th:text= "${column['clientName']}" th:onclick="'location.href = \'' + @{/admin/customers/customer} +'?id=' + ${column['customerId']} + '\';'"/>
        </td>
        <td>
            <p>מייל:</p>
        </td>
        <td>
            <p><a th:href="${column['customerEmailto']}" th:text= "${column['customerEmail']}" style="text-decoration:none"/> </p>
        </td>
        <td>
            <p>תאריך אריזה:</p>
        </td>
        <td>
            <p th:text= "${column['orderShippingDate']}" />
        </td>
        <td>
            <p>תאריך קבלה:</p>
        </td>
        <td>
            <p th:text= "${column['deliveryDate']}" />
        </td>
        <td th:if="${column['deliveryWindow']} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/moon.png" style="width: auto; height: 20px;"/>
        </td>
        <td th:if="${column['deliveryWindow']} == 0"></td>
        <td th:if="${previlige} == 1">
            <input class="button_short" type="button" th:target="_blank" th:onclick="'location.href = \'' + @{/admin/customers/orders/order/submit/deliveryWindowChange} + '?orderId=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="שנה"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>מספר הזמנות:</p>
        </td>
        <td>
            <p th:text= "${column['numberOfOrders']}" />
        </td>
        <td>
            <p>טלפון:</p>
        </td>
        <td>
            <p th:text= "${column['customerPhone']}" />
        </td>
        <td>
            <p>טלפון נוסף:</p>
        </td>
        <td colspan="3">
            <p th:text= "${column['customerPhone2']}" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="6">
            <p><b>פרטי אשראי</b></p>
        </th>
    </tr>
    <tr>
        <td>
            <p>בעל כרטיס:</p>
        </td>
        <td>
            <p th:text= "${column['cardHolder']}" />
        </td>
        <td colspan="2">
            <p></p>
        </td>
        <td>
            <p>מצב גביה:</p>
        </td>
        <td>
            <p th:text= "${column['clearingStatus']}" />
        </td>
    </tr>
    <tr>
        <td>
            <p>סוג כרטיס:</p>
        </td>
        <td>
            <p th:text="${column['creditCardType']}" />
        </td>
        <td>
            <p>מספר:</p>
        </td>
        <td>
            <p th:text= "'XXXX-XXXX-XXXX-' +${column['card4Digits']}" />
        </td>
        <td>
            <p>תוקף:</p>
        </td>
        <td>
            <p th:text= "${column['cardExpiration']}" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="6">
            <p><b>כתובת משלוח</b></p>
        </th>
        <th th:if="${gotLocation} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/geo-icon.png" style="width: auto; height: 20px;"/>
        </th>
        <th th:if="${gotLocation} == 1" th:text="${location}">
        </th>
        <th th:if="${geoGroup} == 1">
            <img src="https://www.shookbook.co.il/backoffice/images/geo-fixed.png" style="width: auto; height: 20px;"/>
        </th>
        <th colspan="2" th:if="${gotLocation} == 0 and ${geoGroup} == 0">
           <input class="button_short" type="button" th:target="_blank" th:onclick="'location.href = \'' + @{/admin/orders/setGeoCode} + '?orderId=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="נעיצת כתובת"/>
        </th>
    </tr>
    <tr>
        <td>
            <p>רחוב:</p>
        </td>
        <td colspan="3">
            <p><a th:href="${column['googleMap']}" th:text= "${column['shipmentStreet']}" target="_blank" style="text-decoration:none"/> </p>
        </td>
        <td>
            <p>ישוב:</p>
        </td>
        <td>
            <p th:text= "${column['shipmentCity']}" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <p>דירה:</p>
        </td>
        <td>
            <p th:text= "${column['shipmentApartment']}" />
        </td>
        <td>
            <p>קומה:</p>
        </td>
        <td>
            <p th:text= "${column['shipmentFloor']}" />
        </td>
        <td>
            <p>קוד כניסה:</p>
        </td>
        <td>
            <p th:text= "${column['shipmentEntryCode']}" />
        </td>
    </tr>
    <tr>
        <td>
            <p>הערות לקוח:</p>
        </td>
        <td colspan="5">
            <p th:text= "${column['remarks']}" />
        </td>
    </tr>
</table>
</div>
<form th:action="@{/admin/customers/orders/order/submit/quantity}" method="post">
    <input type="hidden" name="orderId" th:value="${orderId}"/>

    <br />

    <table class="customer_order_details_products" id="customer_order_products">
        <thead>
        <th><b>מוצרים</b></th>
        <th colspan="4"></th>
        <th><button class="button_short" type="submit" th:disabled="${column['clearingStatus'] == 'הצליח'}">עדכן</button></th>
        <tr>
            <td><b>ברקוד</b></td>
            <td><b>שם המוצר</b></td>
            <td><b>כמות</b></td>
            <td><b>כמות בפועל</b></td>
            <td><b>מחיר יחידה</b></td>
            <td><b>סה״כ</b></td>
            <td />
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td><button class="button_short" type="button" th:onclick="'openAddOrderProductDialog(' + ${orderId} + ');'">הוסף</button></td>
            <td colspan = "3">
            </td>
            <td>סכום ההזמנה באתר : </td>
            <td th:text= "${originalSum}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        <tr>
            <td colspan = "4"></td>
            <td>סה״כ פריטים שנארזו : </td>
            <td th:text= "${totalSumWithoutShipmentFee}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        <tr>
            <td colspan = "4"></td>
            <td>דמי משלוח : </td>
            <td th:text= "${shippingFee}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        <tr>
            <td colspan = "4">
                <p th:each="orderCoupon : ${orderCoupons}" th:text="${orderCoupon['couponTitle']} + ' '" style="display:inline;"></p>
            </td>
            <td>הנחה : </td>
            <td th:text= "${discountSum}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        <tr>
            <td colspan = "4"></td>
            <td>מע״מ : </td>
            <td th:text= "${vat}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        <tr>
            <td colspan = "4"></td>
            <td>סה״כ לתשלום : </td>
            <td th:text= "${totalSumToPay}" text="ש״ח"/>
            <td>ש״ח</td>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="element : ${elements}">
            <td th:text="${element['itemBarcode']} "/>
            <td th:text ="${element['productName']}"/>
            <td th:text =" ${element['quantityNeeded']} + ' ' + יח׳"></td>
            <td>
                <input  th:name="'newQuantity' + ${element['orderProductId']}" th:id="'newQuantity' + ${element['productId']}" th:value="${element['quantity']}" />
            </td>
            <td th:text ="${element['unitPrice']}"/>
            <td th:text ="${element['sumToPay']}"/>
            <td th:if="${canChange} == 1"><button class="button_short" type="button" th:onclick="'openChangeQuantityDialog(' + ${element['orderProductId']} + ');'">שנה</button></td>
            <td th:if="${canRefund} == 1"><button class="button_short" type="button" th:onclick="'openRefundQuantityDialog(' + ${element['orderProductId']} + ');'">זיכוי</button></td>
        </tr>
        </tbody>
    </table>

    <br />
    <br />

</form>

<div id="customer_order_boxes">
    <form method="post" th:action="@{/admin/customers/orders/order/submit/boxes}">
        <input type="hidden" name="orderId" th:value="${orderId}" />
        ארגזים:
        <input type="text" name="boxesCount" th:value="${column['boxes']}" />
        <button class="button_short" type="submit">עדכן</button>
    </form>
</div>
<br />
<br />
<script>
        function openChangeQuantityDialog(orderProductId) {
            document.getElementById("orderProductId").value = orderProductId;
            $( function() {
                $( "#changeQuantityDialog" ).dialog();
            } );
        }

        function openRefundQuantityDialog(orderProductId) {
            document.getElementById("refundOrderProductId").value = orderProductId;
            $( function() {
                $( "#refundQuantityDialog" ).dialog();
            } );
        }

        function openAddOrderProductDialog(orderId) {
            document.getElementById("addProductOrderId").value = orderId;
            $( function() {
                $( "#addOrderProductDialog" ).dialog();
            } );
        }

        function openApplyCouponDialog(orderId) {
            document.getElementById("addCouponOrderId").value = orderId;
            $( function() {
                $( "#applyCouponDialog" ).dialog();
            } );
        }
</script>

<div id="changeQuantityDialog" title="שנה כמות" class="orderDialog" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/customers/orders/order/submit/productQuantity}">
            <input type="hidden" name="orderProductId" id="orderProductId" />
            <input type="text" placeholder="כמות" name="newQuantity"/><br />
            <button>בצע</button>
        </form>
    </div>
</div>

<div id="refundQuantityDialog" title="זיכוי כמות" style="display: none; background-color: #a10000;">
    <div style="padding: 20px;">
        <form method="post" th:action="@{/admin/customers/orders/order/submit/refundQuantity}">
            <table>
                <tr>
                    <td>
                        <select name="refundCause" id="refundCause">
                            <optgroup>
                                <option value="0">מוצר פגום</option>
                                <option value="7">בעיית משקל</option>
                                <option value="8">כמות שגויה/מוצר חסר</option>
                                <option value="9">התפזר/נפגע בארגז</option>
                                <option value="6">מוצר שגוי</option>
                            </optgroup>
                        </select>
                    </td>
                        <td>
                        <input type="hidden" name="refundOrderProductId" id="refundOrderProductId" />
                        <input type="text" placeholder="כמות" name="newQuantity" style="width: 40px"/><br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" placeholder="מלל נוסף" name="refundRemark" style="width: 97%"/><br />
                    </td>
                </tr>
            </table>
            <button>בצע</button>
        </form>
    </div>
</div>

<div id="addOrderProductDialog" title="הוסף מוצר" class="orderDialog" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/customers/orders/order/submit/addOrderProduct}">
            <input type="hidden" name="addProductOrderId" id="addProductOrderId" />
            <input type="text" placeholder="בחר מוצר" name="productId" list="productsDataList"/>
            <datalist id="productsDataList">
                <option th:each="product : ${products}" th:value="${product['id']}" th:text="${product['nameHeb']}" />
            </datalist>
            <input type="text" placeholder="כמות" name="quantity"/><br />
            <button>בצע</button>
        </form>
    </div>
</div>

<div id="applyCouponDialog" title="החל קופון" class = "orderDialogCoupon" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/coupons/orders/submit/applyCoupon}">
            <input type="hidden" name="addCouponOrderId" id="addCouponOrderId" />
            <input type="text" placeholder="בחר קופון" name="couponId" list="couponList"/>
            <datalist id="couponList">
                <option th:each="coupon : ${coupons}" th:value="${coupon['id']}" th:text="${coupon['title']}" />
            </datalist>
            <button>בצע</button>
        </form>
    </div>
</div>
</body>
</html>
