<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Print Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>

<body onload="load()">

<h1>Print Orders</h1>
<hr/>

<table>
    <tr th:each="order : ${orders}" >
        <td>
            <p th:text="${order['barcode']}"/>
            <hr/>
            <div th:id="'qr' + ${order['index']}"></div>
            <hr/>
        </td>
    </tr>
</table>

<hr/>
<input type="button" th:onclick="'location.href = \'' + @{/admin/orders} + '\';'" value="Orders"/>
<script type="text/javascript">
    function qr(div, text) {
    	jQuery('#qrcode').qrcode(text);
    }
</script>

<script th:inline="javascript">
/*<![CDATA[*/

    var orders = [[${orders}]];

    function load() {
        for (var i = 0 ; i < orders.length ; i++) {
    	    jQuery('#qr' + i).qrcode(orders[i]['barcode']);
        }
    }

/*]]>*/
</script>
</body>
</html>
