<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>

<body>
    <h1>Orders</h1>
    <hr/>
    <table>
        <tr>
            <td>
                <input type="button" th:onclick="'location.href = \'' + @{/admin/orders/add} + '\';'" value="Add"/>
            </td>
            <td>
                |
            </td>
            <form th:action="@{/admin/orders/import}" method="post" enctype="multipart/form-data">
            <td>
                <input type="submit" value="Import" />
            </td>
            <td>
                <input type="file" name="importFile" id="importFile" />
            </td>
            </form>
            <td>
                |
            </td>
            <form th:action="@{/admin/orders/print}" method="post">
            <td>
                <input type="text" placeholder="from order" name="fromOrder" id="fromOrder" />
            </td>
            <td>
                <input type="text" placeholder="to order" name="toOrder" id="toOrder" />
            </td>
            <td>
                <input type="submit" value="Print" />
            </td>
            </form>
        </tr>
    </table>
    <hr/>
    <table>
        <tr style="cursor: pointer;" th:each="column : ${columns}" th:title="${column['barcode']}" th:onclick="'location.href = \'' + @{/admin/orders/get} + '?id=' + ${column['id']} + '\';'">
            <td th:text="${column['id']}"/>
            <td th:text="${column['customerBarcode']}"/>
            <td th:text="${column['name']}"/>
            <td th:text="${column['email']}"/>
            <td th:text="${column['phone']}"/>
            <td th:text="${column['city']}"/>
            <td th:text="${column['zip']}"/>
        </tr>
    </table>
    <hr/>
</body>
</html>