<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <title>הזמנה חדשה</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}"/>
</head>

<body>
<div th:include="TopMenu" />
<h1>הזמנה חדשה</h1>
<hr/>
<form th:action="@{/admin/orders/add/submit}" method="post">
    <table>
        <tr>
            <td>מספר הזמנה:</td>
            <td><input type="text" id="orderId" name="orderId" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מספר לקוח:</td>
            <td><input type="text" id="customerId" name="customerId" /></td>
        </tr>
        <tr>
            <td>שם פרטי:</td>
            <td><input type="text" id="firstName" name="firstName" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>שם משפחה:</td>
            <td><input type="text" id="lastName" name="lastName" /></td>
        </tr>
        <tr>
            <td>מספר טלפון:</td>
            <td><input type="text" id="phone" name="phone" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מייל:</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
            <td>רחוב:</td>
            <td><input type="text" id="street" name="street" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מס׳ בית:</td>
            <td><input type="text" id="no" name="no" /></td>
        </tr>
        <tr>
            <td>יישוב:</td>
            <td><input type="text" id="city" name="city" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מיקוד:</td>
            <td><input type="text" id="zip" name="zip" /></td>
        </tr>
    </table>
    <hr/>
    <table>
        <tr th:each="column : ${columns}">
            <td><img th:src="${column['product']['imageUrl']}" width="50" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['item']['barcode']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['product']['name']}"/>
            <td><input type="text" th:id="'item' + ${column['item']['id']}" th:name="'item' + ${column['item']['id']}"/></td>
        </tr>
    </table>

    <hr/>
    <input type="submit"/>
    <hr/>
</form>
</body>
</html>