<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Customer Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<form th:action="@{/admin/customers/orders/order/submitEdit}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td colspan="3">
                    <p style="display:inline;">הזמנת לקוחות - פרטי הזמנה - עריכה</p>
                </td>
                <td width="175px"></td>
                <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${column['id']} + '\';'" value="ביטול"/></td>
                <td><input class="button" type="submit"  value="שמור שינויים"/></td>
            </tr>
        </table>
    </div>

    <div class="customer_order_details">
        <table>
            <tr>
                <th>מספר הזמנה:</th>
                <th th:text="${column['orderNumber']}"></th>
                <th>שם לקוח:</th>
                <th th:text="${column['clientName']}"></th>
                <td>
                    <input type="hidden" th:value="${column['id']}" name="orderId"/>
                </td>
            </tr>
            <tr>
                <th>כתובת משלוח</th>
            </tr>
            <tr>
                <td>רחוב:</td>
                <td><input class="input_field_short" type="text" id="street" th:value= "${column['shipmentStreet']}" name="street" /></td>
                <td>מספר:</td>
                <td><input class="input_field_short" type="text" id="streetNo" th:value= "${column['shipmentStreetNo']}" name="streetNo" /></td>
                <td>ישוב:</td>
                <td><input class="input_field_short" type="text" id="city" th:value= "${column['shipmentCity']}" name="city" /></td>
            </tr>
            <tr>
                <td>דירה:</td>
                <td><input class="input_field_short" type="text" id="apartment" th:value= "${column['shipmentApartment']}" name="apartment" /></td>
                <td>קומה:</td>
                <td><input class="input_field_short" type="text" id="floorNo" th:value= "${column['shipmentFloor']}" name="floorNo" /></td>
                <td>קוד כניסה:</td>
                <td><input class="input_field_short" type="text" id="entryCode" th:value= "${column['shipmentEntryCode']}" name="entryCode" /></td>
            </tr>
            <tr>
                <td>
                    <p>הערות לקוח:</p>
                </td>
                <td colspan="5">
                    <input style="width:356px;" class="input_field_short" type="text" id="remarks" name="remarks" th:value="${column['remarks']}"/>
                </td>
            </tr>
        </table>
        <table th:if="!(${customer_support} OR ${admin})">
            <tr>
                <th colspan="6">פרטי אשראי</th>
            </tr>
            <tr>
                <td>
                    <p>בעל כרטיס:</p>
                </td>
                <td>
                    <p th:text= "${column['cardHolder']}" />
                    <input type="hidden" th:value= "${column['cardHolder']}" name="cardHolder" />
                </td>
                <td colspan="2">
                    <p></p>
                </td>
                <td>
                    <p>מצב גביה:</p>
                </td>
                <td>
                    <p th:text= "${column['clearingStatus']}" />
                    <input type="hidden" th:value= "${column['clearingStatus']}" name="clearingStatus" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>סוג כרטיס:</p>
                </td>
                <td>
                    <p th:text="${column['creditCardType']}" />
                </td>
                <td>
                    <p>מספר:</p>
                </td>
                <td>
                    <p th:text= "'XXXX-XXXX-XXXX-' +${column['card4Digits']}" />
                </td>
                <td>
                    <p>תוקף:</p>
                </td>
                <td>
                    <p th:text= "${column['cardExpiration']}" />
                </td>
            </tr>
        </table>
        <table th:if="${customer_support} OR ${admin}">
            <tr>
                <th colspan="4">פרטי אשראי</th>
                <th>
                    <input type="hidden" id="creditProfile" name="creditProfile" value="noContent"/>
                </th>
                <th> <input class="button_short" type="button"  onclick="showIframe();" value="שנה אשראי"/> </th>
            </tr>
            <tr>
                <td>
                    <p>בעל כרטיס:</p>
                </td>
                <td colspan="3">
                   <p th:text= "${column['cardHolder']}" />
                   <input type="hidden" th:value= "${column['cardHolder']}" name="cardHolder" />
                </td>
                <td>
                    <p>מצב גביה:</p>
                </td>
                <td>
                    <select class="filter_short" name="clearingStatus" id="clearingStatus">
                        <optgroup>
                            <option th:value="${column['clearingStatusId']}" th:text="${column['clearingStatus']}" selected="selected" />
                        </optgroup>
                        <optgroup>
                            <option value="0">לא נסלק</option>
                            <option value="1">הצליח</option>
                            <option value="2">נכשל</option>
                            <option value="3">נגבה ידנית</option>
                            <option value="6">בבדיקה</option>
                            <option value="4">בוטל</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p>סוג כרטיס:</p>
                </td>
                <td>
                    <p th:text="${column['creditCardType']}" />
                </td>
                <td>
                    <p>מספר:</p>
                </td>
                <td>
                    <p th:text= "'XXXX-XXXX-XXXX-' +${column['card4Digits']}" />
                </td>
                <td>
                    <p>תוקף:</p>
                </td>
                <td>
                    <p th:text= "${column['cardExpiration']}" />
                </td>
            </tr>
        </table>

        <div th:if="${admin}" id="changeCredit" class="report_results" scrolling="no" style="display:none;">
            <iframe id="creditIframe" sandbox="allow-same-origin allow-scripts allow-top-navigation" src="https://www.shookbook.co.il/custom_pages/edit-credit.php"> </iframe>
        </div>

    </div>
</form>

<script>

    function showIframe() {
//       lowProfileCode = window.frames['creditIFrame'].document.getElementById('hiddenValue').value
//       lowProfileCode = document.getElementById("creditIframe").contentDocument.lowProfileCode;
       document.getElementById('changeCredit').style.display = "block";
//       document.getElementById('creditProfile').innerHTML = lowProfileCode;
    }

    function bindEvent(element, eventName, eventHandler) {
        if (element.addEventListener){
            element.addEventListener(eventName, eventHandler, false);
        } else if (element.attachEvent) {
            element.attachEvent('on' + eventName, eventHandler);
        }
    }

    bindEvent(window, 'message', function (e) {
            document.getElementById('creditProfile').value = e.data;
    });

</script>
</body>
</html>