<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>

<body>
<h1>New Order</h1>
<hr/>
<form th:action="@{/admin/orders/add/submit}" method="post">
    <table>
        <tr>
            <td>Order Id:</td>
            <td><input type="text" id="orderId" name="orderId" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Customer Id:</td>
            <td><input type="text" id="customerId" name="customerId" /></td>
        </tr>
        <tr>
            <td>First name:</td>
            <td><input type="text" id="firstName" name="firstName" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Last name:</td>
            <td><input type="text" id="lastName" name="lastName" /></td>
        </tr>
        <tr>
            <td>Phone no:</td>
            <td><input type="text" id="phone" name="phone" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Email:</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
            <td>No.:</td>
            <td><input type="text" id="no" name="no" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Street:</td>
            <td><input type="text" id="street" name="street" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" id="city" name="city" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Zip:</td>
            <td><input type="text" id="zip" name="zip" /></td>
        </tr>
    </table>
    <hr/>
    <table>
        <tr th:each="column : ${columns}">
            <td><img th:src="${column['product']['imageUrl']}" width="50" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['item']['barcode']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['product']['name']}"/>
            <td><input type="text" th:id="'item' + ${column['item']['id']}" th:name="'item' + ${column['item']['id']}"/></td>
        </tr>
    </table>
    <hr/>
    <input type="submit"/>
    <hr/>
</form>
</body>
</html>