<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>

<body th:onload="'qr(\'' + ${qr} + '\');'">

<h1>Order</h1>
<hr/>
<p th:text="${qr}"/>
<hr/>
<div id="qrcode"></div>
<hr/>
<input type="button" th:onclick="'location.href = \'' + @{/admin/orders} + '\';'" value="Orders"/>
<script type="text/javascript">
    function qr(text) {
    	jQuery('#qrcode').qrcode(text);
    }
</script>
</body>
</html>
