<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Delivery notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
</head>

<body>
<div>
    <table dir="rtl" width="1000">
        <tr>
            <td width="300"><a href="https://www.shookbook.co.il"><img src="http://www.shookbook.co.il/email/new_logo_small.png" alt="" width="150" height="70" class="body_img_delivery"/></a></td>

            <td> <p class="delivery_nm" th:text=" 'תעודת משלוח מספר '+ ${certificateCode}" /></td>
        </tr>
    </table>
</div>
<hr />
<div>
    <p class="delivery_name" dir="rtl" th:text="${fullName} + ' שלום,'"/>
    <p class="delivery_paragraph" dir="rtl" th:text="'תודה שקנית שוקבוק. הזמנתך מספר ' + ${orderCode} + ' כפי שמפורטת מטה נשלחה.'" />
    <p class="delivery_paragraph" dir="rtl" th:if="${missingProducts} != null" th:text="'לצערנו איכות המוצרים הבאים לא עמדה בתקן מספק ולכן לא נארזו. חשבונך זוכה בהתאם.'" />
    <p class="delivery_paragraph" dir="rtl" th:if="${missingProducts} != null">
        <table>
            <tr th:each="missingProduct : ${missingProducts}">
                <td class="delivery_paragraph" th:text="${missingProduct}" />
            </tr>
        </table>
    </p>
    <p class="delivery_paragraph" dir="rtl" th:text="'כתובת למשלוח: ' + ${address}" />
</div>
<div>
    <table width="670" dir="rtl" align="center">
        <tr>
            <td width="200"> <p class="delivery_table_title">תאור</p></td>
            <td width="80"> <p class="delivery_table_title">יחידה</p></td>
            <td width="80"> <p class="delivery_table_title">עלות יחידה</p></td>
            <td width="80"> <p class="delivery_table_title">מע"מ</p></td>
            <td width="80"> <p class="delivery_table_title">כמות</p></td>
            <td width="150"> <p class="delivery_table_title">סה"כ</p></td>
        </tr>

        <tr th:each="product : ${products}">
            <td> <p class="delivery_table" th:text="${product['name']}" /></td>
            <td> <p class="delivery_table" th:text="${product['packageType']}" /></td>
            <td> <p class="delivery_table" th:text="${product['unitPrice']}" /></td>
            <td> <p class="delivery_table" th:text="${product['vat']}" /></td>
            <td> <p class="delivery_table" th:text="${product['quantity']}" /></td>
            <td> <p class="delivery_table" th:text="${product['totalPrice']}" /></td>
        </tr>
    </table>
    <table width="670" dir="rtl" align="center">
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table"></p></td>
            <td width="150"> <p class="delivery_table"></p></td>
        </tr>
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table">סה״כ:</p></td>
            <td width="150"> <p class="delivery_table" th:text="${total}" /></td>
        </tr>
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table">עלות משלוח:</p></td>
            <td width="150"> <p class="delivery_table" th:text="${shippingFee}" /></td>
        </tr>
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table">הנחה:</p></td>
            <td width="150"> <p class="delivery_table" th:text="${discount}" /></td>
        </tr>
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table">מע"מ:</p></td>
            <td width="150"> <p class="delivery_table" th:text="${totalVat}" /></td>
        </tr>
        <tr>
            <td width="440"> <p class="delivery_table"></p></td>
            <td width="80"> <p class="delivery_table">סה"כ הזמנה:</p></td>
            <td width="150"> <p class="delivery_table" th:text="${grandTotal}" /></td>
        </tr>
    </table>
</div>
<div class="delivery_footer" dir="rtl">
    <hr />
    <p>בכך שאישרת את הזמנתך אתה/את מאשר/ת כי קראת את <a href="https://www.shookbook.co.il/terms_and_conditions/">תקנון החברה</a> ואתה מסכים/מסכימה לתנאי השימוש בו.
        תעודת משלוח וחשבונית מס ישלחו לאחר אריזת ההזמנה בהתאם לזמינות המוצרים בפועל ואיכותם.</p>
    <p>דואר אלקטרוני זה נשלח לצורך מידע בלבד מתיבת דואר שאינה מקבלת דואר. אין להשיב לדואר זה, לצורך כל בירור יש להתקשר לשרות הלקוחות בטלפון 1-700-555704</p>
</div>
</body>
</html>