<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>בית אריזה</title>
</head>
<body style="margin:0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">בית אריזה</p>
            </td>
            <td th:if="${dhlError} == 1">
                <p style="color:#a10000;">שים לב - בעיית מדבקות !!!</p>
            </td>
            <td width="380px"> </td>
            <td>
                <button class="button" th:onclick="'location.href = \'' + @{/admin/packingFactory/csv/weight} + '\';'">יצוא קוד משקל</button>
            </td>
            <td>
                <button class="button" th:onclick="'location.href = \'' + @{/admin/packingFactory/csv/export} + '\';'">יצוא לקובץ</button>
            </td>
            <td>
                <button class="button" th:onclick="'location.href = \'' + @{/admin/packingFactory/csv/missing} + '\';'">פרוט חוסרים</button>
            </td>
            <td>
                <button class="button" onclick="openDialog();">מוצר חסר</button>
            </td>
            <td>
                <form method="post" th:action="@{/admin/packingFactory/submit/removeAllMissing}" id="removeAllMissingForm">
                    <button class="button" type="button" onclick="confirm('אתה בטוח?') ? document.getElementById('removeAllMissingForm').submit() : null;" th:disabled="${admin} ? 0 : 1">נקה חוסרים</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div id="factory_content">
    <table class="factory_table">
        <thead>
        <tr>
            <th colspan = "6">
                <p>חוסרים</p>
            </th>
        </tr>
        <tr>
            <td> <p>מזהה</p> </td>
            <td> <p>תאור</p> </td>
            <td> <p>מספר קטלוגי</p> </td>
            <td> <p>ספק</p> </td>
            <td> <p>הזמנות</p> </td>
            <td> <p>יחידות</p> </td>
            <td />
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${missingProducts}" >
            <td>
                <p th:text="${product['id']}" />
            </td>
            <td>
                <p th:text="${product['name']}" />
            </td>
            <td>
                <p th:text="${product['barcode']}" />
            </td>
            <td>
                <p th:text="${product['supplier']}" />
            </td>
            <td>
                <p th:text="${product['ordersCount']}" />
            </td>
            <td>
                <p th:text="${product['itemsCount']}" />
            </td>
            <td>
                <div th:if="${product['id']} != null">
                    <form th:action="@{/admin/packingFactory/submit/removeMissing}" method="post">
                        <input type="hidden" name="productId" th:value="${product['id']}" />
                        <button class="button_short" type="submit">הסר</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="collapsable_table">
        <thead>
        <tr>
            <th colspan="6">
                <p>פריטים לאריזה</p>
            </th>
        </tr>
        </thead>
        <tbody class="collapsable_table_label">
        <tr>
            <th width="10px">
                <label for="packing_items">
                    <a class="arrow">
                        <img class="arrow_img rotate0" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
                    </a>
                </label>
                <input type="checkbox" name="packing_items" id="packing_items" data-toggle="toggle" />
            </th>
            <th width="200px"> <p>מזהה</p> </th>
            <th width="200px"> <p>תאור</p> </th>
            <th width="97px"> <p>מספר קטלוגי</p> </th>
            <th width="228px"> <p>ספק</p> </th>
            <th width="88px"> <p>הזמנות</p> </th>
            <th width="74px"> <p>יחידות</p> </th>
        </tr>
        </tbody>
        <tbody class="hide" style="display:none">
        <tr th:each="product : ${packingProducts}" >
            <td></td>
            <td>
                <p th:text="${product['id']}" />
            </td>
            <td>
                <p th:text="${product['name']}" />
            </td>
            <td>
                <p th:text="${product['barcode']}" />
            </td>
            <td>
                <p th:text="${product['supplier']}" />
            </td>
            <td>
                <p th:text="${product['ordersCount']}" />
            </td>
            <td>
                <p th:text="${product['itemsCount']}" />
            </td>
        </tr>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
	   $('[data-toggle="toggle"]').change(function(){
		  $(this).parents().next('.hide').toggle();
	   });
    });

    $('.arrow').on("click", function (event) {
       $('.arrow_img').toggleClass('rotate270');
       $('.arrow_img').toggleClass('rotate0');
    });
    </script>


    <div class="factory_container">
        <div class="factory_float_right">
            <table class="factory_nested_table">
                <thead>
                <tr>
                    <th> <p>אורזים כעת</p> </th>
                    <th colspan="2" style="text-align: left;">
                        <p th:text="'(' + ${packingPending} + ' ממתינות לטיפול' + ')'" />
                    </th>
                </tr>
                <tr>
                    <td> <p>מספר הזמנה</p> </td>
                    <td> <p>מספר DHL</p> </td>
                    <td> <p>עובד</p> </td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${packingNow}" >
                    <td>
                        <p th:text="${order['id']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${order['id']} + '\';'" onmouseover="" style="cursor: pointer;" />
                    </td>
                    <td>
                        <p th:text="${order['dhlPackageNumber']}" />
                    </td>
                    <td>
                        <p th:text="${order['packingWorkerId']}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="factory_float_left">
            <table class="factory_nested_table">
                <thead>
                <th colspan="2"> <p>משטחים</p> </th>
                <tr>
                    <td> <p>מספר DHL</p> </td>
                    <td> <p>ארגזים</p> </td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="palette : ${palettes}" >
                    <td>
                        <p>
                            <a th:href="@{/admin/packingFactory/paletteDetails} + '?paletteName=' + ${palette['dhl']}" th:text="${palette['dhl']}" style="text-decoration: none; color: #000;"/>
                        </p>
                    </td>
                    <td>
                        <p th:text="${palette['boxes']}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table class="factory_table">
        <thead>

        <tr>
            <th colspan="6">
                <p>נארזו</p>
            </th>
            <th style="text-align: left;">
                <p th:text="'(' + ${packingDoneCount} + ' הזמנות ' + ${packingDoneBoxesSum} + ' ארגזים)'" />
            </th>
        </tr>
        <tr>
            <td> <p>מספר הזמנה</p> </td>
            <td> <p>מספר DHL</p> </td>
            <td> <p>עובד</p> </td>
            <td> <p>ארגזים</p> </td>
            <td> <p>זמן התחלה</p> </td>
            <td> <p>זמן סיום</p> </td>
            <td> <p>סכום הזמנה</p> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${packingDone}" >
            <td>
                <p th:text="${order['id']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${order['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
            </td>
            <td> <p th:text="${order['dhlPackageNumber']}" /> </td>
            <td> <p th:text="${order['packingWorkerId']}" /> </td>
            <td> <p th:text="${order['boxes']}" /> </td>
            <td> <p th:text="${order['startPackingTimestamp']}" /> </td>
            <td> <p th:text="${order['lastPackingTimestamp']}" /> </td>
            <td> <p th:text="${order['sum']}" /> </td>
        </tr>
        </tbody>
    </table>
</div>

    <div id="dialog" title="הוסף מוצר חסר" style="width: 420px; display: none;">
        <div style="height: 400px; overflow: auto; width: 420px;">
            <table>
                <tr>
                    <td>מזהה</td>
                    <td width="75">קוד משקל</td>
                    <td width="250">שם מוצר</td>
                    <td></td>
                </tr>
                <tr th:each="product : ${allProductsInCurrentPacking}" >
                    <td th:text="${product['id']}" />
                    <td th:text="${product['packingWeightCode']}" />
                    <td th:text="${product['nameHeb']}" />
                    <td>
                        <form th:action="@{/admin/packingFactory/submit/addMissing}" method="post">
                            <input type="hidden" name="productId" th:value="${product['id']}" />
                            <button type="submit">הוסף</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        function openDialog(orderId) {
            $( function() {
                $( "#dialog" ).dialog({width: "420px"});
            } );
        }
    </script>
</body>
</html>