<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pages</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
    <div>
        <input type="button" th:onclick="'location.href = \'' + ${back} + '\';'" onmouseover="" style="cursor: pointer;" value="חזור"/>
    </div>
    <div th:each="url, row : ${urls}" th:id="'div_' + ${row.index}" />
    <script th:inline="javascript">
    /*<![CDATA[*/
        var urls = /*[[${urls}]]*/;
        for (var i = 0 ; i < urls.length ; i++) {
            $("#div_".concat(i)).load(urls[i]);
        }
    /*]]>*/
    </script>
</body>
</html>