<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>פירוט משטח</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<div id="palette_details">
    <table class="collapsable_table">
        <thead>
        <tr>
            <th colspan="7">
                <p th:text="'חוסרים - משטח ' + ${paletteName}"/>
            </th>
        </tr>
        </thead>
        <tbody class="collapsable_table_label">
        <tr>
            <th width="10px">
                <label for="packing_items">
                    <a class="arrow">
                        <img class="arrow_img rotate0" src="https://www.shookbook.co.il/wp-content/uploads/2017/10/triangle.png"/>
                    </a>
                </label>
                <input type="checkbox" name="packing_items" id="packing_items" data-toggle="toggle" />
            </th>
            <th width="150px">מספר הזמנה</th>
            <th width="97px">מספר דהל</th>
            <th width="97px">מספר עובד</th>
            <th width="210px">תאור</th>
            <th width="100px">כמות מוזמנת</th>
            <th width="100px">כמות בפועל</th>
        </tr>
        </tbody>
        <tbody class="hide">
        <tr th:each="product : ${missingProducts}" >
            <td></td>
            <td>
                <p th:text="${product['orderId']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${product['orderId']} + '\';'" onmouseover="" style="cursor: pointer;" />
            </td>
            <td>
                <p th:text="${product['dhlPackageNumber']}" />
            </td>
            <td>
                <p th:text="${product['workerId']}" />
            </td>
            <td>
                <p th:text="${product['productName']}" />
            </td>
            <td>
                <p th:text="${product['quantityNeeded']}" />
            </td>
            <td>
                <p th:text="${product['quantity']}" />
            </td>
        </tr>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
	   $('[data-toggle="toggle"]').change(function(){
		  $(this).parents().next('.hide').toggle();
	   });
    });

    $('.arrow').on("click", function (event) {
       $('.arrow_img').toggleClass('rotate270');
       $('.arrow_img').toggleClass('rotate0');
    });
    </script>

    <table class="factory_table">
        <thead>

        <tr>
            <th colspan="7">
                <p th:text="'הזמנות - משטח ' + ${paletteName}"/>
            </th>
        </tr>
        <tr>
            <td> <p>מספר הזמנה</p> </td>
            <td> <p>מספר DHL</p> </td>
            <td> <p>עובד</p> </td>
            <td> <p>ארגזים</p> </td>
            <td> <p>זמן התחלה</p> </td>
            <td> <p>זמן סיום</p> </td>
            <td> <p>סכום הזמנה</p> </td>
            <td> <p>סטטוס</p> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${packingDone}" >
            <td>
                <p th:text="${order['id']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${order['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
            </td>
            <td> <p th:text="${order['dhlPackageNumber']}" /> </td>
            <td> <p th:text="${order['packingWorkerId']}" /> </td>
            <td> <p th:text="${order['boxes']}" /> </td>
            <td> <p th:text="${order['startPackingTimestamp']}" /> </td>
            <td> <p th:text="${order['lastPackingTimestamp']}" /> </td>
            <td> <p th:text="${order['sum']}" /> </td>
            <td> <p th:text="${order['status'].heb}" /> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>