<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Item Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/EAN_UPC.js}"></script>
    <script type="text/javascript" th:src="@{/js/JsBarcode.all.min.js}"></script>


</head>

<body>


<div class="barcode_container">
    <div class="barcode_float_left">
        <table class="print_barcode_wc" th:if="${rule} == 0">
           <tr>
               <td th:text="${packing_weight_code}"></td>
           </tr>
        </table>
        <table class="print_barcode_wc" th:if="${rule} == 1" style="background-image: url('https://shookbook.co.il/backoffice/images/leaf.png'); -webkit-print-color-adjust: exact; background-repeat: no-repeat; background-position: calc(100% + 10px) calc(100% - 30px);">
            <tr>
                <td th:text="${packing_weight_code}"></td>
            </tr>
        </table>
        <table class="print_barcode_wc" th:if="${rule} == 2" style="background-image: url('https://shookbook.co.il/backoffice/images/freeze_black.png'); -webkit-print-color-adjust: exact; background-repeat: no-repeat; background-position: calc(100% + 10px) calc(100% - 30px);">
            <tr>
                <td th:text="${packing_weight_code}"></td>
            </tr>
        </table>
    </div>

    <div class="barcode_float_right">
        <table class="print_barcode_barcode">
            <tr>
                <td>
                    <img id="barcodes"/>
                </td>
            </tr>
            <tr>
                <td th:text="${product_name}">
                </td>
            </tr>
        </table>
    </div>
</div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            $('#barcodes').JsBarcode([[${barcode}]], {
                format: "UPC-A",
                fontSize: 24,
                lineColor: "#000"
            });
            $('#barcodes').show();

            /*]]>*/

        </script>



</body>

</html>