<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>קוד להזמנת ספקים</title>
    <style>
    tab { padding-right: 4em; }
</style>
</head>
<body >
<div th:include="TopMenu" />
<h1>הזמנה</h1>
<hr/>
<table>
    <td><div id="qrcode"></div>
        <script th:inline="javascript">
/*<![CDATA[*/
    jQuery('#qrcode').qrcode([[${qr}]]);
/*]]>*/
</script></td>
    <td>
        <div>
            מספר הזמנה
            <p th:text="${column['orderId']}" /><br/>
            <p th:text="${column['supplierName']}" /><br/>
            <p th:text="${column['supplierAddress']}" /><br/>
        </div>

    </td>

</table>

הקוד מכיל את שם המזמין, כתובת, מספר הזמנה ופריטים
<br/>
<td th:text="${column['supplierName']}" ></td>
<td>רחוב</td>
<td th:text="${column['supplierAddress']}" ></td>
<td >מספר הזמנה</td>
<td th:text="${column['orderId']}" ></td>
<td>פריטים</td>

<td th:each="item : ${items}" >
<td th:text="${item['itemBarcode']} "/>
<td>|</td>
</td>

</body>
</html>


