<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <title>Print Pending Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <script th:if="${QRcodeStyle} == 1" type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:if="${QRcodeStyle} == 1" type="text/javascript" th:src="@{/js/EAN_UPC.js}"></script>
    <script th:if="${QRcodeStyle} == 1" type="text/javascript" th:src="@{/js/JsBarcode.all.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}"/>

</head>

<body onload="load();window.print()">

<div th:each="order : ${orders}" style="page-break-after: always;">
    <table style="width: 170mm; height: 90mm; table-layout:fixed">

        <tr >
            <td style="width: 55mm;">
                <p style="line-height: 0;font-size: 22pt"> מספר הזמנה:</p>
            </td>
            <td>
                <p style="line-height: 0;font-size: 22pt" th:text="${order['orderNumber']}"/>

            </td>
        </tr>
        <tr>
            <td th:if="${QRcodeStyle} == 0" class="qr" th:id="'qr' + ${order['index']}">

            </td>

            <td th:if="${QRcodeStyle} == 1">
                <img style="width:170px; hieght:auto;" th:id="'barcodes' + ${order['index']}"/>
            </td>

            <td th:if="${order['green']} == 1" align="right" background="https://shookbook.co.il/backoffice/images/leaf.png" style="-webkit-print-color-adjust: exact; background-repeat: no-repeat;">
                <p style="line-height: 0;font-size: 16pt" th:text="${order['customerName']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['street']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['city']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="דירה-  + ${order['apartment']} + קומה-  + ${order['floor']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['phones']}"/>
            </td>

            <td th:if="${order['green']} == 0" align="right">
                <p style="line-height: 0;font-size: 16pt" th:text="${order['customerName']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['street']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['city']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="דירה-  + ${order['apartment']} + קומה-  + ${order['floor']}"/>
                <p style="line-height: 0;font-size: 16pt" th:text="${order['phones']}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 0; font-size: 20pt" th:text="${order['customerNumber']}"/>
            </td>
            <td>
                <p style="line-height: 0; font-size: 20pt" th:text="${order['dhl_number']}"/>
            </td>
        </tr>
    </table>
</div>

<script th:if="${QRcodeStyle} == 0" th:inline="javascript">
    /*<![CDATA[*/

    function qr(div, text) {
        jQuery('#qrcode').qrcode(text);
    }

    var orders = [[${orders}]];

    function load() {
        for (var i = 0; i < orders.length; i++) {
            jQuery('#qr' + i).qrcode({width: 170, height: 170, text: orders[i]['barcode']});

        }
    }

    /*]]>*/
</script>

<script th:if="${QRcodeStyle} == 1" th:inline="javascript">
    /*<![CDATA[*/

    function qr(div, text) {
        jQuery('#qrcode').qrcode(text);
    }

    var orders = [[${orders}]];

    function load() {
        for (var i = 0; i < orders.length; i++) {
                $('#barcodes' + i).JsBarcode(orders[i]['barcodeStr'], {
                format: "UPC-A",
                fontSize: 24,
                lineColor: "#000"
                });
                $('#barcodes' + i).show();
        }
    }

    /*]]>*/
</script>

</body>
</html>