<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/print_qrcode.css}" href="@{/css/print_qrcode.css}"/>
    <title>הדפסת מעטפות</title>
    <style>
    tab { padding-right: 4em; }


</style>
</head>
<body>


<div align="left">
<table>



    <tr>
        <td>שוקבוק בע״מ</td>
    </tr>

    <tr>
        <td>רחוב</td>
        <td th:text="${details['customerAddress']}"/>
        <td th:text="${details['customerCity']}"/>
        <td th:text="${details['customerZip']}"/>

    </tr>



</table>
</div>

<div align="center">
    <table>
    <tr>

        <td><b>לכבוד</b></td>
        <td th:text="${details['customerName']}"/>

    </tr>

    <tr>
        <td>רחוב</td>
        <td th:text="${details['customerAddress']}"/>
    </tr>

    <tr>
        <td>ת.ד</td>
        <td>שדה ת.ד</td>
        <td th:text="${details['customerCity']}"/>
        <td th:text="${details['customerZip']}"/>
    </tr>



    </table>
</div>




</body>
</html>