<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
    <script th:if="${column['QRcodeStyle']} == 1" type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:if="${column['QRcodeStyle']} == 1" type="text/javascript" th:src="@{/js/EAN_UPC.js}"></script>
    <script th:if="${column['QRcodeStyle']} == 1" type="text/javascript" th:src="@{/js/JsBarcode.all.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>קוד למארז</title>
    <style>
    tab { padding-right: 4em; }
</style>
</head>
<body >
<table style="width: 170mm; height: 90mm; table-layout:fixed">

    <tr >
        <td style="width: 55mm;">
            <p style="line-height: 0;font-size: 22pt"> מספר הזמנה:</p>
        </td>
        <td>
            <p style="line-height: 0;font-size: 22pt" th:text="${column['orderNumber']}"/>
        </td>
    </tr>
    <tr>
        <td th:if="${column['QRcodeStyle']} == 0" class="qr" id="qr">

        </td>

        <td th:if="${column['QRcodeStyle']} == 1">
            <img style="width:170px; hieght:auto;" id="barcodes"/>
        </td>

        <td th:if="${column['green']} == 1" align="right" background="https://shookbook.co.il/backoffice/images/leaf.png" style="-webkit-print-color-adjust: exact; background-repeat: no-repeat;">
            <p style="line-height: 0;font-size: 16pt" th:text="${column['customerName']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['street']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['city']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="דירה-  + ${column['apartment']} + קומה-  + ${column['floor']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['phones']}"/>
        </td>

        <td th:if="${column['green']} == 0" align="right">
            <p style="line-height: 0;font-size: 16pt" th:text="${column['customerName']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['street']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['city']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="דירה-  + ${column['apartment']} + קומה-  + ${column['floor']}"/>
            <p style="line-height: 0;font-size: 16pt" th:text="${column['phones']}"/>
        </td>

    </tr>
    <tr>
        <td>
            <p style="line-height: 0; font-size: 20pt" th:text="${column['customerNumber']}"/>
        </td>
        <td>
            <p style="line-height: 0; font-size: 20pt" th:text="${column['dhl_number']}"/>
        </td>
    </tr>
</table>

<script th:if="${column['QRcodeStyle']} == 0" th:inline="javascript">
    jQuery('#qr').qrcode({width: 170, height: 170, text: [[${column['barcode']}]]});
</script>

<script th:if="${column['QRcodeStyle']} == 1" th:inline="javascript">
                $('#barcodes').JsBarcode([[${column['barcodeStr']}]], {
                format: "UPC-A",
                fontSize: 24,
                lineColor: "#000"
                });
                $('#barcodes').show();
</script>

</body>
</html>


