<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Item Edit</title>
    <title>Product Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/image-picker.css}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" th:src="@{/js/image-picker.js}"></script>
    <script type="text/javascript" th:src="@{/js/image-picker.min.js}"></script>
</head>

<body style="margin:0px;">

<div th:include="Header" />

<form method="post" th:action="@{/admin/products/toadd}">
    <div id="page_title">
        <table>
            <tr>
                <td>
                    <p style="display:inline;">ניהול מוצרים - הוספה</p>
                </td>
                <td width="160px;">
                    <button class="button" type="submit">שמור</button>
                </td>
                <td width="100px;">
                    <button class="button" type="button" th:onclick="'location.href = \'' + @{/admin/products} + '\';'">ביטול</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="new_product_container">
        <div class="product_edit">
            <table>
                <tr>
                    <td>
                        <input th:value="${id}" name="id" id="id" type="hidden" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>שם מוצר: </td>
                    <td colspan="2">
                        <input th:value="${name_heb}" name="name_heb" id="name_heb" type="text" required="required"/>
                    </td>
                    <td>תאור משקל: </td>
                    <td colspan="2">
                        <input th:value="${name_weight}" name="name_weight" id="name_weight" type="text"/>
                    </td>
                    <td>שם לאריזה: </td>
                    <td colspan="2">
                        <input th:value="${name}" name="name" id="name" type="text" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>יחידה: </td>
                    <td width="50px">
                        <input th:value="${unit_type}" name="unit_type" id="unit_type" type="text" required="required"/>
                    </td>
                    <td>משקל: </td>
                    <td width="50px">
                        <input th:value="${weight}" name="weight" id="weight" type="text" required="required"/>
                    </td>
                    <td>מחיר: </td>
                    <td width="50px">
                        <input th:value="${price}" name="price" id="price" type="text" required="required"/>
                    </td>
                    <td>קוד משקל: </td>
                    <td width="50px">
                        <input th:value="${packing_weight_code}" name="packing_weight_code" id="packing_weight_code" type="text" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>מע״מ: </td>
                    <td>
                        <select name="vat" id="vat" class="filter_short">
                            <optgroup>
                                <option value="0" selected="selected">פטור</option>
                                <option value="1">חייב</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>סוג אריזה: </td>
                    <td>
                        <select name="package_type" id="package_type" class="filter_short">
                            <option value="UNIT" selected="selected">יחידה</option>
                            <option value="QUANTA">קוונטה</option>
                            <option value="PACK">מארז</option>
                        </select>
                    </td>
                    <td>פעולה נדרשת:</td>
                    <td>
                        <select name="packing_action" id="packing_action" class="filter_short">
                            <option value="NONE" selected="selected">ללא</option>
                            <option value="QUANTA">קוונטה</option>
                        </select>
                    </td>
                    <td>קטגוריה: </td>
                    <td>
                        <select name="category_id" id="category_id" class="filter_short">
                            <option th:each="category : ${categories}"
                                    th:value="${category['id']}"
                                    th:text="${category['name']}">
                            </option>
                        </select>
                    </td>
                    <td>סטטוס: </td>
                    <td>
                        <select name="status" id="status" class="filter_short">
                            <option value="0">אזל</option>
                            <option value="1">זמין</option>
                            <option value="2">במבצע</option>
                            <option value="3">חדש</option>
                            <option value="4">מומלץ</option>
                        </select>
                    </td>
                    <td>חותמת: </td>
                    <td>
                        <select name="stamp" id="stamp" class="filter_short">
                            <option value="0" selected="selected">ללא</option>
                            <option value="1">מומלץ</option>
                            <option value="2">במבצע</option>
                            <option value="3">אורגני</option>
                            <option value="4">הידרופוני</option>
                            <option value="5">חריף</option>
                            <option value="6">ללא שמרים</option>
                            <option value="6">חמץ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>מילות מפתח: </td>
                    <td colspan="3">
                        <input th:value="${key_words}" name="key_words" id="key_words" type="text" class="validate" required="required"/>
                    </td>
                    <td>מגדל: </td>
                    <td colspan="3">
                        <input th:value="${suppliers_names}" name="suppliers_names" id="suppliers_names" type="text" class="validate" required="required"/>
                    </td>
                    <td>הובלה: </td>
                    <td>
                        <select name="handling" id="handling" class="filter_short">
                            <option value="0" selected="selected">רגיל</option>
                            <option value="2">קרור</option>
                            <option value="3">הקפאה</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>מלל נוסף: </td>
                    <td colspan="7">
                        <input th:value="${info}" name="info" id="info" type="text" class="validate"/>
                    </td>
                </tr>
            </table>
        </div>

        <div id="image_picker">
            <select name="image_url" id="image_url">
                <option value=""></option>
                <option data-img-src="https://www.shookbook.co.il/wp-content/uploads/2016/05/no_farmer_available.jpg" value="https://www.shookbook.co.il/wp-content/uploads/2016/05/no_farmer_available.jpg" ></option>
                <option  th:each="file : ${files}"
                         th:attr="data-img-src=${file['path']}"
                         th:value="${file['path']}"
                         th:text="${file['name']}"
                >
                </option>
            </select>


            <script>
            $(document).ready(function() {

                $("#image_url").imagepicker({show_label: true});
            });

        </script>
        </div>
    </div>
</form>
</body>

</html>
