<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Products</title>
</head>

<body style="margin: 0px;">
<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">ניהול מוצרים</p>
            </td>
            <td width="475px"></td>
            <td>
                <input class="button" type="button" value="הוסף מוצר" th:onclick = "'location.href = \'' + @{/admin/products/add/} + '\';'"/>
            </td>
            <td>
                <input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/products/csv/export} + '\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/>
            </td>
            <td>
                <div class="input_button">
                    <span>טען קובץ</span>
                    <form th:if="${admin}" method="POST" enctype="multipart/form-data" action="/admin/products/csv/import" id="csvProductsImport">
                        <input class="btn waves-effect waves-light teal" type="file" name="file" multiple="multiple" onchange="document.getElementById('csvProductsImport').submit();" value="productsUpload"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

<br/><br/>

<div id="content_container">
    <div class="products" th:each="column : ${columns}" th:title="${column['id']}" th:if="${column['id']} != null">
        <div>
        <div class="product_title">
            <img th:src="${column['image']}" alt=""/>
            <table>
                <tr>
                    <th width="350px" style="cursor: pointer; width:350px;" th:onclick="'location.href = \'' + @{/admin/products/update(id=${column['id']})} + '\';'"><p th:text="${column['product']}" id="Label1"></p></th>
                    <th width="113px" th:if="${column['freeze']} &gt; 0"><img style="height: 40px; width: auto;" src="https://shookbook.co.il/backoffice/images/freez.png"/></th>
                    <th width="113px" th:if="${column['freeze']} == 0"></th>
                    <th>
                        <div>
                            <button class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/items/add(id=${column['id']})} + '\';'">הוסף פריט</button>
                        </div>
                    </th>
                    <th th:if="${admin}">
                        <form method="post" th:action="@{/admin/products/remove}" th:id="'removeProduct' + ${column['id']}">
                            <input th:value="${column['id']}" name="id" id="id" type="hidden" />
                            <button class="button_short" type="button" th:onclick="'confirm(\'אתה בטוח?\') ? document.getElementById(\'removeProduct' + ${column['id']} + '\').submit() : null;'">הסר מוצר</button>
                        </form>
                    </th>
                </tr>
            </table>
        </div>
        <div class="product_items">
            <table>
                <tr>
                    <th>שם ספק</th>
                    <th>מק״ט</th>
                    <th>מלאי</th>
                    <th></th>
                    <th th:if="${admin}"></th>
                    <th></th>
                </tr>
                <tr th:each="supplier : ${column['suppliers']}">
                    <td width="250px" th:text="${supplier['supplier']}"></td>
                    <td style="cursor: pointer"  th:text="${supplier['barcode']}" th:onclick="'location.href = \'' + @{/admin/items/update(id=${supplier['item_id']})} + '\';'"></td>
                    <td th:text="${supplier['inventory']}"></td>
                    <td  th:if="${admin}" width="125px"></td>
                    <td  th:if="!${admin}" width="195px"></td>
                    <td th:if="${admin}">
                        <form method="post" th:action="@{/admin/items/remove}" th:id="'removeItem' + ${supplier['item_id']}">
                            <input th:value="${supplier['item_id']}" name="id"  type="hidden" />
                            <button class="button_short" type="button" th:onclick="'confirm(\'אתה בטוח?\') ? document.getElementById(\'removeItem' + ${supplier['item_id']} + '\').submit() : null;'">הסר פריט</button>
                        </form>
                    </td>
                    <td>
                        <button class="button_short" type="button" th:onclick="'openNewTab(\'' + @{/admin/printBarcode(product_name=${supplier['item_name']},barcode=${supplier['barcode_clean']},rule=${supplier['rule']},packing_weight_code=${supplier['packing_weight_code']})} + '\');'">ברקוד</button>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>
<script>
    function openNewTab(url) {
        window.open(url, '_blank');
    }
</script>

</body>
</html>