<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Product Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/image-picker.css}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" th:src="@{/js/image-picker.js}"></script>
    <script type="text/javascript" th:src="@{/js/image-picker.min.js}"></script>

</head>

<body style="margin:0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">ניהול מוצרים - עריכה</p>
            </td>
        </tr>
    </table>
</div>

<form th:action="@{/admin/products/toupdate}" method="post">
<div class="product_title_to_edit">
    <img th:src="${image_url}" alt=""/>
    <table style="width:1030;">
        <tr>
            <th colspan="3" th:text="${name_heb}"></th>
            <th></th>
            <th width="160px;">
                <button class="button" type="submit">שמור</button>
            </th>
            <th width="100px;">
                <button class="button" type="button" th:onclick="'location.href = \'' + @{/admin/products} + '\';'">ביטול</button>
            </th>
        </tr>
        <tr>
            <td th:text="'קטגוריה: ' + ${category_name}"></td>
        </tr>
    </table>
</div>


<div class="product_edit">
    <table>
        <tr>
            <td>
                <input th:value="${id}" name="id" id="id" type="hidden" readonly="readonly"/>
            </td>
            <td>
                <input th:value="${image_url}" name="image_url" id="image_url" type="hidden" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>שם מוצר: </td>
            <td colspan="2">
                <input th:value="${name_heb}" name="name_heb" id="name_heb" type="text" required="required"/>
            </td>
            <td>תאור משקל: </td>
            <td colspan="2">
                <input th:value="${name_weight}" name="name_weight" id="name_weight" type="text"/>
            </td>
            <td>שם לאריזה: </td>
            <td colspan="2">
                <input th:value="${name}" name="name" id="name" type="text" required="required"/>
            </td>
        </tr>
        <tr>
            <td>יחידה: </td>
            <td width="50px">
                <input th:value="${unit_type}" name="unit_type" id="unit_type" type="text" required="required"/>
            </td>
            <td>משקל: </td>
            <td width="50px">
                <input th:value="${weight}" name="weight" id="weight" type="text" required="required"/>
            </td>
            <td>מחיר: </td>
            <td width="50px">
                <input th:value="${price}" name="price" id="price" type="text" required="required"/>
            </td>
            <td>קוד משקל: </td>
            <td width="50px">
                <input th:value="${packing_weight_code}" name="packing_weight_code" id="packing_weight_code" type="text" required="required"/>
            </td>
        </tr>
        <tr>
            <td>מע״מ: </td>
            <td>
                <select th:if="${vat} == '0'" name="vat" id="vat" class="filter_short">
                    <optgroup>
                        <option value="0" selected="selected">פטור</option>
                        <option value="1">חייב</option>
                    </optgroup>
                </select>
                <select th:if="${vat} == '1'" id="vat" name="vat" class="filter_short">
                    <optgroup>
                        <option value="0">פטור</option>
                        <option value="1" selected="selected">חייב</option>
                    </optgroup>
                </select>
            </td>
            <td>סוג אריזה: </td>
            <td>
                <select th:if="${package_type} == '0'" name="package_type" id="package_type" class="filter_short">
                    <option value="UNIT" selected="selected">יחידה</option>
                    <option value="QUANTA">קוונטה</option>
                    <option value="PACK">מארז</option>
                </select>
                <select th:if="${package_type} == '1'" name="package_type" id="package_type" class="filter_short">
                    <option value="UNIT">יחידה</option>
                    <option value="QUANTA" selected="selected">קוונטה</option>
                    <option value="PACK">מארז</option>
                </select>
                <select th:if="${package_type} == '3'" name="package_type" id="package_type" class="filter_short">
                    <option value="UNIT">יחידה</option>
                    <option value="QUANTA">קוונטה</option>
                    <option value="PACK" selected="selected">מארז</option>
                </select>
            </td>
            <td>פעולה נדרשת:</td>
            <td>
                <select th:if="${packing_action} == '0'" name="packing_action" id="packing_action" class="filter_short">
                    <option value="NONE" selected="selected">ללא</option>
                    <option value="QUANTA">קוונטה</option>
                </select>
                <select th:if="${packing_action} == '1'" name="packing_action" id="packing_action" class="filter_short">
                    <option value="NONE">ללא</option>
                    <option value="QUANTA" selected="selected">קוונטה</option>
                </select>
            </td>
            <td>סטטוס: </td>
            <td>
                <select th:if="${status} == '0'" name="status" id="status" class="filter_short">
                    <option value="0" th:text="אזל" th:selected="selected">אזל</option>
                    <option value="1" th:text="זמין">זמין</option>
                    <option value="2" th:text="במבצע">במבצע</option>
                    <option value="3" th:text="חדש">חדש</option>
                    <option value="4" th:text="מומלץ">מומלץ</option>
                </select>
                <select th:if="${status} == '1'" name="status" id="status" class="filter_short">
                    <option value="0">אזל</option>
                    <option value="1" selected="selected">זמין</option>
                    <option value="2">במבצע</option>
                    <option value="3">חדש</option>
                    <option value="4">מומלץ</option>
                </select>
                <select th:if="${status} == '2'" name="status" id="status" class="filter_short">
                    <option value="0">אזל</option>
                    <option value="1">זמין</option>
                    <option value="2" selected="selected">במבצע</option>
                    <option value="3">חדש</option>
                    <option value="4">מומלץ</option>
                </select>
                <select th:if="${status} == '3'" name="status" id="status" class="filter_short">
                    <option value="0">אזל</option>
                    <option value="1">זמין</option>
                    <option value="2">במבצע</option>
                    <option value="3" selected="selected">חדש</option>
                    <option value="4">מומלץ</option>
                </select>
                <select th:if="${status} == '4'" name="status" id="status" class="filter_short">
                    <option value="0">אזל</option>
                    <option value="1">זמין</option>
                    <option value="2">במבצע</option>
                    <option value="3">חדש</option>
                    <option value="4" selected="selected">מומלץ</option>
                </select>
            </td>
            <td>חותמת: </td>
            <td>
                <select th:if="${stamp} == '0'" name="stamp" id="stamp" class="filter_short">
                    <option value="0" selected="selected">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '1'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1" selected="selected">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '2'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2" selected="selected">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '3'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3" selected="selected">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '4'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4" selected="selected">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '5'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5" selected="selected">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '6'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6" selected="selected">ללא שמרים</option>
                    <option value="7">חמץ</option>
                </select>
                <select th:if="${stamp} == '7'" name="stamp" id="stamp" class="filter_short">
                    <option value="0">ללא</option>
                    <option value="1">מומלץ</option>
                    <option value="2">במבצע</option>
                    <option value="3">אורגני</option>
                    <option value="4">הידרופוני</option>
                    <option value="5">חריף</option>
                    <option value="6">ללא שמרים</option>
                    <option value="7" selected="selected">חמץ</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>מילות מפתח: </td>
            <td colspan="3">
                <input th:value="${key_words}" name="key_words" id="key_words" type="text" class="validate" required="required"/>
            </td>
            <td>מגדל: </td>
            <td colspan="3">
                <input th:value="${suppliers_names}" name="suppliers_names" id="suppliers_names" type="text" class="validate" required="required"/>
            </td>
            <td>הובלה: </td>
            <td>
                <select th:if="${handling} == '0'" name="handling" id="handling" class="filter_short">
                    <option value="0" selected="selected">רגיל</option>
                    <option value="2">קירור</option>
                    <option value="3">הקפאה</option>
                </select>
                <select th:if="${handling} == '1'" name="handling" id="handling" class="filter_short">
                    <option value="0">רגיל</option>
                    <option value="2" selected="selected">קירור</option>
                    <option value="3">הקפאה</option>
                </select>
                <select th:if="${handling} == '3'" name="handling" id="handling" class="filter_short">
                    <option value="0">רגיל</option>
                    <option value="2">קירור</option>
                    <option value="3" selected="selected">הקפאה</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>מלל נוסף: </td>
            <td colspan="7">
                <input th:value="${info}" name="info" id="info" type="text" class="validate"/>
            </td>
        </tr>
    </table>
</div>

    <div id="image_picker">
        <select name="image_url_selector" id="image_url_selector">
            <option value=""></option>
            <option data-img-src="https://www.shookbook.co.il/wp-content/uploads/2016/05/no_farmer_available.jpg" value="https://www.shookbook.co.il/wp-content/uploads/2016/05/no_farmer_available.jpg" ></option>
            <option  th:each="file : ${files}"
                     th:attr="data-img-src=${file['path']}"
                     th:value="${file['path']}"
                     th:text="${file['name']}"
            >
            </option>
        </select>


        <script>
            $(document).ready(function() {

                $("#image_url_selector").imagepicker({show_label: true});
            });

        </script>
    </div>

</form>

</body>

</html>