<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <title>RemoteRespond</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:each="respond : ${keys}" th:text="${respond['key']} + ':' + ${respond['value']} + ';'"></p>
</body>
</html>