<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>

<body>

<form method="post">
</form>
<img alt="" src=""/> מה המצב ?
<button name="Abutton1">הוסף פריט</button>
<button name="Abutton2">מוצר חדש</button>


&nbsp;<p>&nbsp;</p>

</body>

</html>