<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Order Details</title>
    <style>
    tab { padding-right: 4em; }
    tab1 { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 20em; }
    </style>
    <script>

	$(function(){
		$( "#startDate" ).datepicker({ dateFormat: "dd-mm-yy" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "dd-mm-yy" }).val();

	});
	</script>
</head>
<body>

<div th:include="TopMenu" />

<h1>השוואת ספקים - קנייה</h1>

<table>
    <tr>
        <td>
            מספר ספק:
        </td>
        <td/><td/>
        <td th:text="${supplierBarcode}"/>
        <td/><td/><td/><td/><td/><td/>
        <td>
            שם ספק:
        </td>
        <td/><td/>

        <td th:text="${supplierName}"/>
        <td/><td/><td/><td/><td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/printPendingOrdersQRCodes/} + '\';'" onmouseover="" style="cursor: pointer;" value="הוסף ספק"/></td>
        <td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportSupplierForBuying/submit/saveCSVFile} + '?supplierId=' + ${supplierId} + '&amp;startDate=' + ${startDate} + '&amp;endDate=' + ${endDate}+'\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>
    </tr>

    <tr/><tr/><tr/>

    <tr>
        <td><b>מספר הזמנה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>תאריך משלוח</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>סכום הזמנה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>מצב הזמנה</b></td>
    </tr>

    <tr/><tr/><tr/>

    <tr th:each="supplierOrdersDetail : ${supplierOrdersDetails}" >

        <td th:text="${supplierOrdersDetail['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/order} + '?id=' + ${supplierOrdersDetail['orderId']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierOrdersDetail['shipmentDate']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierOrdersDetail['orderSum']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierOrdersDetail['orderStatus']}"/>



    </tr>

    <tr/><tr/><tr/>

    <tr>
        <td th:text="סה״כ"/>
        <td th:text="${totalSum}"/>

    </tr>


</table>


</body>
</html>