<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/disableButton.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Buying Prediction Report</title>
    <style>
    tab { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 11em; }
    tab6 { padding-right: 9.5em; }

</style>
</head>
<body>
<div th:include="TopMenu" />
<h1>דו״ח תחזית קניה</h1>
<table>
    <tr>
        <td><b>מספר מוצר</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>תאור מוצר</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>יחידת משקל</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>קוד משקל</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>כמות לקנייה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>משקל לקנייה</b></td>
        <td/><td/><td/><td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportBuyingPrediction/presentData/saveCSVFile} + '?categoryId=' + ${categoryId} + '\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>


    </tr>

    <tr/><tr/><tr/>

    <tr th:each="product : ${products}" >
        <td th:text="${product['productNumber']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${product['productName']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${product['unit']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${product['weightCode']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${product['productQuantity']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${product['totalBuyingWeight']}"/>


    </tr>
</table>

<hr/>
<!--<table>-->

<!--</table>-->
</body>
</html>