<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/disableButton.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Stock report</title>
    <style>
    tab { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 11em; }
    tab6 { padding-right: 9.5em; }

</style>
</head>
<body>

<div th:include="TopMenu" />

<h1>דו״ח מלאי</h1>
<table>
    <tr>
        <td>מספר קטלוגי</td>
        <td><tab4>|</tab4></td>
        <td>שם ספק</td>
        <td><tab5>|</tab5></td>
        <td>תאור מוצר</td>
        <td><tab6>|</tab6></td>
        <td>יחידת מידה</td>
        <td><tab4>|</tab4></td>
        <td>כמות זמינה</td>
        <td><tab4>|</tab4></td>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/admin/reports/ReportStock/saveCSVFile} +'\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>


    </tr>
</table>

<hr/>
<table>
    <tr th:each="column : ${columns}" >
        <td th:text="${column['catalogNo']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['supplierName']}"/>
        <td/><td/><td/><td/>
        <td th:text="${column['productName']}"/>
        <td/><td/><td/><td/><td/><td/>
        <td th:text="${column['productUnit']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['stock']}"/>

    </tr>
</table>
</body>
</html>