<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Reports Menu</title>
    <style>
    tab { padding-right: 4em; }
    tab1 { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 20em; }
    </style>

</head>
<body>
<div th:include="TopMenu" />
<h1>דו״חות</h1>

<table>
    <tr>
        <td text="דוח הזמנות לפי לקוח" th:onclick="'location.href = \'' + @{/admin/reports/ReportOrdersByCustomerId} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח הזמנות לפי לקוח</b></td>
        <td>
            דוח קניה לפי מספר לקוח – לפי תאריך התחלה ותאריך סוף יוצגו כל ההזמנות של הלקוח ניתן ויוצג גרף של זמן לעומת סכום קניה כוללת. יהיה ניתן לצלול לכל הזמנה ולצפות בפרטיה.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח מוצרים לפי מספר לקוח" th:onclick="'location.href = \'' + @{/admin/reports/ReportProductByCustomerId} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח מוצרים לפי מספר לקוח</b></td>

        <td>
            דוח מוצרים לפי מספר לקוח - לפי תאריך התחלה ותאריך סוף יוצגו כל המוצרים שקנה הלקוח. יוצג גרף של זמן לעומת מוצרים.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח משקל לפי מספר לקוח" th:onclick="'location.href = \'' + @{/admin/reports/ReportWeightByCustomerId} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח משקל לפי מספר לקוח</b></td>

        <td>
            דוח משקל לפי מספר לקוח – לפי תאריך התחלה ותאריך סוף יוצגו כל ההזמנות של הלקוח ניתן ויוצג גרף של זמן לעומת יחידת קניה. יהיה ניתן לצלול לכל הזמנה ולצפות בפרטיה.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח ספק לקנייה" th:onclick="'location.href = \'' + @{/admin/reports/ReportSupplierForBuying} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח ספק לקנייה</b></td>

        <td>
            דוח ספק לקניה - לפי תאריך התחלה ותאריך סוף יוצגו כל המוצרים שסופקו על ידי הספק. יוצג גרף של זמן לעומת עלות מוצרים. יהיה ניתן להזין עד שלושה ספקים ולראות השוואה ביניהם.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח ספק למשקל" th:onclick="'location.href = \'' + @{/admin/reports/ReportSupplierForWeight} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח ספק למשקל</b></td>

        <td>
            דוח ספק למשקל - לפי תאריך התחלה ותאריך סוף יוצגו כל המוצרים שסופקו על ידי הספק. יוצג גרף של זמן לעומת מספר היחידות למוצר. יהיה ניתן להזין עד שלושה ספקים ולראות השוואה ביניהם.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח מוצר לפי זמן" th:onclick="'location.href = \'' + @{/admin/reports/ReportProductByTime} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח מוצר לפי זמן</b></td>

        <td>
            דוח מוצר לפי זמן - לפי תאריך התחלה ותאריך סוף יוצגו כל הלקוחות שקנו מספר קטלוגי. יוצג גרף של זמן לעומת סה"כ יחידות. יהיה ניתן להזין עד שלושה מספרים קטלוגיים ולראות השוואה ביניהם.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח תחזית קניה" th:onclick="'location.href = \'' + @{/admin/reports/ReportBuyingPrediction} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח תחזית קניה</b></td>

        <td>
   דוח תחזית קניה – כלל המוצרים העתידיים לקניה (לפי הזמנות שנקלטו) ממוין לפי מספר קטלוגי.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח פריטים שהוזמנו" th:onclick="'location.href = \'' + @{/admin/reports/ReportOrderedItems} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח פריטים שהוזמנו</b></td>

        <td>
            דוח פריטים שהוזמנו - לפי תאריך התחלה ותאריך סוף יוצגו כל הפריטים שהוזמנו ממוינים לפי מספר קטלוגי. לכל פריט יוצגו מספר היחידות שנרכשו, סך כל עלות קניה ומכירה לפריט.
        </td>
    </tr>

    <tr/> <tr/> <tr/>

    <tr>
        <td text="דוח מלאי" th:onclick="'location.href = \'' + @{/admin/reports/ReportStock} + '\';'" onmouseover="" style="cursor: pointer;"><b>דוח מלאי</b></td>

        <td>
            דוח מלאי – יוצגו כל הפריטים שהכמות שלהם במלאי קטנה מסף שיוכנס
        </td>


    </tr>



</table>

</body>
</html>