<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Report Supplier For Weight</title>
    <script>
    $(function() {

		$( "#startDate" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "yy-mm-dd" }).val();

	});
    </script>
</head>
<body>

<div th:include="TopMenu" />

<h1>דו״ח ספק למשקל</h1>

<form method="post" th:action="@{/admin/reports/ReportSupplierForWeight/submit}">
<table>
    <td>מתאריך: <input type="text" id="startDate" name="startDate"/></td>
    <td>עד תאריך: <input type="text" id="endDate" name="endDate"/></td>
</table>

    <p><b> בחר ספק:</b></p>
    <table>
        <tr>
            <td>
                <select name="supplierIds" id="supplierIds" th:remove="all-but-first">
                    <option th:each="supplier : ${supplierList}"
                            th:value="${supplier['id']}" th:text="${supplier['name']}">Name</option>
                </select>
                <input type="submit"/>

            </td>

        </tr>
    </table>
</form>
</body>
</html>