<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Order Details</title>
    <style>
    tab { padding-right: 4em; }
    tab1 { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 20em; }
    </style>

</head>
<body>

<div th:include="TopMenu" />

<h1>דוח פריטים שהוזמנו</h1>


<hr/>
    <table>
        <tr>
            <td> מספר קטלוגי</td>
            <td><tab>|</tab></td>
            <td>מספר הזמנה</td>
            <td><tab3>|</tab3></td>
            <td>שם ספק</td>
            <td><tab4>|</tab4></td>
            <td>תאור מוצר</td>
            <td><tab4>|</tab4></td>
            <td>יחידת מידה</td>
            <td><tab>|</tab></td>
            <td>כמות שהוזמנה</td>
            <td><tab>|</tab></td>
            <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportOrderedItems/submit/saveCSVFile} + '?startDate=' + ${startDate} + '&amp;endDate=' + ${endDate}+'\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>

        </tr>

        <tr/><tr/>

        <tr th:each="item : ${items}" >
            <td th:text="${item['catalogNo']}"/><td/>
            <td th:text="${item['orderNumber']}"/><td/>
            <td th:text="${item['supplierName']}"/><td/>
            <td th:text="${item['productDec']}"/><td/>
            <td th:text="${item['unitType']}"/><td/>
            <td th:text="${item['orderedQuantity']}"/><td/>

        </tr>


    </table>
<hr/>



</body>
</html>