<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Reports</title>
</head>

<body style="margin: 0px;" onload="showPrimaryDiv()">

    <div th:include="Header" />

    <form id="generateReport" th:action="@{/admin/reports/generateReport}" method="post" target="_blank">
        <div id="page_title">
            <table>
                <tr>
                    <td colspan="3">
                        <input type="hidden" name="orderId" th:value="0" />
                        <p th:text="'דוחות'" style="display:inline;"></p>
                    </td>
                    <td width="20px"></td>
                    <td>
                        <select class="filter" id="primary" name="primary" onchange="showPrimaryDiv()">
                            <optgroup>
                                <option value="0" selected="selected">הזמנות - לקוחות</option>
                                <option value="1">הזמנות - ספקים</option>
                                <option value="2">לקוחות</option>
                                <option value="3">ספקים</option>
                                <option value="4">קופונים</option>
                                <option value="5">מוצרים</option>
                                <option value="6">אריזה</option>
                                <option value="7">משלוח</option>
                                <option value="8">תחזית</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <select class="filter" id="report_method" name="report_method" onchange="showEmailField(this)">
                            <optgroup>
                                <option value="0" selected="selected">שמירת קובץ</option>
                                <option value="1">קבלה במייל</option>
                            </optgroup>
                        </select>
                    </td>
                    <td id="emailField" style="visibility:hidden;">
                        <input class="input_field" type="text" id="email" name="email" placeholder="כתובת מייל" />
                    </td>
                    <td>
                        <input class="button" type="submit" id="submitButton" style="width:110px;" value="שמור קובץ"></input>
                    </td>
                    <td>
                        <div id="loader" class="loader" style="display:none;"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="reports_primary" id="supplierOrders" style="display:block;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="supplier_orders_secondary" name="supplier_orders_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0" selected="selected">לפי ספק</option>
                            </optgroup>
                        </select>
                    </td>

                    <td>
                        <input class="button_short" type="button" id="supplierShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="_orders_date">מתאריך:</td>
                    <td>
                        <input class="input_field_short" type="text" id="supplier_orders_start_date" name="supplier_orders_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#supplier_orders_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" type="text" id="supplier_orders_end_date" name="supplier_orders_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#supplier_orders_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td id="supplier_orders_supplier_name" style="display:block;">
                        <input class="input_field_short" type="text" placeholder="בחר ספק" id="supplier_orders_supplier_id" name="supplier_orders_supplier_id" th:list="${supplierList}"/>
                        <datalist th:id="${so_supplierList}">
                            <option th:each="so_supplier : ${supplierList}"
                                    th:value="${so_supplier['id']}" th:text="${so_supplier['name']}"></option>
                        </datalist>
                    </td>
                </tr>
            </table>
        </div>

        <div class="reports_primary" id="customerOrders" style="display:block;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="customer_orders_secondary" name="customer_orders_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0" selected="selected">פתוחות</option>
                                <option value="4">בקטיף</option>
                                <option value="1">בטיפול</option>
                                <option value="2">נשלחו</option>
                                <option value="3">בוטלו</option>
                                <option value="5">התראות</option>
                                <option value="6">כפולות</option>
                            </optgroup>
                        </select>
                    </td>

                    <td>
                        <input class="button_short" type="button" id="customersShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="customer_orders_date">מתאריך:</td>
                    <td>
                        <input class="input_field_short" type="text" id="customer_orders_start_date" name="customer_orders_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#customer_orders_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" type="text" id="customer_orders_end_date" name="customer_orders_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#customer_orders_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                </tr>
            </table>
        </div>

        <div class="reports_primary" id="customers" style="display:none;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="customers_secondary" name="customers_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0" selected="selected">לפי לקוחות</option>
                                <option value="1">לפי הזמנות</option>
                                <option value="2">הזמנות</option>
                                <option value="3">מוצרים</option>
                                <option value="4">התראות</option>
                                <option value="5">אזורים</option>
                                <option value="6">שימור לקוחות</option>
                            </optgroup>
                        </select>
                    </td>

                    <td>
                        <input class="button_short" type="button" id="customerOrderShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="customers_date">תאריך הצטרפות:</td>
                    <td>
                        <input class="input_field_short" type="text" id="customer_start_date" name="customer_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#customer_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" type="text" id="customer_end_date" name="customer_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#customer_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td id="customer_name" style="visibility:hidden;">
                        <input class="input_field_short" type="text" placeholder="בחר לקוח" id="customer_barcode" name="customer_barcode" th:list="${customerList}"/>
                        <datalist th:id="${customerList}">
                            <option th:each="customer : ${customerList}"
                                    th:value="${customer['barcode']}" th:text="${customer['name']}"></option>
                        </datalist>
                    </td>
                </tr>
            </table>
        </div>

        <div id="suppliers" style="display:none;">
            <p>Suppliers</p>
        </div>

        <div id="coupons" style="display:none;">
            <p>Coupons</p>
        </div>

        <div class="reports_primary" id="products" style="display:none;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="products_secondary" name="products_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0" selected="selected">זיכויים</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <input class="button_short" type="button" id="productsShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="products_date" style="visibility:visible">תאריך משלוח:</td>
                    <td>
                        <input class="input_field_short" style="visibility:visible" type="text" id="products_start_date" name="products_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#products_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" style="visibility:visible" type="text" id="products_end_date" name="products_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#products_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td id="product_product_name" style="display:none;">
                        <input class="input_field_short" type="text" placeholder="בחר מוצר" id="products_product_id" name="products_product_id" th:list="${productList}"/>
                        <datalist th:id="${productList}">
                            <option th:each="product : ${productList}"
                                    th:value="${product['id']}" th:text="${product['name']}"></option>
                        </datalist>
                    </td>
                </tr>
            </table>
        </div>

        <div class="reports_primary" id="packing" style="display:none;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="packing_secondary" name="packing_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0">דוח מוצרים - קוד משקל</option>
                                <option value="1" selected="selected">דוח אריזה - קוד משקל</option>
                                <option value="5">דוח אריזה - קוונטה</option>
                                <option value="3">דוח אריזה - מוצרים</option>
                                <option value="2">דוח עובדים</option>
                                <option value="4">דוח עובדים - זמן אמת</option>
                            </optgroup>
                        </select>
                    </td>
                    <td>
                        <input class="button_short" type="button" id="packingShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="packing_date" style="visibility:hidden">תאריך אריזה:</td>
                    <td>
                        <input class="input_field_short" style="visibility:hidden" type="text" id="packing_start_date" name="packing_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#packing_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" style="visibility:hidden" type="text" id="packing_end_date" name="packing_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#packing_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td id="packing_product_name" style="display:none;">
                        <input class="input_field_short" type="text" placeholder="בחר מוצר" id="packing_product_id" name="packing_product_id" th:list="${productList}"/>
                        <datalist th:id="${productList}">
                            <option th:each="product : ${productList}"
                                    th:value="${product['id']}" th:text="${product['name']}"></option>
                        </datalist>
                    </td>
                </tr>
            </table>
        </div>

        <div class="reports_primary" id="logistics" style="display:none;">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <select class="filter_short" id="logistics_secondary" name="logistics_secondary" onchange="showSecondary(this)">
                            <optgroup>
                                <option value="0" selected="selected">דוח משלוח</option>
                                <option value="1">דוח משלוח מפורט</option>
                                <option value="7">דוח משלוח נהגים</option>
                                <option value="6">דוח משלוח מפוטמפו</option>
                                <option value="8">דוח מיקום מפוטמפו</option>
                                <option value="3">דוח ארגזים</option>
                                <option value="5">דוח ארגזים יומי</option>
                            </optgroup>
                        </select>
                    </td>

                    <td>
                        <input class="button_short" type="button" id="logisticsShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                    </td>
                </tr>
                <tr>
                    <td id="logistics_date" style="display:none">תאריך משלוח:</td>
                    <td>
                        <input class="input_field_short" style="display:none" type="text" id="logistics_start_date" name="logistics_start_date" placeholder="מתאריך" />
                        <script>
                        $( function() {
                            $( "#logistics_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <input class="input_field_short" style="display:none" type="text" id="logistics_end_date" name="logistics_end_date" placeholder="עד תאריך" />
                        <script>
                        $( function() {
                            $( "#logistics_end_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    </td>
                    <td>
                        <select class="filter_short" id="logistics_delivery_window" name="logistics_delivery_window">
                            <optgroup>
                                <option value="1" selected="selected">ערב</option>
                                <option value="0">בוקר</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

    <div class="reports_primary" id="predictions" style="display:none;">
        <table>
            <tr>
                <td colspan="2">
                    <select class="filter_short" id="predictions_secondary" name="predictions_secondary" onchange="showSecondary(this)">
                        <optgroup>
                            <option value="0" selected="selected">תחזית קניה - לפי ספק</option>
                            <option value="1">תחזית קניה - לפי קטגוריה</option>
                            <option value="2">תחזית מכירה - לפי ספק</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    <input class="button_short" type="button" id="futuresShowButton" value="הצג תוצאות" onclick="showReport()"></input>
                </td>
            </tr>
            <tr>
                <td id="predictions_date">תאריך משלוח:</td>
                <td>
                    <input class="input_field_short" type="text" id="predictions_start_date" name="predictions_start_date" placeholder="מתאריך" />
                    <script>
                        $( function() {
                            $( "#predictions_start_date" ).datepicker({
                                constrainInput: true,   // prevent letters in the input field
                               firstDay: 0});
                        });
                    </script>
                    <input class="input_field_short" type="hidden" id="predictions_end_date" name="predictions_end_date" value="" />
                </td>
                <td id="predictions_supplier_name" style="display:block;">
                    <input class="input_field_short" type="text" placeholder="בחר ספק" id="predictions_supplier_id" name="predictions_supplier_id" th:list="${supplierList}"/>
                    <datalist th:id="${supplierList}">
                        <option th:each="supplier : ${supplierList}"
                                th:value="${supplier['id']}" th:text="${supplier['name']}"></option>
                    </datalist>
                </td>
                <td id="predictions_category_name" style="display:none;">
                    <input class="input_field_short" type="text" placeholder="בחר קטגוריה" id="predictions_category_id" name="predictions_category_id" th:list="${categoryList}"/>
                    <datalist th:id="${categoryList}">
                        <option th:each="category : ${categoryList}"
                                th:value="${category['id']}" th:text="${category['name']}"></option>
                    </datalist>
                </td>
            </tr>
        </table>
    </div>
    </form>

    <div class="report_results">
        <iframe id="mainIframe" src="" onload="resizeIframe();"></iframe>
    </div>

    <script>
        function showPrimaryDiv() {
            document.getElementById('customerOrders').style.display = "none";
            document.getElementById('supplierOrders').style.display = "none";
            document.getElementById('customers').style.display = "none";
            document.getElementById('suppliers').style.display = "none";
            document.getElementById('coupons').style.display = "none";
            document.getElementById('products').style.display = "none";
            document.getElementById('packing').style.display = "none";
            document.getElementById('logistics').style.display = "none";
            document.getElementById('predictions').style.display = "none";
            primary = document.getElementById('primary');
            switch (primary.value) {
                case '0' : document.getElementById('customerOrders').style.display = "block"; break;
                case '1' : document.getElementById('supplierOrders').style.display = "block"; break;
                case '2' : document.getElementById('customers').style.display = "block"; break;
                case '3' : document.getElementById('suppliers').style.display = "block"; break;
                case '4' : document.getElementById('coupons').style.display = "block"; break;
                case '5' : document.getElementById('products').style.display = "block"; break;
                case '6' : document.getElementById('packing').style.display = "block"; break;
                case '7' : document.getElementById('logistics').style.display = "block"; break;
                case '8' : document.getElementById('predictions').style.display = "block"; break;
            }
        }

        function showSecondary(secondary) {
            primary = document.getElementById('primary').value;
            document.getElementById('customer_name').style.visibility = "hidden";
            switch (primary) {
                case '0' : document.getElementById('customer_orders_date').innerHTML = "מתאריך:";
                           break;
                case '2' : switch (secondary.value) {
                               case '0' : document.getElementById('customers_date').innerHTML = "תאריך הצטרפות:"; break;
                               case '1' : document.getElementById('customers_date').innerHTML = "תאריך הזמנות:"; break;
                               case '2' :
                               case '3' : document.getElementById('customers_date').innerHTML = "תאריך הזמנות:";
                                          document.getElementById('customer_name').style.visibility = "visible";
                                          break;
                               default : document.getElementById('customers_date').innerHTML = "תאריך הצטרפות:"; break;
                           }
                           break;
                case '6' : switch (secondary.value) {
                               case '2': document.getElementById('packing_date').style.visibility = "visible";
                                         document.getElementById('packing_start_date').style.visibility = "visible";
                                         document.getElementById('packing_end_date').style.visibility = "visible";
                                         document.getElementById('packing_product_name').style.display = "none";
                                         break;
                               case '3': document.getElementById('packing_date').style.visibility = "visible";
                                         document.getElementById('packing_start_date').style.visibility = "visible";
                                         document.getElementById('packing_end_date').style.visibility = "visible";
                                         document.getElementById('packing_product_name').style.display = "block";
                                         break;
                               default : document.getElementById('packing_date').style.visibility = "hidden";
                                         document.getElementById('packing_start_date').style.visibility = "hidden";
                                         document.getElementById('packing_end_date').style.visibility = "hidden";
                                         document.getElementById('packing_product_name').style.display = "none";
                                         break;
                           }
                           break;
                case '7' : document.getElementById('logistics_date').innerHTML = "תאריך משלוח:";
                           switch (secondary.value) {
                               case '3' :
                               case '4' : document.getElementById('logistics_date').style.display = "block";
                                          document.getElementById('logistics_start_date').style.display = "block";
                                          document.getElementById('logistics_end_date').style.display = "block";
                                          document.getElementById('logistics_delivery_window').style.display = "none";
                                          break;
                               case '5' : document.getElementById('logistics_date').style.display = "block";
                                          document.getElementById('logistics_start_date').style.display = "block";
                                          document.getElementById('logistics_end_date').style.display = "none";
                                          document.getElementById('logistics_delivery_window').style.display = "none";
                                          break;
                               case '6' : document.getElementById('logistics_date').style.display = "none";
                                          document.getElementById('logistics_start_date').style.display = "none";
                                          document.getElementById('logistics_end_date').style.display = "none";
                                          document.getElementById('logistics_delivery_window').style.display = "block";
                                          break;
                               case '7' : document.getElementById('logistics_date').style.display = "block";
                                          document.getElementById('logistics_start_date').style.display = "block";
                                          document.getElementById('logistics_end_date').style.display = "none";
                                          document.getElementById('logistics_delivery_window').style.display = "none";
                                          break;
                               case '8' : document.getElementById('logistics_date').style.display = "block";
                                          document.getElementById('logistics_start_date').style.display = "block";
                                          document.getElementById('logistics_end_date').style.display = "block";
                                          document.getElementById('logistics_delivery_window').style.display = "none";
                                          break;
                               default : document.getElementById('logistics_date').style.display = "block";
                                         document.getElementById('logistics_start_date').style.display = "none";
                                         document.getElementById('logistics_end_date').style.display = "none";
                                         document.getElementById('logistics_delivery_window').style.display = "none";
                                         break;
                           }
                           break;
                case '8' : document.getElementById('predictions_supplier_name').style.display = "none";
                           document.getElementById('predictions_category_name').style.display = "none";
                           switch (secondary.value) {
                               case '0' : document.getElementById('predictions_supplier_name').style.display = "block"; break;
                               case '1' : document.getElementById('predictions_category_name').style.display = "block"; break;
                           }
                           break;

            }
        }

        function showEmailField(report_method){
            switch (report_method.value) {
                case '0' : document.getElementById('emailField').style.visibility = "hidden";
                           document.getElementById("submitButton").value="שמור קובץ";
                           break;

                case '1' : document.getElementById('emailField').style.visibility = "visible";
                           document.getElementById("submitButton").value="שלח מייל";
                           break;
            }
        }

        function showLoader(){
            document.getElementById('loader').style.display = "block";
            document.getElementById('generateReport').submit();
        }

        function resizeIframe() {
            document.getElementById('loader').style.display = "none";
        }

        /*<![CDATA[*/

        function showReport(){
           document.getElementById('loader').style.display = "block";
           iframe = document.getElementById('mainIframe');
           primary = document.getElementById('primary').value;
           switch (primary) {
                case '0' : start_date = document.getElementById('customer_orders_start_date').value;
                           end_date = document.getElementById('customer_orders_end_date').value;
                           secondary = document.getElementById('customer_orders_secondary').value;
                           document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary;
                           break;
                case '1' : start_date = document.getElementById('supplier_orders_start_date').value;
                           end_date = document.getElementById('supplier_orders_end_date').value;
                           secondary = document.getElementById('supplier_orders_secondary').value;
                           supplier_id = document.getElementById('supplier_orders_supplier_id').value;
                           document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary + "&supplier_id=" + supplier_id;
                           break;
                case '2' :
                case '3' : start_date = document.getElementById('customer_start_date').value;
                           end_date = document.getElementById('customer_end_date').value;
                           secondary = document.getElementById('customers_secondary').value;
                           switch (secondary) {
                               case '0' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                               case '1' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                               case '2' :
                               case '3' : customerId = document.getElementById('customer_barcode').value;
                                          document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary + "&customer_barcode=" + customerId; break;
                               case '4' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                               case '5' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                               case '6' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                           }
                           break;
                case '3' : break;
                case '4' : break;
                case '5' : start_date = document.getElementById('products_start_date').value;
                           end_date = document.getElementById('products_end_date').value;
                           secondary = document.getElementById('products_secondary').value;
                           product = document.getElementById('products_product_id').value;
                           switch (secondary) {
                               case '0' : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&product_id=" + product + "&primary=" + primary + "&secondary=" + secondary; break;
                           }
                           break;
                case '6' : start_date = document.getElementById('packing_start_date').value;
                           end_date = document.getElementById('packing_end_date').value;
                           secondary = document.getElementById('packing_secondary').value;
                           switch (secondary) {
                               case '3' : product = document.getElementById('packing_product_id').value;
                                          document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&product_id=" + product + "&secondary=" + secondary; break;
                               default  : document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary; break;
                           }
                           break;
                case '7' : start_date = document.getElementById('logistics_start_date').value;
                           end_date = document.getElementById('logistics_end_date').value;
                           secondary = document.getElementById('logistics_secondary').value;
                           delivery_window = document.getElementById('logistics_delivery_window').value;
                           document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary + "&delivery_window=" + delivery_window;
                           break;
                case '8' : start_date = document.getElementById('predictions_start_date').value;
                           end_date = document.getElementById('predictions_end_date').value;
                           secondary = document.getElementById('predictions_secondary').value;
                           switch (secondary) {
                               case '0' : supplier_id = document.getElementById('predictions_supplier_id').value;
                                          document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary + "&supplier_id=" + supplier_id;
                                          break;
                               case '1' : category_id = document.getElementById('predictions_category_id').value;
                                          document.getElementById('mainIframe').src = "/admin/reports/reportResults?start_date=" + start_date + "&end_date=" + end_date + "&primary=" + primary + "&secondary=" + secondary + "&category_id=" + category_id;
                                          break;
                               case '2' :
                           }
                           break;
            }
        }

        /*]]>*/

    </script>
</body>
</html>
