<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <title>Compare Catalog No.</title>
    <style>
    tab { padding-right: 4em; }
    tab1 { padding-right: 2em; }
    tab2 { padding-right: 3em; }
    tab3 { padding-right: 3.5em; }
    tab4 { padding-right: 1.5em; }
    tab5 { padding-right: 20em; }
    </style>


    <script>
   $(function() {

		$( "#startDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();

	});
    </script>


</head>
<body>

<div th:include="TopMenu" />

<h1>השוואת מספר קטלוגי </h1>


<h3 th:text=" '  מתאריך  ' +${start} + '  עד תאריך  ' + ${end}  " ></h3>
<hr/>
<h3 th:text="  ${productName}  " ></h3>

<table>
    <tr>


                <td><b>מספר הזמנה</b></td>
                <td/><td/><td/><td/><td/>
                <td><b>שם הלקוח</b></td>
                <td/><td/><td/><td/><td/>
                <td><b>מספר הלקוח</b></td>
                <td/><td/><td/><td/><td/>
                <td><b>תאריך קבלת ההזמנה </b></td>
                <td/><td/><td/><td/><td/>
                <td><b>כמות בהזמנה </b></td>
                <td/><td/><td/><td/><td/>
                <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportProductByTime/submit/saveCSVFile} + '?productId=' + ${productId} + '&amp;startDate=' + ${startDate} + '&amp;endDate=' + ${endDate}+'\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>


    </tr>


    <tr th:each="detail : ${details}" >


            <td th:text="${detail['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/customers/orders/order} + '?id=' + ${detail['orderId']} + '\';'" onmouseover="" style="cursor: pointer"/>
            <td/><td/><td/><td/><td/>
            <td th:text="${detail['customerName']}"/>
            <td/><td/><td/><td/><td/>
            <td th:text="${detail['customerNumber']}"/>
            <td/><td/><td/><td/><td/>
            <td th:text="${detail['orderCreatedDate']}"/>
            <td/><td/><td/><td/><td/>
            <td th:text="${detail['productQuantity']}"/>
            <td/><td/><td/><td/><td/>


    </tr>




</table>

</body>
</html>