<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Customer coupon</title>
</head>

<body style="margin: 0px;">

    <div class="report_results_iframe">
        <table>
            <thead>
            <tr>
                <th colspan="3">
                    <p th:text="'מספר רשומות: ' + ${numberOfRows}" />
                </th>
            </tr>
            <tr>
                <td th:each="cl : ${header}" th:text="${cl}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,status : ${content}">
                <td th:each="cl : ${row}" th:text="${cl}">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>