<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" dir="rtl">
<head>
    <title>Report Orders By Customer Id</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script>

	$(function(){
		$( "#startDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();

	});
	</script>

</head>

<body>

<div th:include="TopMenu" />

<h1>דו״ח מוצרים (פריטים) לפי מספר לקוח</h1>

<table>
    <tr>
        <td>
            מספר לקוח:
        </td>
        <td/><td/>
        <td th:text="${customerBarcode}"/>
        <td/><td/><td/><td/><td/><td/>
        <td>
            שם לקוח:
        </td>
        <td/><td/>

        <td th:text="${customerName}"/>
        <td/><td/><td/><td/><td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/printPendingOrdersQRCodes/} + '\';'" onmouseover="" style="cursor: pointer;" value="הוסף לקוח"/></td>
        <td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports/ReportProductByCustomerId/presentData/saveCSVFile} + '?customerId=' + ${customerId} + '&amp;startDate=' + ${startDate} + '&amp;endDate=' + ${endDate} + '\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>
    </tr>
</table>

<br/><br/>

<table>
    <tr>
        <td><b>מספר קטלוגי</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>תאור מוצר</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>עלות מכירה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>כמות </b></td>
        <td/><td/><td/><td/><td/>
        <td><b>יחידת מידה </b></td>
        <td/><td/><td/><td/><td/>
        <td><b>מחיר ממוצע </b></td>
    </tr>

    <tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>
    <tr th:each="column : ${columns}" >

        <td th:text="${column['itemId']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${column['productDec']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${column['sellingCost']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${column['quantity']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${column['packageUnit']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${column['averagePrice']}"/>

    </tr>

    <tr/><tr/><tr/>

    <tr>
        <td th:text="סה״כ"/>
        <td th:text="${totalSum}"/>

    </tr>
</table>


<!--<p><u><b>כלל המוצרים שרכש הלקוח :</b></u></p>-->
<!--<table>-->
    <!--<tr th:each="column : ${columns}" >-->
    <!--<td th:text="${column['product']}"/>-->

    <!--</tr>-->

<!--</table>-->
</body>
</html>