<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" dir="rtl">
<head>
    <title>Report Supplier For Weight</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script>

	$(function(){
		$( "#startDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "dd/mm/yy" }).val();

	});
	</script>

</head>

<body>

<div th:include="TopMenu" />

<h1>דו״ח ספק למשקל</h1>

<table>
    <tr>
        <td>
            מספר ספק:
        </td>
        <td/><td/>
        <td th:text="${supplierBarcode}"/>
        <td/><td/><td/><td/><td/><td/>
        <td>
            שם ספק:
        </td>
        <td/><td/>

        <td th:text="${supplierName}"/>
        <td/><td/><td/><td/><td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/printPendingOrdersQRCodes/} + '\';'" onmouseover="" style="cursor: pointer;" value="הוסף לקוח"/></td>
        <td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/reports//ReportSupplierForWeight/submit/saveCSVFile} + '?supplierId=' + ${supplierId} + '&amp;startDate=' + ${startDate} + '&amp;endDate=' + ${endDate}+'\';'" onmouseover="" style="cursor: pointer;" value="שמור קובץ"/></td>
    </tr>
</table>

<br/><br/>

<table>
    <tr>
        <td><b>מספר הזמנה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>תאריך משלוח</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>משקל הזמנה(ק״ג) </b></td>

    </tr>

    <tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>
    <tr th:each="order : ${orderDetails}" >

        <td th:text="${order['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/order} + '?id=' + ${order['orderId']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${order['createdDate']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${order['orderWeight']}"/>
        <td/><td/><td/><td/><td/>

    </tr>


</table>
<br/>
<table>

    <tr>
        <td><b>מספר קטלוגי</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>תאור מוצר</b></td>
        <td/><td/><td/><td/><td/>
        <td><b> משקל יחידה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>יחידת מידה</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>כמות</b></td>
        <td/><td/><td/><td/><td/>
        <td><b>משקל כולל(ק״ג) </b></td>
    </tr>

    <tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>
    <tr th:each="supplierProducts : ${supplierProductLists}" >

        <td th:text="${supplierProducts['catalogNo']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierProducts['productDec']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierProducts['unitWeight']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierProducts['packageUnit']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierProducts['quantity']}"/>
        <td/><td/><td/><td/><td/>
        <td th:text="${supplierProducts['totalWeight']}"/>

    </tr>
</table>


</body>
</html>