<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" dir="rtl">
<head>
    <title>Product By Customer Id</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>



    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script>

	$(function(){
        <!--$.noConflict();-->
		$( "#startDate" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
		$( "#endDate" ).datepicker({ dateFormat: "yy-mm-dd" }).val();
	});
	</script>

</head>

<body>

<div th:include="TopMenu" />

<h1>דוח משקל לפי מספר לקוח</h1>

<form method="post" th:action="@{/admin/reports/ReportWeightByCustomerId/presentData}">


    <table>
        <tr>
            <td>

                <input  type="text" value="בחר לקוח" name="customerBarcode" th:list="${customerList}"/>
                <datalist th:id="${customerList}">
                    <option th:each="customer : ${customerList}"
                            th:value="${customer['barcode']}" th:text="${customer['name']}">Name</option>
                </datalist>



            </td>

        </tr>
    </table>

    <table>
        <td>מתאריך: <input type="text" id="startDate" name="startDate"/></td>
        <td>עד תאריך: <input type="text" id="endDate" name="endDate"/></td>
    </table>

    <input type="submit" onclick="location.href = '/admin/reports/ReportWeightByCustomerId/presentData/" onmouseover="" style="cursor: pointer;" value="הצג נתונים"/>


    <br/><br/>

</form>

</body>
</html>