<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Coupon notice</title>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.shookbook.co.il/email/pdf_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
</head>
<body>
<div class="delivery_title">
    <img src="https://www.shookbook.co.il/email/new_logo_small.png" alt="" width="107" height="50" style="padding-bottom:20px;"/>
    <table dir="rtl" width="800">
        <tr style="background-color:#203040;">
            <td style="padding-right:40px; color:#ffffff; font-size:24px; border-top-left-radius: 3px; border-top-right-radius: 3px; height:60px;">הזמנתך עברה לטיפול</td>
        </tr>
        <tr>
            <td style="padding-right:40px; padding-bottom:0px; padding-top:20px; color:#1f1f1f; font-size:14px;">לקוח יקר,</td>
        </tr>
        <tr>
            <td style="padding-right:40px; padding-bottom:0px; padding-top:0px; color:#1f1f1f; font-size:14px;">הזמנתך התקבלה אצלנו, תודה שקנית שוקבוק.</td>
        </tr>
        <td style="padding-right:40px; padding-bottom:0px; padding-top:0px; color:#1f1f1f; font-size:14px;" th:text="${deliveryDate}"></td>
        <tr>
            <td style="padding-right:40px; padding-bottom:0px; padding-top:0px; color:#1f1f1f; font-size:14px;">חיוב כרטיס האשראי ושליחת חשבונית יתבצעו לאחר מסירת המשלוח.</td>
        </tr>
        <tr>
            <td style="padding-right:40px; padding-bottom:30px; padding-top:20px; color:#1f1f1f; font-size:14px;">שוקבוק - מגדלים בשבילך</td>
        </tr>
        <tr>
            <td style="padding-right:40px; padding-bottom:0px; padding-top:0px; color:#1f1f1f; font-size:16px; font-weight:bold;" th:text="${orderNumber}"></td>
        </tr>
        <tr>
    </table>
    <table dir="rtl" width="400" style="margin-right:40px;">
        <tr>
            <td width="300px" style="padding-right:10px; padding-left:10px; padding-bottom:5px; padding-top:0px; color:#1f1f1f; font-size:14px; font-weight:bold;">מוצר</td>
            <td width="50px" style="padding-right:10px; padding-left:10px; padding-bottom:5px; padding-top:0px; color:#1f1f1f; font-size:14px; font-weight:bold;">כמות</td>
            <td width="50px" style="padding-right:10px; padding-left:10px; padding-bottom:5px; padding-top:0px; color:#1f1f1f; font-size:14px; font-weight:bold;">מחיר</td>
        </tr>
    </table>
</div>
</body>
</html>