<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>פרטי הזמנה לספק</title>
    <style>
    tab { padding-right: 4em; }
</style>
</head>
<body>
<div th:include="TopMenu" />

<table>
    <tr>
        <td>שם ספק: </td><td/>
        <td th:text= "${columns[0]['supplierName']}"/>
        <td/><td/><td/><td/><td/><td/>
        <td>מספר ספק: </td><td/>
        <td th:text= "${columns[0]['id']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/add}  + '\';'" value="הוסף ספק"/></td>
        <td><input type="button" th:onclick="'location.href = \'' + @{/admin/customers/orders/printEnvelope}  + '\';'" value="שמור קובץ"/></td>
    </tr>
</table>
<br/><br/><br/>
<table>
    <tr>
        <td><b>מספר הזמנה</b></td><td/><td/><td/><td/>
        <td><b>תאריך הזמנה</b></td><td/><td/><td/><td/>
        <td><b>סכום הזמנה</b></td><td/><td/><td/>
        <td><b>מצב הזמנה</b></td><td/>
    </tr>
    <tr/><tr/><tr/><tr/><tr/><tr/>
    <tr>
    <tr th:each="column : ${columns}" >
        <td th:text= "${column['orderNumber']}"/><td/><td/><td/><td/>
        <td th:text= "${column['orderDate']}"/><td/><td/><td/><td/>
        <td th:text= "${column['orderSum']}"/><td/><td/><td/>
        <td th:text= "${column['orderStatus']}"/><td/>
    </tr>

    </tr>




</table>
</body>
</html>