<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Order Details</title>
</head>
<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">הזמנת ספקים - פרטי הזמנה</p>
            </td>
            <td width="400px"></td>
        </tr>
    </table>
</div>

<div class="customer_order_details">
    <table>
        <tr>
            <td>שם ספק:</td>
            <td th:text= "${column['supplierName']}"/>
            <td/>
            <td>מספר ספק:</td>
            <td colspan="3" th:text= "${column['supplierId']}"/>
        </tr>
        <tr>
            <td>מספר הזמנה:</td>
            <td>
                <p th:text= "${column['orderId']}" />
            </td>
            <td>תאריך הזמנה:</td>
            <td>
                <p th:text= "${column['orderCreatedDate']}" />
            </td>
            <td>סטטוס:</td>
            <td>
                <form th:action="@{/admin/suppliers/orders/submit/status}" method="post">
                    <input type="hidden" name="supplier/orderId" id="supplierOrderId" th:value="${supplierOrderId}" />
                    <select class="filter_short" name="supplierOrderStatus" id="supplierOrderStatus" onchange="this.form.submit()">
                        <optgroup>
                            <option th:value="${statusId}" th:text="${statusHeb}" selected="selected" />
                        </optgroup>
                        <optgroup>
                            <option value="0">סגורה</option>
                            <option value="1">פתוחה</option>
                            <option value="2">נשלחה</option>
                            <option value="3">בוטלה</option>
                        </optgroup>
                    </select>
                </form>
            </td>
        </tr>
    </table>
</div>

<br />

<table class="customer_order_details_products" id="customer_order_products">
    <thead>
        <tr>
            <th>מוצרים</th>
        </tr>
    <tr>
        <td><b>מספר קטלוגי</b></td>
        <td><b>שם המוצר</b></td>
        <td><b>כמות</b></td>
        <td><b>מחיר יחידה</b></td>
        <td><b>סה״כ</b></td>
    </tr>
    </thead>
    <tbody>
        <tr style="line-height:20px" th:each="element : ${elements}">
            <td th:text="${element['itemBarcode']} "/>
            <td th:text ="${element['productName']}"/>
            <td th:text ="${element['quantity']}"/>
            <td th:text ="${element['price']}"/>
            <td th:text ="${element['totalPrice']}"/>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>סה״כ:</td>
            <td th:text= "${column['orderAmount']}" text="ש״ח"/>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>מע״מ:</td>
            <td th:text= "${vat}" text="ש״ח"/>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>סה״כ לתשלום:</td>
            <td th:text= "${column['orderAmount']}" text="ש״ח"/>
        </tr>
    </tfoot>
</table>
</body>
</html>