<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Suppliers Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">ניהול ספקים - פרטי ספק</p>
            </td>
            <td width="60px"></td>
            <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/suppliers/supplier/edit} + '?id=' + ${column['id']} + '\';'" value="עריכה"/></td>
            <td width="80px"></td>
            <th><input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/supplier/orders} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="הזמנות"/></th>
            <td><input class="button" type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/supplier/items} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;" value="פריטים"/></td>
        </tr>
    </table>
</div>

<div class="supplier_details">
    <table>
        <tr>
            <td>שם ספק:</td>
            <td th:text= "${column['supplierName']}"/>
            <td>מספר ספק:</td>
            <td th:text= "${column['supplierNumber']}"/>
            <td>עוסק מורשה:</td>
            <td th:text= "${column['licensedDealer']}"/>
        </tr>
        <tr>
            <td>איש קשר:</td>
            <td th:text= "${column['contactMan']}"/>
            <td>טלפון:</td>
            <td th:text= "${column['phone']}"/>
            <td>פקס:</td>
            <td th:text= "${column['fax']}"/>
            <td>כתובת מייל:</td>
            <td th:text= "${column['email']}"/>
        </tr>

        <tr>
            <td>קשר נוסף:</td>
            <td th:text= "${column['contactMan2']}"/>
            <td>טלפון:</td>
            <td th:text= "${column['phone2']}"/>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan = "6"><b>כתובת העסק</b></td>
        </tr>
        <tr>
            <td>רחוב:</td>
            <td th:text= "${column['businessAddress']}"/>
            <td>עיר:</td>
            <td th:text= "${column['businessCity']}"/>
            <td>מיקוד:</td>
            <td th:text= "${column['zip']}"/>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan = "8"><b>פרטי בנק</b></td>
        </tr>
        <tr>
            <td>שם בעל חשבון:</td>
            <td th:text="${column['bankAccountOwner']}"/>
            <td>שם בנק:</td>
            <td th:text="${column['bankNo']}"/>
            <td>מספר סניף:</td>
            <td th:text="${column['bankBranchNo']}"/>
            <td>מספר חשבון:</td>
            <td th:text="${column['bankAccountNo']}"/>
        </tr>
    </table>

</div>
<div class="supplier_factors" style="float:right;">
    <table>
        <thead>
            <tr>
                <td th:if="${column['orderInventoryFactor']['enable']}" colspan="6">פקטור הזמנות - פעיל</td>
                <td th:if="!${column['orderInventoryFactor']['enable']}" colspan="6">פקטור הזמנות - כבוי</td>
            </tr>
        </thead>
        <tbody th:if="${column['orderInventoryFactor']['enable']}">
            <tr>
                <th>יום א</th>
                <th>יום ב</th>
                <th>יום ג</th>
                <th>יום ד</th>
                <th>יום ה</th>
                <th>יום ו</th>
                <th>שבת</th>
            </tr>
            <tr>
                <td th:text="${column['orderInventoryFactor']['day1']}" />
                <td th:text="${column['orderInventoryFactor']['day2']}" />
                <td th:text="${column['orderInventoryFactor']['day3']}" />
                <td th:text="${column['orderInventoryFactor']['day4']}" />
                <td th:text="${column['orderInventoryFactor']['day5']}" />
                <td th:text="${column['orderInventoryFactor']['day6']}" />
                <td th:text="${column['orderInventoryFactor']['day7']}" />
            </tr>
        </tbody>
    </table>
</div>

<div class="supplier_factors" style="float:right;">
    <table>
        <thead>
        <tr>
            <td th:if="${column['orderWeightFactor']['enable']}" colspan="6">פקטור משקל - פעיל</td>
            <td th:if="!${column['orderWeightFactor']['enable']}" colspan="6">פקטור משקל - כבוי</td>
        </tr>
        </thead>
        <tbody th:if="${column['orderWeightFactor']['enable']}">
        <tr>
            <th>יום א</th>
            <th>יום ב</th>
            <th>יום ג</th>
            <th>יום ד</th>
            <th>יום ה</th>
            <th>יום ו</th>
            <th>שבת</th>
        </tr>
        <tr>
            <td th:text="${column['orderWeightFactor']['day1']}" />
            <td th:text="${column['orderWeightFactor']['day2']}" />
            <td th:text="${column['orderWeightFactor']['day3']}" />
            <td th:text="${column['orderWeightFactor']['day4']}" />
            <td th:text="${column['orderWeightFactor']['day5']}" />
            <td th:text="${column['orderWeightFactor']['day6']}" />
            <td th:text="${column['orderWeightFactor']['day7']}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>