<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>מוצרים לספק</title>
    <style>
    tab { padding-right: 4em; }
</style>
</head>
<body>

<div th:include="TopMenu" />

<br />
<br />

<table class="supplier_info">
    <tr>
        <th>שם ספק</th>
        <th>מספר ספק</th>
        <th>טלפון</th>
        <th>כתובת מייל</th>
        <th>תאריך הצטרפות</th>
        <th>מספר מוצרים</th>
    </tr>
    <tr>
        <td th:text= "${supplierDetails['supplierName']}"/>
        <td th:text= "${supplierDetails['id']}"/>
        <td th:text= "${supplierDetails['phone']}"/>
        <td th:text= "${supplierDetails['email']}"/>
        <td th:text= "${supplierDetails['joinDate']}"/>
        <td th:text= "${supplierDetails['itemsCount']}"/>
    </tr>
</table>

<br />
<br />

<table class="supplier_items">
    <tr>
        <th>מספר קטלוגי</th>
        <th>תאור מוצר</th>
        <th>עלות קניה</th>
        <th>יחידת מידה</th>
        <th>כמות במלאי</th>
        <th>זמינות</th>
        <th><input type="button" style="cursor: pointer;" value="פריט חדש"/></th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item['barcode']}" />
        <td th:text="${item['product_name']}"/>
        <td th:text="${item['buying_cost']}"/>
        <td th:text="${item['unit']}"/>
        <td th:text="${item['inventory']}"/>
        <td th:text="${item['status']}"/>
    </tr>
</table>

</body>
</html>