<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}" href="@{/css/styleNew.css}"/>
    <title>Suppliers orders</title>
    <style>
    tab { padding-right: 4em; }
    tab2 { padding-right: 7em; }
    li { cursor: pointer; cursor: hand; }

</style>
</head>
<body>
<div th:include="TopMenu" />

<table>
    <tr>
        <td>
            <form method="get" th:action="@{/admin/suppliers/orders/add}">
                <select name="supplierId" id="supplierId" th:field="*{supplierList}" th:remove="all-but-first">
                    <option th:each="supplier : ${supplierList}"
                            th:value="${supplier['id']}" th:text="${supplier['name']}">Name</option>
                </select>
                <input type="button" onclick="location.href = '/admin/suppliers/orders/add?id=' + document.getElementById('supplierId').value;" onmouseover="" style="cursor: pointer;" value="הוסף הזמנת ספק"/>
            </form>

        </td>

    </tr>
</table>
<table>
    <h1>הזמנות ספקים</h1>
    <tr>
        <td> מספר הזמנה</td>
        <td><tab>|</tab></td>
        <td>שם ספק</td>
        <td><tab2>|</tab2></td>
        <td>מספר ספק</td>
        <td><tab>|</tab></td>
        <td>סכום הזמנה</td>
        <td><tab>|</tab></td>
        <td>תאריך הזמנה</td>
        <td><tab>|</tab></td>
        <td>תאריך קבלה</td>
        <td><tab>|</tab></td>
        <td>סטטוס הזמנה</td>
        <td><tab>|</tab></td>
        <td><input type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/autoGenerateSuppliersOrder} + '\';'" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/></td>
    </tr>

</table>

<hr/>
<table>
    <tr th:each="column : ${columns}" >
        <!--th:title="${column['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/clients_orders/get} + '?id=' + ${column['id']} + '\';'">-->
        <td th:text="${column['supplierOrderNumber']}"  th:onclick="'location.href = \'' + @{/admin/suppliers/orders/order} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['supplierName']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['supplierNumber']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['orderAmount']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['orderCreateDate']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td th:text="${column['orderShipmentDate']}"/>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td>
            <!--<input type="text" id="status" th:value= "${column['status']}" name="status" />-->

        <form method="post" th:action="@{/admin/suppliers/orders/editOrderStatus}">
            <select name="status">
                <option value="0">סגורה</option>
                <option value="1">פתוחה</option>
                <option value="2">בתהליך</option>
                <option value="3">במשלוח</option>
                <option value="4">בוטלה</option>
            </select>
        </form>

        </td>
        <td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
        <td><input type="submit" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/}+ '\';'" onmouseover="" style="cursor: pointer;" value="שמור"/></td>
    </tr>


</table>
</body>
</html>