<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Suppliers Administration</title>
</head>

<body style="margin:0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">ניהול ספקים</p>
            </td>
            <td width="400px;"></td>
            <td>
                <input class="button" type="button" value="הוסף ספק" th:onclick = "'location.href = \'' + @{/admin/suppliers/add} + '\';'"/>
            </td>
        </tr>
    </table>
</div>

<div class="suppliers">
<table>

    <tr>
        <th>שם ספק</th>
        <th>קוד ספק</th>
        <th>טלפון</th>
        <th>כתובת מייל</th>
        <th>תאריך הצטרפות</th>
        <th colspan = "2">מספר הזמנות</th>
    </tr>

    <tr th:each="column : ${columns}" >
        <!--th:title="${column['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/clients_orders/get} + '?id=' + ${column['id']} + '\';'">-->
        <td th:text="${column['supplierName']}" th:onclick="'location.href = \'' + @{/admin/suppliers/supplier} + '?id=' + ${column['supplierNumber']} + '\';'" onmouseover="" style="cursor: pointer;"/>
        <td th:text="${column['supplierNumber']}"/>
        <td th:text="${column['phone']}"/>
        <td th:text="${column['email']}"/>
        <td th:text="${column['joinDate']}"/>
        <td th:text="${column['ordersQuantity']}"/>
        <td th:if="${admin}"><input class="button_short" type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : location.href = \'' + @{/admin/suppliers/removeSupplier} + '?id=' + ${column['supplierNumber']} + '\';'" onmouseover="" style="cursor: pointer;" value="הסר"/></td>
    </tr>
</table>
</div>
</body>
</html>