<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/email_styles.css"/>
    <title>Supplier order</title>
</head>

<body>
<div id="supplier_order_top">
    <table>
        <tr>
            <td width="300"><a href="https://www.shookbook.co.il"><img src="https://www.shookbook.co.il/email/new_logo_small.png" alt="" width="150" height="70" class="body_img_delivery"/></a></td>
            <td width="500"></td>
            <td th:text="${date}"></td>
        </tr>
    </table>
</div>
<hr />

<div id="supplier_order_supplier">
    <table>
        <tr>
            <td>לידי:</td>
        </tr>
        <tr>
            <td th:text="${name}"></td>
        </tr>
        <tr>
            <td th:text="${email}"></td>
        </tr>
        <tr>
            <td th:text="${address}"></td>
        </tr>
    </table>
</div>

<div id="supplier_order_number">
    <table>
        <tr>
            <td th:text=" 'הזמנה מספר '+ ${barcode}"></td>
        </tr>
    </table>
</div>

<div id="supplier_order_products">
    <table>
        <tbody>
        <tr>
            <th></th>
            <th>מק"ט</th>
            <th>תאור</th>
            <th>יחידה</th>
            <th>מחיר</th>
            <th>כמות</th>
            <th>סה"כ</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item['no']}"></td>
            <td th:text="${item['barcode']}"></td>
            <td th:text="${item['name']}"></td>
            <td th:text="${item['packageType']}"></td>
            <td th:text="${item['unitPrice']}"></td>
            <td th:text="${item['quantity']}"></td>
            <td th:text="${item['totalPrice']}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>סה"כ</td>
            <td th:text="${total_products}"></td>
            <td th:text="${total}"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td>מע"מ</td>
            <td></td>
            <td th:text="${totalVat}"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td>סה"כ הזמנה</td>
            <td></td>
            <td th:text="${grandTotal}"></td>
        </tr>
        </tfoot>
    </table>
</div>

<div id="supplier_order_remarks">
        <p>תנאי תשלום: שוטף פלוס שבוע מיום מקבלת החשבונית</p>
</div>

<br />

<div id="supplier_order_footer">
    <table>
        <tr>
            <th colspan="2"><hr /></th>
        </tr>
        <tr>
            <td width="710">שוקבוק בע"מ משק 23 תלמי יחיאל ד.נ. שיקמים 7981000 </td>
            <td width="263">טלפון: 1-700-555-704 פקס: 09-7967500</td>
        </tr>
    </table>
</div>
</body>
</html>