<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Suppliers Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<form th:action="@{/admin/suppliers/orders/new/submit}" method="post">
    <div id="page_title">
        <table>
            <tr>
                <td colspan="3">
                    <p style="display:inline;">הזמנת ספקים - הזמנה חדשה</p>
                </td>
                <td width="160px"></td>
                <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/suppliers/orders} + '\';'" value="ביטול"/></td>
                <td><input class="button" type="submit"  value="שמור"/></td>
            </tr>
        </table>
    </div>

    <div class="supplier_details">
        <table>
            <tr>
                <td>שם ספק:</td>
                <td th:text= "${supplier['supplierName']}"/>
                <td>מספר ספק:</td>
                <td th:text= "${supplier['supplierNumber']}"/>
                <td>עוסק מורשה:</td>
                <td th:text= "${supplier['licensedDealer']}"/>
                <td>
                    <input type="hidden" name="supplierId" th:value="${supplier['id']}"/>
                </td>
            </tr>
            <tr>
                <td>איש קשר:</td>
                <td th:text= "${supplier['contactMan']}"/>
                <td>טלפון:</td>
                <td th:text= "${supplier['phone']}"/>
                <td>פקס:</td>
                <td th:text= "${supplier['fax']}"/>
                <td>כתובת מייל:</td>
                <td th:text= "${supplier['email']}"/>
            </tr>

        </table>

        <table>
            <tr>
                <td colspan = "6"><b>כתובת העסק</b></td>
            </tr>
            <tr>
                <td>רחוב:</td>
                <td th:text= "${supplier['businessAddress']}"/>
                <td>עיר:</td>
                <td th:text= "${supplier['businessCity']}"/>
                <td>מיקוד:</td>
                <td th:text= "${supplier['zip']}"/>
            </tr>
        </table>
    </div>

    <div class="supplier_order">
        <table>
            <tr>
                <th>
                    <input id="items_in_order" name="items_in_order" type="hidden" value="0"/>
                    <input id="items_id_str" name="items_id_str" type="hidden" value=""/>
                    <input id="items_qty_str" name="items_qty_str" type="hidden" value=""/>
                </th>
                <th>מק״ט</th>
                <th>תאור</th>
                <th>יחידה</th>
                <th>מחיר</th>
                <th>כמות</th>
                <th>סה״כ</th>
                <th><input type="button" class="button_short" onclick="addItemLine()" value="+"/></th>
            </tr>
            <tr th:each="item,iter : ${items}" th:id="'item_' + ${iter.index}" style="display:none;">
                <td><p th:id="'item_no_' + ${item['id']}" th:text="${iter.index}+1"></p></td>
                <td>
                    <input th:id="'item_iter_' + ${iter.index}" type="hidden" th:value="${iter.index}"/>
                    <input th:id="'item_id_' + ${iter.index}" th:name="'item_id_' + ${iter.index}" type="hidden" th:value="na"/>
                    <p th:id="'item_cat_' + ${iter.index}"></p>
                </td>
                <td>
                    <input class="input_field_short_0" style="width:230px;" type="text" placeholder="בחר מוצר" th:name="'item_name_' + ${iter.index}" list="itemList" th:id="${iter.index}" onchange="updateItem(this.id);"/>
                    <datalist id="itemList">
                        <option th:each="list_item : ${items}" th:value="${list_item['name']}" th:text="${list_item['name']}" />
                    </datalist>
                </td>
                <td><p th:id="'item_unit_' + ${iter.index}">יחידה</p></td>
                <td><p th:id="'item_price_' + ${iter.index}"></p></td>
                <td>
                    <input class="input_field_short_0" style="width:50px" th:id="'item_qty_' + ${iter.index}" type="text" th:name="'item_qty_' + ${iter.index}" value="" th:alt="${iter.index}" onchange="updateQty(this.alt);"/>
                </td>
                <td><p th:id="'item_total_' + ${iter.index}"></p></td>
            </tr>
        </table>

        <table style="display:none;">
            <tr th:each="item,iter : ${items}" th:id="'hidden_item_' + ${iter.index}">
                <td><input type="text" th:id="'hidden_item_price_' + ${iter.index}" th:value="${item['buyingCost']}"/></td>
                <td><input type="text" th:id="'hidden_item_id_' + ${iter.index}" th:value="${item['id']}"/></td>
                <td><input type="text" th:id="'hidden_item_cat_' + ${iter.index}" th:value="${item['barcode']}"/></td>
                <td><input type="text" th:id="'hidden_size_' + ${iter.index}" th:value="${iter.size}"/></td>
                <td><input type="text" th:id="'hidden_name_' + ${iter.index}" th:value="${item['name']}"/></td>
            </tr>
        </table>
    </div>
</form>

<script>
        /*<![CDATA[*/

    function addItemLine() {
       items = parseInt(document.getElementById('items_in_order').value)
       itemsToAdd = parseInt(document.getElementById('hidden_size_0').value);
       if (itemsToAdd > items) {
          document.getElementById('item_' + items).style.display = "table-row";
          document.getElementById('items_in_order').value = items + 1;
          document.getElementById('items_id_str').value = document.getElementById('items_id_str').value + ",";
          document.getElementById('items_qty_str').value = document.getElementById('items_qty_str').value + ",";
       }
    }

    function updateItem(id) {
       productName = document.getElementById(id).value;
       numberOfItems = parseInt(document.getElementById('hidden_size_0').value);
       barcode = 'na';
       itemId = 'na';
       cost = 0;
       for (i = 0; i < numberOfItems; i++) {
          hiddenProductName =  document.getElementById('hidden_name_' + i).value;
          if (productName.localeCompare(hiddenProductName) == 0) {  // Find product name in hidden table
             itemId = document.getElementById('hidden_item_id_' + i).value;
             barcode = document.getElementById('hidden_item_cat_' + i).value;
             cost = parseFloat(document.getElementById('hidden_item_price_' + i).value);
             insertToStr(0, id,itemId);
          }
       }
       document.getElementById('item_cat_' + id).innerHTML = barcode;
       document.getElementById('item_id_' + id).value = itemId;
       document.getElementById('item_price_' + id).innerHTML = cost;
       if (document.getElementById('item_qty_' + id).value != null) {
          document.getElementById('item_total_' + id).innerHTML = (cost * document.getElementById('item_qty_' + id).value).toFixed(2);
       }
    }

    function updateQty(id) {
       qty = document.getElementById('item_qty_' + id).value;
       cost = parseFloat(document.getElementById('item_price_' + id).innerHTML);
       if (cost != null) {
          document.getElementById('item_total_' + id).innerHTML = (cost * qty).toFixed(2);
       }
       insertToStr(1, id, qty);
    }

    function insertToStr(type, location, data) {
       if (type == 0) { // Insert item id
          str = document.getElementById('items_id_str').value;
       } else if (type == 1) { // Insert qty
          str = document.getElementById('items_qty_str').value;
       }
       elements = str.split(",");
       elements[location] = data;
       str = elements.join(",");
       if (type == 0) { // Insert item id
          document.getElementById('items_id_str').value = str;
       } else if (type == 1) { // Insert qty
          document.getElementById('items_qty_str').value = str;
       }
    }

/*]]>*/

</script>
</body>
</html>
