<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <title>הזמנה חדשה</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleNew.css}"/>
</head>

<body>
<div th:include="TopMenu" />

<h1>הזמנת ספק חדשה</h1>
<hr/>
<form th:action="@{/admin/suppliers/orders/add/submit}" method="post">
    <table>
        <tr>
            <td>מספר הזמנה:</td>
            <td th:text= "${supplierDetails['orderCode']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מספר ספק:</td>
            <td th:text= "${supplierDetails['supplierCode']}"/>
        </tr>
        <tr>
            <td>שם הספק:</td>
            <td th:text= "${supplierDetails['supplierName']}"/>
        </tr>
        <tr/><tr/><tr/><tr/><tr/><tr/><tr/>
        <tr/><tr/><tr/><tr/><tr/><tr/><tr/>
        <tr>
            <td>מספר טלפון:</td>
            <td th:text= "${supplierDetails['phone']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>מספר טל׳ נוסף:</td>
            <td th:text= "${supplierDetails['phone2']}"/>
        </tr>
        <tr>
            <td>כתובת:</td>
            <td th:text= "${supplierDetails['address']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>יישוב:</td>
            <td th:text= "${supplierDetails['city']}"/>
        </tr>
        <tr>
            <td>מייל:</td>
            <td th:text= "${supplierDetails['email']}"/>
        </tr>
    </table>
    <hr/>
    <input type="hidden" th:value="${supplierDetails['id']}" name="supplierId" id="supplierId" />
    <table>
        <tr th:each="column : ${columns}">
            <td><img th:src="${column['product']['imageUrl']}" width="50" /></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['item']['barcode']}"/>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td th:text="${column['product']['name']}"/>
            <td><input type="text" th:id="'item' + ${column['item']['id']}" th:name="'item' + ${column['item']['id']}"/></td>
        </tr>
    </table>

    <hr/>
    <input type="submit"/>
    <hr/>
</form>
</body>
</html>