<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <title>Suppliers Details</title>
</head>

<body style="margin: 0px;">

<div th:include="Header" />

<form th:action="@{/admin/suppliers/supplier/submitEdit}" method="post">
<div id="page_title">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">ניהול ספקים - פרטי ספק - עריכה</p>
            </td>
            <td width="175px"></td>
            <td><input class="button" type="button"  th:onclick = "'location.href = \'' + @{/admin/suppliers/supplier} + '?id=' + ${column['id']} + '\';'" value="ביטול"/></td>
            <td><input class="button" type="submit"  value="שמור שינויים"/></td>
        </tr>
    </table>
</div>

<div class="supplier_details">
    <table>
        <tr>
            <td>שם ספק:</td>
            <td><input class="input_field_short" type="text" id="supplierName" th:value= "${column['supplierName']}" name="supplierName" /></td>
            <td>מספר ספק:</td>
            <td th:text= "${column['id']}">
            </td>
            <td>עוסק מורשה:</td>
            <td><input class="input_field_short" type="text" id="licensedDealer" th:value= "${column['licensedDealer']}" name="licensedDealer" /></td>
            <td><input type="hidden" id="id" name="id" th:value="${column['id']}" /></td>
        </tr>
        <tr>
            <td>איש קשר:</td>
            <td><input class="input_field_short" type="text" id="contactMan" th:value= "${column['contactMan']}" name="contactMan" /></td>
            <td>טלפון:</td>
            <td><input class="input_field_short" type="text" id="phone" th:value= "${column['phone']}" name="phone" /></td>
            <td>פקס:</td>
            <td><input class="input_field_short" type="text" id="fax" th:value= "${column['fax']}" name="fax" /></td>
            <td>כתובת מייל:</td>
            <td><input class="input_field_short" type="text" id="email" th:value= "${column['email']}" name="email" /></td>
        </tr>
        <tr>
            <td>קשר נוסף:</td>
            <td><input class="input_field_short" type="text" id="contactMan2" th:value= "${column['contactMan2']}" name="contactMan2" /></td>
            <td>טלפון:</td>
            <td><input class="input_field_short" type="text" id="phone2" th:value= "${column['phone2']}" name="phone2" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan = "4"><b>כתובת העסק</b></td>
        </tr>
        <tr>
            <td>רחוב:</td>
            <td><input class="input_field_short" type="text" id="street" th:value= "${column['businessAddress']}" name="street" /></td>
            <td>עיר:</td>
            <td><input class="input_field_short" type="text" id="city" th:value= "${column['businessCity']}" name="city" /></td>
            <td>מיקוד:</td>
            <td><input class="input_field_short" type="text" id="zip" th:value= "${column['zip']}" name="zip" /></td>
        </tr>
    </table>

    <table>
        <tr>
            <td colspan = "8"><b>פרטי בנק</b></td>
        </tr>
        <tr>
            <td>שם בעל חשבון:</td>
            <td><input class="input_field_short" type="text" id="bankAccountOwner" th:value= "${column['bankAccountOwner']}" name="bankAccountOwner" /></td>
            <td>מספר בנק:</td>
            <td><input class="input_field_short" type="text" id="bankNo" th:value= "${column['bankNo']}" name="bankNo" /></td>
            <td>מספר סניף:</td>
            <td><input class="input_field_short" type="text" id="bankBranchNo" th:value= "${column['bankBranchNo']}" name="bankBranchNo" /></td>
            <td>מספר חשבון:</td>
            <td><input class="input_field_short" type="text" id="bankAccountNo" th:value= "${column['bankAccountNo']}" name="bankAccountNo" /></td>
        </tr>
    </table>

</div>
<div class="supplier_factors">
    <table>
        <thead>
        <tr>
            <td><input class="checkbox" type="checkbox" th:checked="${column['orderInventoryFactor']['enable']}" name="orderInventoryFactorEnable"/>פקטור הזמנות</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>יום א</th>
            <th>יום ב</th>
            <th>יום ג</th>
            <th>יום ד</th>
            <th>יום ה</th>
            <th>יום ו</th>
            <th>שבת</th>
        </tr>
        <tr>
            <td><input class="input_field_short small" type="text" id="orderInventoryFactorDay1" th:value= "${column['orderInventoryFactor']['day1']}" name="orderInventoryFactorDay1" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay2" th:value= "${column['orderInventoryFactor']['day2']}" name="orderInventoryFactorDay2" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay3" th:value= "${column['orderInventoryFactor']['day3']}" name="orderInventoryFactorDay3" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay4" th:value= "${column['orderInventoryFactor']['day4']}" name="orderInventoryFactorDay4" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay5" th:value= "${column['orderInventoryFactor']['day5']}" name="orderInventoryFactorDay5" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay6" th:value= "${column['orderInventoryFactor']['day6']}" name="orderInventoryFactorDay6" /></td>
            <td><input class="input_field_short" type="text" id="orderInventoryFactorDay7" th:value= "${column['orderInventoryFactor']['day7']}" name="orderInventoryFactorDay7" /></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="supplier_factors">
    <table>
        <thead>
        <tr>
            <td><input class="checkbox" type="checkbox" th:checked="${column['orderWeightFactor']['enable']}" name="orderWeightFactorEnable"/>פקטור משקל</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>יום א</th>
            <th>יום ב</th>
            <th>יום ג</th>
            <th>יום ד</th>
            <th>יום ה</th>
            <th>יום ו</th>
            <th>שבת</th>
        </tr>
        <tr>
            <td><input class="input_field_short small" type="text" id="orderWeightFactorDay1" th:value= "${column['orderWeightFactor']['day1']}" name="orderWeightFactorDay1" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay2" th:value= "${column['orderWeightFactor']['day2']}" name="orderWeightFactorDay2" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay3" th:value= "${column['orderWeightFactor']['day3']}" name="orderWeightFactorDay3" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay4" th:value= "${column['orderWeightFactor']['day4']}" name="orderWeightFactorDay4" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay5" th:value= "${column['orderWeightFactor']['day5']}" name="orderWeightFactorDay5" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay6" th:value= "${column['orderWeightFactor']['day6']}" name="orderWeightFactorDay6" /></td>
            <td><input class="input_field_short" type="text" id="orderWeightFactorDay7" th:value= "${column['orderWeightFactor']['day7']}" name="orderWeightFactorDay7" /></td>
        </tr>
        </tbody>
    </table>
</div>
</form>

</body>
</html>