<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Suppliers orders</title>
</head>

<body style="margin:0px;">

<div th:include="Header" />

<div id="page_title">
    <table>
        <tr>
            <td>
                <p style="display:inline;">הזמנת ספקים</p>
            </td>
            <td>
                <select class="filter" id="filter" th:onchange="'location.href = \'' + @{/admin/suppliers/orders} + '?filter=\' + filter.value;'">
                    <optgroup>
                        <option th:text="${filter}" selected="selected" />
                    </optgroup>
                    <optgroup>
                        <option value="0">הכל</option>
                        <option value="1">שנה</option>
                        <option value="2">3 חודשים</option>
                        <option value="3">חודש</option>
                        <option value="4">שבוע</option>
                    </optgroup>
                </select>
            </td>
            <td width="295px"></td>
            <td th:if="${generateState} == 0"><input type="button" onclick="openDialog();" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/></td>
            <td th:if="${generateState} == 1" colspan = "2">
                <input class="input_field" type="text" id="datepicker" placeholder="תאריך הזמנות למסירה" />
                <script>
                $( function() {
                    $( "#datepicker" ).datepicker({
                                                   constrainInput: true,   // prevent letters in the input field
                                                   beforeShowDay: $.datepicker.noWeekends,     // Disable selection of weekends
                                                   firstDay: 0});
                } );
            </script>
                <input class="button" type="button" onclick="openDialog();" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/>
            </td>
            <td th:if="${generateState} == 2"><input class="button" type="button" onclick="openDialog();" onmouseover="" style="cursor: pointer;" value="חולל הזמנה אוטומטית"/></td>
            <td width="50px">
            </td>
            <td><input class="button" type="button" th:onclick="'openSupplierDialog();'" value="הזמנה חדשה"/></td>
        </tr>
    </table>
</div>

<div class="supplier_orders">
<table>
    <tr>
        <th> מספר הזמנה</th>
        <th>שם ספק</th>
        <th>מספר ספק</th>
        <th>סכום הזמנה</th>
        <th>תאריך הזמנה</th>
        <th colspan="2"></th>
    </tr>
    <div th:each="column : ${columns}">
        <tr th:if="${column['newDay']}">
            <td colspan="10">
                <p/>
            </td>
        </tr>
        <tr>
            <!--th:title="${column['orderNumber']}" th:onclick="'location.href = \'' + @{/admin/clients_orders/get} + '?id=' + ${column['id']} + '\';'">-->
            <td th:text="${column['supplierOrderNumber']}"  th:onclick="'location.href = \'' + @{/admin/suppliers/orders/order} + '?id=' + ${column['id']} + '\';'" onmouseover="" style="cursor: pointer;"/>
            <td th:text="${column['supplierName']}"/>
            <td th:text="${column['supplierNumber']}"/>
            <td th:text="${column['orderAmount']}"/>
            <td th:text="${column['orderCreateDate']}"/>
            <td><input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/certificate} + '?email=false&amp;id=' + ${column['id']} + '\';'" value="הזמנת ספק"/></td>
            <td th:if="${column['orderStatus']} != 2"><input class="button_short" type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/certificate} + '?email=true&amp;id=' + ${column['id']} + '\';'" value="שליחת הזמנה"/></td>
            <td th:if="${column['orderStatus']} == 2"><input class="button_short05" type="button" th:onclick="'location.href = \'' + @{/admin/suppliers/orders/certificate} + '?email=true&amp;id=' + ${column['id']} + '\';'" value="שליחת הזמנה"/></td>
        </tr>
    </div>
</table>
</div>

<div id="dialog" title="עדכן פקטור" style="width: 420px; display: none;">
    <div style="height: 400px; overflow: auto; width: 420px;">
        <form method="post" th:action="@{/admin/autoGenerateSuppliersOrder}" id="generateOrderForm">
        <table>
            <tr>
                <td>מזהה</td>
                <td>שם ספק</td>
                <td>פקטור יומי להיום</td>
            </tr>
            <tr th:each="supplier : ${suppliers}" >
                <td th:text="${supplier['id']}" />
                <td th:text="${supplier['name']}" />
                <td><input th:name="${'factor_' + supplier['id']}" th:value="${supplier['todayOrderInventoryFactor']}"/></td>
            </tr>
        </table>

            <input th:if="${generateState} == 1" name="deliveryDate" type="hidden" id="deliveryDate" />
        <span th:if="${generateState} == 0"><input type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : document.getElementById(\'generateOrderForm\').submit();'" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/></span>
        <span th:if="${generateState} == 1"><input type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : document.getElementById(\'deliveryDate\').value = document.getElementById(\'datepicker\').value; document.getElementById(\'generateOrderForm\').submit();'" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/></span>
        <span th:if="${generateState} == 2"><input type="button" th:onclick="'!confirm(\'אתה בטוח?\') ? null : document.getElementById(\'generateOrderForm\').submit();'" onmouseover="" style="cursor: pointer;" value="חולל הזמנה"/></span>
        </form>
    </div>
    <script>
        function openDialog() {
            $( function() {
                $( "#dialog" ).dialog({width: "420px"});
            } );
        }
    </script>
</div>

<div id="supplierNewOrder" title="הזמנה חדשה" class = "orderDialogCoupon" style="display: none;">
    <div>
        <form method="post" th:action="@{/admin/suppliers/orders/new}">
            <input type="text" placeholder="בחר ספק" name="supplierId" list="supplierList"/>
            <datalist id="supplierList">
                <option th:each="supplier : ${supplierList}" th:value="${supplier['id']}" th:text="${supplier['name']}" />
            </datalist>
            <button>בצע</button>
        </form>
    </div>
</div>

<script>
   function openSupplierDialog() {
      $(function() {
         $( "#supplierNewOrder" ).dialog();
      });
   }
</script>

</body>
</html>
