<div id='cssmenu' style="z-index: 100;">
    <ul>
        <li><a href='/admin/products'><span>מוצרים</span></a></li>
        <li><a href='/admin/customers/orders'><span>הזמנת לקוחות</span></a></li>
        <li><a href='/admin/suppliers/orders'><span>הזמנת ספקים</span></a></li>
        <li><a href='/admin/customers'><span>ניהול לקוחות</span></a></li>
        <li><a href='/admin/suppliers'><span>ניהול ספקים</span></a></li>
        <li><a href='/admin/packingFactory'><span>בית אריזה</span></a></li>
        <li><a href='/admin/coupons'><span>קופונים</span></a></li>
        <li><a href='/admin/reports'><span>דוחות</span></a></li>
        <li><a href='/admin/export'><span>סנכרן</span></a></li>
        <li><a href='/admin/manager'><span>מנהל</span></a></li>
        <li><a href='/admin/logout'><span>התנתק</span></a></li>
    </ul>
</div>
<br/><br/>