<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title>Item Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.shookbook.co.il/backoffice/backoffice_styles.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>

<body style="margin: 0px;">
<div th:include="Header" />

<div id="page_title" dir="rtl">
    <table>
        <tr>
            <td colspan="3">
                <p style="display:inline;">מנהל - ניהול משתמשים</p>
            </td>
            <td width="600px"></td>
            <td>
                <form th:action="@{/admin/submit/addWorker}" method="post">
                    <button class="button" type="submit">עובד חדש</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div id="workers_table">
    <table>
        <thead>
        <tr >
            <th>מס׳</th>
            <th>שם משתמש</th>
            <th>סוג</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>מספר עובד</th>
            <th>תעודת זהות</th>
            <th>דוא״ל</th>
            <th>IMEI</th>
            <th>רכב</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="worker : ${workers}" >
            <form th:action="@{/admin/submit/worker}" method="post">
                <input type="hidden" name="id" id="id" th:value="${worker['id']}"/>
                <td th:text="${worker['id']}" />
                <td><input class="input_field_very_short" type="text" name="username" id="username" th:value="${worker['username']}" placeholder="שם משתמש"/></td>
                <td>
                    <select class="filter_short" name="type" id="type">
                        <option value="0" th:selected="${worker['type'].ordinal() == 0}">אורז</option>
                        <option value="3" th:selected="${worker['type'].ordinal() == 3}">מנהל</option>
                        <option value="4" th:selected="${worker['type'].ordinal() == 4}">שרות לקוחות</option>
                        <option value="7" th:selected="${worker['type'].ordinal() == 7}">שליח</option>
                        <option value="6" th:selected="${worker['type'].ordinal() == 6}">אדמין</option>
                    </select>
                </td>
                <td><input class="input_field_short" type="text" name="firstName" id="firstName" th:value="${worker['firstName']}" placeholder="שם פרטי"/></td>
                <td><input class="input_field_short" type="text" name="lastName" id="lastName" th:value="${worker['lastName']}" placeholder="שם משפחה"/></td>
                <td><input class="input_field_short" type="text" name="sbId" id="sbId" th:value="${worker['sbId']}" placeholder="מספר עובד"/></td>
                <td><input class="input_field_short" type="text" name="isrId" id="isrId" th:value="${worker['isrId']}" placeholder="תעודת זהות"/></td>
                <td><input class="input_field_long" type="text" name="email" id="email" th:value="${worker['email']}" placeholder="דוא״ל"/></td>
                <td th:if="${worker['type'].ordinal() == 7}"><input class="input_field_long" type="text" name="imei" id="imei" th:value="${worker['imei']}" placeholder="IMEI"/></td>
                <td th:if="${worker['type'].ordinal() == 7}">
                    <select class="filter_long" name="car" id="car">
                        <option th:each="car : ${cars}" th:selected="${worker['assignedCar']} == ${car['id']}" th:value="${car['id']}" th:text="${car['type']} + '-' + ${car['id']}"></option>
                    </select>
                </td>
                <td th:if="${worker['type'].ordinal() != 7}"></td>
                <td th:if="${worker['type'].ordinal() != 7}"></td>
                <td>
                    <button class="button_short" type="submit">עדכן</button>
                    <button class="button_short" type="button" th:onclick="'showChangePassword(\'' + ${worker['id']} + '\');'">שנה סיסמא</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

<div id="changePasswordDiv" title="שנה סיסמא" style="display:none">
<form th:action="@{/admin/submit/password}" method="post" id="changePasswordForm" name="changePasswordForm">
    <input type="hidden" id="passwordId" name="passwordId"/>
    <input type="password" id="password" name="password" placeholder="סיסמא" class="text"/><br />
    <input type="password" id="password2" name="password2" placeholder="סיסמא שוב" class="text"/>
</form>
</div>
<script>
    function showChangePassword(workerId) {
        $("#changePasswordDiv").dialog({
            resizable: false,
            modal: true,
            title: 'שנה סיסמא',
            dialogClass: 'custom-ui-widget-header-warning',
            closeOnEscape: false,
            buttons: {
                "סגור": function () {
                    $(this).dialog("close");
                },
                "עדכן": function () {
                    $(this).dialog("close");
                    document.getElementById("passwordId").value = workerId;
                    document.changePasswordForm.submit();
                    document.changePasswordForm.reset();
                }
            },
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide()
            }
        }).css('display', 'block');
    }
</script>
</body>
</html>