<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleNew.css}"/>
    <title>Clients orders</title>
    <!--<style>-->
    <!--tab { padding-right: 2em; }-->
    <!--tab2 { padding-right: 3em; }-->
    <!--tab3 { padding-right: 3.5em; }-->
    <!--tab4 { padding-right: 1.5em; }-->

    <!--</style>-->
</head>
<body>
<div th:include="TopMenu" />
<h2>שגיאה</h2>

    <p>
    <b>
    ישנה טעות בהזנת הנתונים
    </b>
    </p>

    <p>
    1. בדוק כי תאריך התחלה הוא לפני תאריך הסיום.
    </p>

    <p>
    2. בדוק כי מספר הבחירות שבחרת הוא עד 3.
    </p>

</body>
</html>